In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({'key1': list('aabba'),
                   'key2': ['one', 'two', 'one', 'two', 'one'],
                   'data1': np.random.randn(5),
                   'data2': np.random.randn(5)})

df

      data1     data2 key1 key2
0  0.739656 -0.307201    a  one
1 -0.407624 -0.737813    a  two
2 -0.764144  1.517942    b  one
3  0.603532 -1.499543    b  two
4  1.610208 -0.514321    a  one

In [7]:
grouped = df['data1'].groupby(df['key1'])
grouped.mean()

key1
a    0.647413
b   -0.080306
Name: data1, dtype: float64

In [8]:
type(grouped)

pandas.core.groupby.SeriesGroupBy

In [9]:
states=np.array(['Ohio','California','California','Ohio','Ohio'])
years=np.array([2005,2005,2006,2005,2006])
df['data1'].groupby([states, years]).mean()

California  2005   -0.407624
            2006   -0.764144
Ohio        2005    0.671594
            2006    1.610208
Name: data1, dtype: float64

In [10]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df.groupby('key1').mean()

         data1     data2
key1
a     0.647413 -0.519778
b    -0.080306  0.009200