<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><span><a href="#CHAPTER-6--Data-loading,Storage,and-File-Formats" data-toc-modified-id="CHAPTER-6--Data-loading,Storage,and-File-Formats-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>CHAPTER 6  Data loading,Storage,and File Formats</a></span><ul class="toc-item"><li><span><a href="#Reading-and-Writing-Data-in-Text-Format" data-toc-modified-id="Reading-and-Writing-Data-in-Text-Format-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Reading and Writing Data in Text Format</a></span><ul class="toc-item"><li><span><a href="#Reading-Text-Files-in-Pieces" data-toc-modified-id="Reading-Text-Files-in-Pieces-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Reading Text Files in Pieces</a></span></li><li><span><a href="#Writing-Data-to-Text-Format" data-toc-modified-id="Writing-Data-to-Text-Format-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Writing Data to Text Format</a></span></li><li><span><a href="#Working-with-Delimited-Formats" data-toc-modified-id="Working-with-Delimited-Formats-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Working with Delimited Formats</a></span></li><li><span><a href="#JSON-Data" data-toc-modified-id="JSON-Data-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>JSON Data</a></span></li><li><span><a href="#XML-and-HTML:-Web-Scraping" data-toc-modified-id="XML-and-HTML:-Web-Scraping-1.1.5"><span class="toc-item-num">1.1.5&nbsp;&nbsp;</span>XML and HTML: Web Scraping</a></span></li></ul></li></ul></li></ul></div>

# CHAPTER 6  Data loading,Storage,and File Formats 
<font color=LightGrey>
数据加载, 存储与文件格式

Accessing data is a necessary first step for using most of the tools in this book. I’m going to be focused on data input and output using pandas, though there are numerous tools in other libraries to help with reading and writing data in various formats.  

<font color=LightGrey>
访问数据是在本书中使用大多数工具的必要步骤。我将重点关注使用 pandas 进行数据的输入和输出，尽管在其他库中有很多工具可以帮助我们以不同的格式读取和写入数据。  

<font color=black>
Input and output typically falls into a few main categories: reading text files and other more efficient on-disk formats, loading data from databases, and interacting with network sources like web APIs.

<font color=LightGrey>
输入和输出通常分为几个主要类别:读取文本文件和其他更高效的磁盘格式、从数据库加载数据，以及与 web api 等网络资源进行交互。

## Reading and Writing Data in Text Format
<font color=LightGrey>
读写文本格式的数据

pandas features a number of functions for reading tabular data as a DataFrame object. Table 6-1 summarizes some of them, though read_csv and read_table are likely the ones you’ll use the most.

<font color=LightGrey>
pandas 有许多功能，可以将表格式的数据作为一个 DataFrame 对象读取。表6-1总结了其中一些，虽然 readcsv 和 readtable 很可能是您使用最多的。

Table 6-1. Parsing functions in pandas

Function|Description
:-|:-
read_csv | Load delimited data from a file, URL, or file-like object; use comma as default delimiter
read_table | Load delimited data from a file, URL, or file-like object; use tab ('\t') as default delimiter
read_fwf | Read data in fixed-width column format (i.e., no delimiters)
read_clipboard | Version of read_table that reads data from the clipboard; useful for converting tables from web pages
read_excel | Read tabular data from an Excel XLS or XLSX file
read_hdf | Read HDF5 files written by pandas
read_html | Read all tables found in the given HTML document
read_json | Read data from a JSON (JavaScript Object Notation) string representation
read_msgpack | Read pandas data encoded using the MessagePack binary format
read_pickle | Read an arbitrary object stored in Python pickle format
read_sas | Read a SAS dataset stored in one of the SAS system’s custom storage formats
read_sql | Read the results of a SQL query (using SQLAlchemy) as a pandas DataFrame
read_stata | Read a dataset from Stata file format
read_feather | Read the Feather binary file format
|------------------------------------------------------------------------------------------------------------------------------------------------------------------

<font color=LightGrey>
表 6-1. 在 pandas 中解析函数

函数|描述
:-|:-
read_csv | 从文件、URL或类似文件的对象中加载分隔的数据;使用逗号作为默认分隔符
read_table | 从文件、URL或类似文件的对象中加载分隔的数据;使用tab('\t')作为默认的分隔符
read_fwf | 以固定宽度的列格式读取数据(即:,没有分隔符)
read_clipboard | 从剪贴板读取数据的 read_table 版本;用于从网页转换表格
read_excel | 从 Excel XLS 或 XLSX 文件中读取表格数据
read_hdf | 读取由 pandas 生成的 HDF5 文件
read_html | 读取给定 HTML 文档中找到的所有表
read_json | 从 JSON(JavaScript对象表示法)字符串读取数据
read_msgpack | 读取用 MessagePack 二进制格式编码的 pandas 数据
read_pickle | 读取以 Python pickle 格式存储的任意对象
read_sas | 读取存储在 SAS 系统的自定义存储格式之一的 SAS 数据集
read_sql | 将 SQL 查询的结果(使用SQLAlchemy)作为 pandas 的 DataFrame
read_stata | 从 Stata 文件格式读取数据集
read_feather | 读取 Feather 二进制文件格式
|------------------------------------------------------------------------------------------------------------------------------------------------------------------

I’ll give an overview of the mechanics of these functions, which are meant to convert text data into a DataFrame. The optional arguments for these functions may fall into a few categories:

<font color=LightGrey>
我将概述这些函数的机制，这些函数的目的是将文本数据转换为 DataFrame。这些函数的可选参数可能分为以下几个类别:

<font color=black>
Indexing  
Can treat one or more columns as the returned DataFrame, and whether to get column names from the file, the user, or not at all.

<font color=LightGrey>
索引  
可以将一个或多个列作为返回的 DataFrame，以及是否从文件,用户获取列名. 

<font color=black>
Type inference and data conversion  
This includes the user-defined value conversions and custom list of missing value markers.

<font color=LightGrey>
类型推断和数据转换   
这包括用户定义的值的转换,和缺少值标记的自定义列表. 

<font color=black>
Datetime parsing  
Includes combining capability, including combining date and time information spread over multiple columns into a single column in the result.

<font color=LightGrey>
Datetime解析   
包括组合功能，包括将多个列的日期和时间信息合并到结果中的单个列中。

<font color=black>
Iterating  
Support for iterating over chunks of very large files.

<font color=LightGrey>
迭代  
支持对非常大的文件块进行迭代。

<font color=black>
Unclean data issues  
Skipping rows or a footer, comments, or other minor things like numeric data with thousands separated by commas.

<font color=LightGrey>
不规整数据问题  
跳过行或页脚、注释或其他一些不重要的东西(比如由成千上万个逗号隔开的数值数据)

<font color=black>
Because of how messy data in the real world can be, some of the data loading functions (especially read_csv) have grown very complex in their options over time. It’s normal to feel overwhelmed by the number of different parameters (read_csv has over 50 as of this writing).The online pandas documentation has many examples about how each of them works, so if you’re struggling to read a particular file, there might be a similar enough example to help you find the right parameters.

<font color=LightGrey>
由于现实中数据的是很凌乱的，一些数据加载函数(特别是read_csv)随着时间的推移他们的使用将变得越来越复杂。感觉被数量众多的不同参数所淹没是正常的(read_csv在撰写本文时已经有超过50个参数)。在线 pandas 文档有很多例子说明它们是如何工作的，所以如果您正在努力阅读某个特定的文件，可能会有一个类似的例子来帮助您找到正确的参数。

<font color=black>
Some of these functions, like pandas.read_csv, perform type inference, because the column data types are not part of the data format. That means you don’t necessarily have to specify which columns are numeric, integer, boolean, or string. Other data formats, like HDF5, Feather, and msgpack, have the data types stored in the format.

<font color=LightGrey>
其中一些功能，比如 pandas.read_csv，会执行类型推断，因为列数据类型不是数据格式的一部分。这意味着您不必指定哪些列是数字、整数、布尔值或字符串。其他的数据格式，如HDF5、Feather 和 msgpack，都有存储在格式中的数据类型。

<font color=black>
Handling dates and other custom types can require extra effort. Let’s start with a small comma-separated (CSV) text file:

<font color=LightGrey>
处理日期和其他定制类型可能需要额外的工作。让我们从一个小型的逗号分隔(CSV)文本文件开始:

In [6]:
!type D:\pydata-book\examples\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

_Here I used the Unix cat shell command to print the raw contents of the file to the screen. If you’re on Windows, you can use type instead of cat to achieve the same effect._

<font color=LightGrey>
_在这里，我使用Unix cat shell命令将文件的原始内容打印到屏幕上。如果你在Windows上，你可以使用 type 而不是 cat 来达到同样的效果。_

Since this is comma-delimited, we can use read_csv to read it into a DataFrame:
<font color=LightGrey>
由于是用逗号分隔的，所以我们可以使用 read_csv 将它读到一个 DataFrame 中:

In [7]:
import pandas as pd
path = 'D:/pydata-book/examples/ex1.csv'
df = pd.read_csv(path)
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

We could also have used read_table and specified the delimiter:
<font color=LightGrey>
我们还可以使用 read_table 并指定分隔符:

In [8]:
df = pd.read_table(path, sep=',')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

A file will not always have a header row. Consider this file:
<font color=LightGrey>
文件不会总是有标题行。考虑一下这个文件:

In [9]:
!type D:\pydata-book\examples\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

To read this file, you have a couple of options. You can allow pandas to assign default column names, or you can specify names yourself:
<font color=LightGrey>
要读这个文件，您有几个选项。你可以允许 pandas 分配默认的列名，或者你可以自己指定名字:

In [10]:
pd.read_csv('D:/pydata-book/examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [11]:
pd.read_csv('D:/pydata-book/examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Suppose you wanted the message column to be the index of the returned DataFrame. You can either indicate you want the column at index 4 or named 'message' using the index_col argument:
<font color=LightGrey>
假设您希望消息列是返回的 DataFrame 的索引。您可以使用 index_col 参数表示您想要指定的索引来自于第4列，或 message 列:

In [12]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('D:/pydata-book/examples/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In the event that you want to form a hierarchical index from multiple columns, pass a list of column numbers or names:
<font color=LightGrey>
如果您想要从多个列中形成一个层次化的索引，请传递一个列号或列名称的列表:

In [13]:
!type D:\pydata-book\examples\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [14]:
parsed = pd.read_csv('D:/pydata-book/examples/csv_mindex.csv', index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In some cases, a table might not have a fixed delimiter, using whitespace or some other pattern to separate fields. Consider a text file that looks like this:
<font color=LightGrey>
在某些情况下，表可能没有固定的分隔符，使用空格或其他模式来分隔字段。考虑一个这样的文本文件:

In [15]:
list(open('D:/pydata-book/examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

While you could do some munging by hand, the fields here are separated by a variable amount of whitespace. In these cases, you can pass a regular expression as a delimiter for read_table. This can be expressed by the regular expression \s+, so we have then:
<font color=LightGrey>
虽然您可以手工进行一些处理，但是这里的字段是由可变数量的空白字符分隔的。在这种情况下，您可以将正则表达式作为 read_table 的分隔符传递。可以通过正则表达式 s+ 来表示，所以我们有了:

In [16]:
result = pd.read_table('D:/pydata-book/examples/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

Because there was one fewer column name than the number of data rows, read_table infers that the first column should be the DataFrame’s index in this special case.  

<font color=LightGrey>
因为列名的数量比列的数量少1，所以在这个特殊情况下, read_table 会推断第一个列应该是这个 DataFrame 的索引。

<font color=black>
The parser functions have many additional arguments to help you handle the wide variety of exception file formats that occur (see a partial listing in Table 6-2). For example, you can skip the first, third, and fourth rows of a file with skiprows:  

<font color=LightGrey>
这些解析器函数有许多额外的参数，可以帮助您处理各种类型的异常文件格式(请参见表6-2的部分清单)。例如，您可以使用 skiprows 跳过文件的第一个、第三个和第四个行:

In [17]:
!type D:\pydata-book\examples\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [18]:
pd.read_csv('D:/pydata-book/examples/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Handling missing values is an important and frequently nuanced part of the file parsing process. Missing data is usually either not present (empty string) or marked by some sentinel value. By default, pandas uses a set of commonly occurring sentinels, such as NA and NULL:
<font color=LightGrey>
处理丢失的值是文件解析过程中一个重要且经常出现的组成部分。丢失的数据通常要么是不存在的(空字符串)，要么是用某个标记值表示。在默认情况下，pandas 会用一组经常出现的标记值进行识别，如 NA 和 NULL:

In [19]:
!type D:\pydata-book\examples\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [20]:
result = pd.read_csv('D:/pydata-book/examples/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [21]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

The na_values option can take either a list or set of strings to consider missing values:
<font color=LightGrey>
na_values 选项可以选择一个列表或一组字符串来考虑缺少的值:

In [22]:
result = pd.read_csv('D:/pydata-book/examples/ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

Different NA sentinels can be specified for each column in a dict:
<font color=LightGrey>
可以用一个字典为各列指定不同的 NA 标记值:

In [23]:
sentinels = {'message': ['foo', 'NA'], 'something':['two']}
pd.read_csv('D:/pydata-book/examples/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

Table 6-2 lists some frequently used options in pandas.read_csv and pandas.read_table.

<font color=LightGrey>
表6-2 列出了一些 read_csv 和 pandas.read_table 的常用的选项。

Table 6-2. Some read_csv/read_table function arguments

Argument|Description
:-|:-
path | String indicating filesystem location, URL, or file-like object
sep or delimiter | Character sequence or regular expression to use to split fields in each row
header | Row number to use as column names; defaults to 0 (first row), but should be None if there is no header row
index_col | Column numbers or names to use as the row index in the result; can be a single name/number or a list of them for a hierarchical index
names | List of column names for result, combine with header=None
skiprows | Number of rows at beginning of file to ignore or list of row numbers (starting from 0) to skip.
na_values | Sequence of values to replace with NA.
comment | Character(s) to split comments off the end of lines.
parse_dates | Attempt to parse data to datetime; False by default. If True, will attempt to parse all columns.Otherwise can specify a list of column numbers or name to parse. If element of list is tuple or list, will combine multiple columns together and parse to date (e.g., if date/time split across two columns).
keep_date_col | If joining columns to parse date, keep the joined columns; False by default.
converters | Dict containing column number of name mapping to functions (e.g., {'foo': f} would apply the function f to all values in the 'foo' column).
dayfirst | When parsing potentially ambiguous dates, treat as international format (e.g., 7/6/2012 -> June 7, 2012); False by default.
date_parser | Function to use to parse dates.
nrows | Number of rows to read from beginning of file.
iterator | Return a TextParser object for reading file piecemeal.
chunksize | For iteration, size of file chunks.
skip_footer | Number of lines to ignore at end of file.
verbose | Print various parser output information, like the number of missing values placed in non-numeric columns.
encoding | Text encoding for Unicode (e.g., 'utf-8' for UTF-8 encoded text).
squeeze | If the parsed data only contains one column, return a Series.
thousands | Separator for thousands (e.g., ',' or '.').
|------------------------------------------------------------------------------------------------------------------------------------------------------------------

<font color=LightGrey>
表6-2. 一些read_csv & read_table函数参数

参数|描述
:-|:-
path | 表示文件系统位置、URL或类似文件类型对象的字符串
sep 或 delimiter | 用于对行中各字段进行拆分的字符序列或正则表达式
header | 用作列名的行号.默认值为0(第一行)，但是如果没有 header 行，则应该设置为None
index_col | 用作行索引的列编号或列名.可以是一个单独的名称/数字，或者是一个用于分级索引的列表(层次化索引)
names | 用于结果的列名列表，与header=None组合
skiprows | 需要忽略的行数(从文件开始算起),或需要跳过的行号列表(从0开始)
na_values | 一组用于替换NA的值的序列。
comment | 用于将注释信息从行尾拆分出去的字符(一个或多个)
parse_dates | 尝试将数据解析为datetime;默认为False。如果是True，则尝试解析所有列。此外，还可以指定需要解析的一组列号或列名.如果列表元素是元组或列表，则会将多个列组合在一起，并进行日期解析工作(例如，日期/时间分别在两个列中)。
keep_date_col | 如果连接多列来解析日期，则保持参与连接的列,默认为False。
converters | 由列号/列名跟函数之间的映射关系组成的字典.(例如，{'foo':f}会对'foo'列中的所有值应用函数f)。
dayfirst | 在解析有歧义的日期时，将之视为国际格式(例如，7/6/2012 -> June 7, 2012);默认为False。
date_parser |用于解析日期的函数。
nrows | 从文件开始读取的行数。
iterator | 返回一个TextParser对象，以便逐块读取文件。
chunksize | 文件块的大小(用于迭代)。
skip_footer | 需要忽略的行数(从文件末尾处算起)
verbose | 打印各种解析器输出信息，比如"非数字列中的缺失值的数量"等。
encoding | 用于 Unicode 的文本编码格式(例如，'utf-8'表示用UTF-8编码的文本)。
squeeze | 如果数据经解析后仅含一列，则返回一个 Series。
thousands | 千分位分隔符(例如“，”或“.”)。
|------------------------------------------------------------------------------------------------------------------------------------------------------------------

### Reading Text Files in Pieces
<font color=LightGrey>
逐块读取文本文件

When processing very large files or figuring out the right set of arguments to correctly process a large file, you may only want to read in a small piece of a file or iterate through smaller chunks of the file.
<font color=LightGrey>
在处理很大的文件时,或找出大文件中的参数集以便于后续处理时,你可能只想读取文件的一小部分或逐块对文件进行迭代.

Before we look at a large file, we make the pandas display settings more compact:
<font color=LightGrey>
在我们查看一个大文件之前,我们可以让 pandas 的显示设置更加紧凑

In [24]:
pd.options.display.max_rows = 10

In [25]:
result = pd.read_csv('D:/pydata-book/examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

If you want to only read a small number of rows (avoiding reading the entire file),specify that with nrows:
<font color=LightGrey>
如果你只想读几行(避免读取整个文件), 可以通过nrows指定行数.

In [26]:
pd.read_csv('D:/pydata-book/examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

To read a file in pieces, specify a chunksize as a number of rows:
<font color=LightGrey>
要逐块读取文件,需要通过指定一个行数设置 `chunksize`

In [27]:
chunker = pd.read_csv('D:/pydata-book/examples/ex6.csv', chunksize=1000)
chunker

The TextParser object returned by read_csv allows you to iterate over the parts of the file according to the chunksize. For example, we can iterate over ex6.csv, aggregating the value counts in the 'key' column like so:
<font color=LightGrey>
由read_csv返回的TextParser允许你根据Chunksize对文件的各个部分进行迭代,例如:我们可以迭代处理ex6.csv, 将值计数聚合到"key"中,如下所示:

In [28]:
chunker = pd.read_csv('D:/pydata-book/examples/ex6.csv', chunksize=1000)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
    
tot = tot.sort_values(ascending=False)

tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

TextParser is also equipped with a get_chunk method that enables you to read pieces of an arbitrary size.
<font color=LightGrey>
TextParser还提供了一个get_chunk方法，可以让您读取任意大小的片段。

### Writing Data to Text Format
<font color=LightGrey>
将数据写出到文本文件

Data can also be exported to a delimited format. Let's consider one of the CSV files read before:
<font color=LightGrey>
数据也可以导出为一个带有分割符的格式. 让我们考虑一下之前读过的一个CSV文件.

In [29]:
data = pd.read_csv('D:/pydata-book/examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

Using DataFrame's to_csv method, we can write the data out to a comma-separated file:
<font color=LightGrey>
使用 DataFrame 的 to_csv 方法, 我们可以将数据写为一个带有逗号分割的文件.

In [30]:
data.to_csv('D:/pydata-book/examples/out.csv')

In [31]:
!type D:\pydata-book\examples\out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

Other delimiters can be used, of course (writing to sys.stdout so it prints the text result to the console):
<font color=LightGrey>
当然也可以使用其他分隔符(由于这里直接写出到sys.stdout,所以仅仅是打印出文件结果而已):

In [32]:
import sys
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

Missing values appear as empty strings in the output. You might want to denote them by some other sentinel value:
<font color=LightGrey>
缺失值在输出结果中会被表示为空字符串. 你可能希望将其表示为别的标记值:

In [33]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

With no other options specified, both the row and column labels are written. Both of these can be disabled:
<font color=LightGrey>
如果没有指定其他选项,则会写出所有行列的标签,当然,他们也都可以被禁用:

In [34]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

You can also write only a subset of the columns, and in an order of your choosing:
<font color=LightGrey>
此外,你还可以只输出一部分的列,并以你指定的顺序排列

In [35]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

Series also has a to_csv method:
<font color=LightGrey>
Series 也有一个 to_csv 方法:

In [36]:
import numpy as np

In [37]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('D:/pydata-book/examples/tseries.csv')

In [38]:
!type D:\pydata-book\examples\tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

### Working with Delimited Formats 
<font color=LightGrey>
手工处理分隔符格式

It's possible to load most forms of tabular data from disk using functions like pandas.read_table. In some cases, however, some manual processing may be necessary. It's not uncommon to receive a file with one or more malformed lines that trip up read_table. To illustrate the basic tools, consider a small CSV file:
<font color=LightGrey>
可以使用像pandas.read_table这样的函数从磁盘加载大多数表格数据。然而，在某些情况下，一些手工处理可能是必要的。接收到一个或多个不正常的文件的文件并不少见。为了演示基本的工具，请考虑一个小的CSV文件:

In [39]:
!type D:\pydata-book\examples\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

For any file with a single-character delimiter, you can use Python’s built-in csv module. To use it, pass any open file or file-like object to csv.reader:
<font color=LightGrey>
对于任何具有单字符分隔符的文件，您都可以使用Python内置的csv模块。要使用它，可以将任何打开文件或文件的对象传递给csv.reader:

In [40]:
import csv
f = open('D:/pydata-book/examples/ex7.csv')
reader = csv.reader(f)

Iterating through the reader like a file yields lists of values with any quote characters removed:
<font color=LightGrey>
对这个reader进行迭代将会为每行产生一个列表(并移除所有的引号):

In [41]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

From there, it’s up to you to do the wrangling necessary to put the data in the formthat you need it. Let’s take this step by step. First, we read the file into a list of lines:
<font color=LightGrey>
现在,为了使数据格式合乎要求,你需要对其做一些整理工作,让我们一步一步来。首先，我们将文件读到一列行:

In [42]:
with open('D:/pydata-book/examples/ex7.csv') as f:
    lines = list(csv.reader(f))
    
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

Then, we split the lines into the header line and the data lines:
<font color=LightGrey>
然后,我们将这些行划分为标题行和数据行

In [43]:
header, values = lines[0], lines[1:]

Then we can create a dictionary of data columns using a dictionary comprehension and the expression `zip(*values)`, which transposes rows to columns:
<font color=LightGrey>
然后，我们可以使用字典的方式和`zip(*value)`创建一个字典的数据列,将行转换为列:

In [44]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

CSV files come in many different flavors. To define a new format with a different delimiter, string quoting convention, or line terminator, we define a simple subclass of csv.Dialect:
<font color=LightGrey>
CSV 文件的形式有很多.只需定义csv.Dialect的一个子类即可定义出新格式(如专门的分隔符,字符串引用约定,行结束符等):

In [45]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
    
reader = csv.reader(reader, dialect=my_dialect)

In [46]:
reader

We can also give individual CSV dialect parameters as keywords to csv.reader without having to define a subclass:
<font color=LightGrey>
各个CSV语支的参数也可以以关键字的形式提供给csv.reader,而无须定义子类:

In [47]:
reader = csv.reader(reader, delimiter='|')
reader

The possible options (attributes of csv.Dialect) and what they do can be found in Table 6-3.
<font color=LightGrey>
可能的选项(csv.Dialect的属性)及其所做的工作可以在表6-3中找到。

Table 6-3. CSV dialect options

Argument|Description
:-|:-
delimiter | One-character string to separate fields; defaults to ','.
lineterminator | Line terminator for writing; defaults to '\r\n'. Reader ignores this and recognizes cross-platform line terminators.
quotechar | Quote character for fields with special characters (like a delimiter); default is '"'.
quoting | Quoting convention. Options include csv.QUOTE_ALL (quote all fields), csv.QUOTE_MINIMAL (only fields with special characters like the delimiter), csv.QUOTE_NONNUMERIC, and csv.QUOTE_NONE (no quoting). Defaults to QUOTE_MINIMAL.
skipinitialspace | Ignore whitespace after each delimiter; default is False.
doublequote | How to handle quoting character inside a field; if True, it is doubled.
escapechar | String to escape the delimiter if quoting is set to csv.QUOTE_NONE; disabled by default.
|-----------------------------------------------------------------------------------------------------------------------------------------------------------------

<font color=LightGrey>
表 6-3. CSV语支选项

参数|描述
:-|:-
delimiter | 用于分割字段的单字符串. 默认为','
lineterminator | 用于写操作的行结束符,默认为'\r\n'. 读操作将忽略此选项,它能认出跨平台的行结束符.
quotechar | 用于带有特殊字符(如分隔符)的字段的引用符号. 默认为'"'
quoting | 引用约定.可选值包括csv.QUOTE_ALL(引用所有字段), csv.QUOTE_MINIMAL(值引用带有诸如分隔符之类特殊字符的字段),csv.QUOTE_NONNUMERIC 以及csv.QUOTE_NONE(不引用).默认为QUOTE_MINIMAL.
skipinitialspace | 忽略分隔符后面的空白符. 默认为 False.
doublequote | 如何处理字段内的引用符号. 如果为True, 则双写.
escapechar | 用于对分隔符进行转义的字符串(如果quoting 被设置为csv.QUOTE_NONE). 默认为禁用.
|-----------------------------------------------------------------------------------------------------------------------------------------------------------------

_For files with more complicated or fixed multicharacter delimiters, you will not be able to use the csv module. In those cases, you’ll have to do the line splitting and other cleanup using string’s split method or the regular expression method re.split._
<font color=LightGrey>
_对于那些使用复杂分隔符或固定的多字符分隔符的文件, csv模块就无能为力了. 在这种情况下,你就只能使用字符串的split方法或正则表达式方法re.split进行拆分和其他整理工作了._

To write delimited files manually, you can use csv.writer. It accepts an open, writable file object and the same dialect and format options as csv.reader:
<font color=LightGrey>
要手工输入分隔符文件,你可以使用csv.writer.它接受一个已打开且可写的文件对象以及跟csv.reader相同的那些语支和格式化选项:

In [48]:
with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

### JSON Data

JSON (short for JavaScript Object Notation) has become one of the standard formats for sending data by HTTP request between web browsers and other applications. It is a much more free-form data format than a tabular text form like CSV. Here is an example:
<font color=LightGray>
JSON(JavaScript对象表示法的缩写)已经成为HTTP请求在web浏览器和其他应用程序之间发送数据的标准格式之一。它是一种比表形文本格式更自由的数据格式。这是一个例子:

In [49]:
obj = """
{"name" : "Wes",
 "Places_lived" : ["United States", "Spain", "Germany"],
 "pet" : null,
 "siblings": [{"name": "Scott", "age": 30, "pets":["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

JSON is very nearly valid Python code with the exception of its null value null and some other nuances (such as disallowing trailing commas at the end of lists). The basic types are objects (dicts), arrays (lists), strings, numbers, booleans, and nulls. All of the keys in an object must be strings. There are several Python libraries for reading and writing JSON data. I’ll use json here, as it is built into the Python standard library. To convert a JSON string to Python form, use json.loads:
<font color=LightGray>
除了其空值null和其他一些细微差别(如列表末尾不允许存在多余的逗号)之外,JSON非常接近于有效的Python代码.基本类型有对象(字典),数组(列表),字符串,数值,布尔值及null.对象中所有的键都必须是字符串.许多Python库都可以读写JSON数据.我将使用json,因为它是构建于Python标准库中的.通过json.loads即可将JSON字符串转换为Python格式.

In [50]:
import json
result = json.loads(obj)
result

{'Places_lived': ['United States', 'Spain', 'Germany'],
 'name': 'Wes',
 'pet': None,
 'siblings': [{'age': 30, 'name': 'Scott', 'pets': ['Zeus', 'Zuko']},
  {'age': 38, 'name': 'Katie', 'pets': ['Sixes', 'Stache', 'Cisco']}]}

json.dumps, on the other hand, converts a Python object back to JSON:
<font color=LightGray>
另一方面,通过 json.dumps 可以将Python对象转换为JSON对象

In [59]:
asjson = json.dumps(result)
asjson

'{"name": "Wes", "Places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

How you convert a JSON object or list of objects to a DataFrame or some other data structure for analysis will be up to you. Conveniently, you can pass a list of dicts (which were previously JSON objects) to the DataFrame constructor and select a subset of the data fields:
<font color=LightGray>
如何将JSON对象或对象列表转换为DataFrame或其他用于分析的数据结构将取决于您。最简单方便的方式是:向DataFrame构造器传入一组JSON对象，并可以选择数据字段的子集:

In [60]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

The pandas.read_json can automatically convert JSON datasets in specific arrangements into a Series or DataFrame. For example:
<font color=LightGray>
pandas.read_json 可以在特定的安排中自动将JSON数据集转换成一个Series或DataFrame

In [61]:
!type D:\pydata-book\examples\example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

The default options for pandas.read_json assume that each object in the JSON array is a row in the table:
<font color=LightGray>
pandas.read_json 默认假设JSON数组中的每个对象都是表中的一行:

In [62]:
data = pd.read_json('D:/pydata-book/examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

For an extended example of reading and manipulating JSON data (including nested records), see the USDA Food Database example in Chapter 7.
<font color=LightGray>
第7章中关于USDA Food Database 的那个例子进一步讲解JSON数据的读取和处理(包括嵌套记录)

If you need to export data from pandas to JSON, one way is to use the to_json methods on Series and DataFrame:
<font color=LightGray>
如果你想要将数据通过pandas导出为JSON, 其中一种方式是在Series和DataFrame上使用to_json方法:

In [63]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [64]:
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

### XML and HTML: Web Scraping

Python has many libraries for reading and writing data in the ubiquitous HTML and XML formats. Examples include lxml, Beautiful Soup, and html5lib. While lxml is comparatively much faster in general, the other libraries can better handle malformed HTML or XML files.
<font color=LightGray>
在现实中,HTML和XML格式的数据无处不在,Python有许多库用于读取和写入HTML和XML格式的数据。例如 lxml、Beautiful Soup 和 html5lib。虽然lxml一般来说比较快，但是其他的库可以更好地处理畸形的HTML或XML文件。

pandas has a built-in function, read_html, which uses libraries like lxml and Beautiful Soup to automatically parse tables out of HTML files as DataFrame objects. To show how this works, I downloaded an HTML file (used in the pandas documentation) from the United States FDIC government agency showing bank failures.1 First,you must install some additional libraries used by read_html:
<font color=LightGray>
pandas有一个内置函数read_html，它使用像 lxml 和 Beautiful Soup 这样的库将 HTML 文件中的表自动解析为DataFrame对象。为了说明它是如何工作的，我从美国 FDIC 的政府机构下载了一个HTML文件(用于pandas)，记录了银行的倒闭信息。首先，您必须安装read_html所使用的一些额外的库:

conda install lxml  
pip install beautifulsoup4 html5lib

If you are not using conda, pip install lxml will likely also work.
<font color=LightGray>
如果你没有使用conda, pip install lxml 也可能可以正常使用