<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><span><a href="#CHAPTER-6--Data-loading,Storage,and-File-Formats" data-toc-modified-id="CHAPTER-6--Data-loading,Storage,and-File-Formats-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>CHAPTER 6  Data loading,Storage,and File Formats</a></span><ul class="toc-item"><li><span><a href="#Reading-and-Writing-Data-in-Text-Format" data-toc-modified-id="Reading-and-Writing-Data-in-Text-Format-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Reading and Writing Data in Text Format</a></span><ul class="toc-item"><li><span><a href="#Reading-Text-Files-in-Pieces" data-toc-modified-id="Reading-Text-Files-in-Pieces-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Reading Text Files in Pieces</a></span></li><li><span><a href="#Writing-Data-to-Text-Format" data-toc-modified-id="Writing-Data-to-Text-Format-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Writing Data to Text Format</a></span></li><li><span><a href="#Working-with-Delimited-Formats" data-toc-modified-id="Working-with-Delimited-Formats-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Working with Delimited Formats</a></span></li><li><span><a href="#JSON-Data" data-toc-modified-id="JSON-Data-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>JSON Data</a></span></li><li><span><a href="#XML-and-HTML:-Web-Scraping" data-toc-modified-id="XML-and-HTML:-Web-Scraping-1.1.5"><span class="toc-item-num">1.1.5&nbsp;&nbsp;</span>XML and HTML: Web Scraping</a></span><ul class="toc-item"><li><span><a href="#Parsing-XML-with-lxml.objectify" data-toc-modified-id="Parsing-XML-with-lxml.objectify-1.1.5.1"><span class="toc-item-num">1.1.5.1&nbsp;&nbsp;</span>Parsing XML with lxml.objectify</a></span></li></ul></li></ul></li><li><span><a href="#Binary-Data-Formats" data-toc-modified-id="Binary-Data-Formats-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Binary Data Formats</a></span><ul class="toc-item"><li><span><a href="#Using-HDF5-Format" data-toc-modified-id="Using-HDF5-Format-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Using HDF5 Format</a></span></li><li><span><a href="#Reading-Microsoft-Excel-Files" data-toc-modified-id="Reading-Microsoft-Excel-Files-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Reading Microsoft Excel Files</a></span></li></ul></li><li><span><a href="#Interacting-with-Web-APIs" data-toc-modified-id="Interacting-with-Web-APIs-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Interacting with Web APIs</a></span></li><li><span><a href="#Interacting-with-Databases" data-toc-modified-id="Interacting-with-Databases-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Interacting with Databases</a></span></li><li><span><a href="#Conclusion" data-toc-modified-id="Conclusion-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Conclusion</a></span></li></ul></li></ul></div>

# CHAPTER 6  Data loading,Storage,and File Formats 
<font color=Indigo>
数据加载, 存储与文件格式

Accessing data is a necessary first step for using most of the tools in this book. I’m going to be focused on data input and output using pandas, though there are numerous tools in other libraries to help with reading and writing data in various formats.  

<font color=Indigo>
访问数据是在本书中使用大多数工具的必要步骤。我将重点关注使用 pandas 进行数据的输入和输出，尽管在其他库中有很多工具可以帮助我们以不同的格式读取和写入数据。  

<font color=black>
Input and output typically falls into a few main categories: reading text files and other more efficient on-disk formats, loading data from databases, and interacting with network sources like web APIs.

<font color=Indigo>
输入和输出通常分为几个主要类别:读取文本文件和其他更高效的磁盘格式、从数据库加载数据，以及与 web api 等网络资源进行交互。

## Reading and Writing Data in Text Format
<font color=Indigo>
读写文本格式的数据

pandas features a number of functions for reading tabular data as a DataFrame object. Table 6-1 summarizes some of them, though read_csv and read_table are likely the ones you’ll use the most.

<font color=Indigo>
pandas 有许多功能，可以将表格式的数据作为一个 DataFrame 对象读取。表6-1总结了其中一些，虽然 readcsv 和 readtable 很可能是您使用最多的。

Table 6-1. Parsing functions in pandas

Function|Description
:-|:-
read_csv | Load delimited data from a file, URL, or file-like object; use comma as default delimiter
read_table | Load delimited data from a file, URL, or file-like object; use tab ('\t') as default delimiter
read_fwf | Read data in fixed-width column format (i.e., no delimiters)
read_clipboard | Version of read_table that reads data from the clipboard; useful for converting tables from web pages
read_excel | Read tabular data from an Excel XLS or XLSX file
read_hdf | Read HDF5 files written by pandas
read_html | Read all tables found in the given HTML document
read_json | Read data from a JSON (JavaScript Object Notation) string representation
read_msgpack | Read pandas data encoded using the MessagePack binary format
read_pickle | Read an arbitrary object stored in Python pickle format
read_sas | Read a SAS dataset stored in one of the SAS system’s custom storage formats
read_sql | Read the results of a SQL query (using SQLAlchemy) as a pandas DataFrame
read_stata | Read a dataset from Stata file format
read_feather | Read the Feather binary file format
|------------------------------------------------------------------------------------------------------------------------------------------------------------------

<font color=Indigo>
表 6-1. 在 pandas 中解析函数

函数|描述
:-|:-
read_csv | 从文件、URL或类似文件的对象中加载分隔的数据;使用逗号作为默认分隔符
read_table | 从文件、URL或类似文件的对象中加载分隔的数据;使用tab('\t')作为默认的分隔符
read_fwf | 以固定宽度的列格式读取数据(即:,没有分隔符)
read_clipboard | 从剪贴板读取数据的 read_table 版本;用于从网页转换表格
read_excel | 从 Excel XLS 或 XLSX 文件中读取表格数据
read_hdf | 读取由 pandas 生成的 HDF5 文件
read_html | 读取给定 HTML 文档中找到的所有表
read_json | 从 JSON(JavaScript对象表示法)字符串读取数据
read_msgpack | 读取用 MessagePack 二进制格式编码的 pandas 数据
read_pickle | 读取以 Python pickle 格式存储的任意对象
read_sas | 读取存储在 SAS 系统的自定义存储格式之一的 SAS 数据集
read_sql | 将 SQL 查询的结果(使用SQLAlchemy)作为 pandas 的 DataFrame
read_stata | 从 Stata 文件格式读取数据集
read_feather | 读取 Feather 二进制文件格式
|------------------------------------------------------------------------------------------------------------------------------------------------------------------

I’ll give an overview of the mechanics of these functions, which are meant to convert text data into a DataFrame. The optional arguments for these functions may fall into a few categories:

<font color=Indigo>
我将概述这些函数的机制，这些函数的目的是将文本数据转换为 DataFrame。这些函数的可选参数可能分为以下几个类别:

<font color=black>
Indexing  
Can treat one or more columns as the returned DataFrame, and whether to get column names from the file, the user, or not at all.

<font color=Indigo>
索引  
可以将一个或多个列作为返回的 DataFrame，以及是否从文件,用户获取列名. 

<font color=black>
Type inference and data conversion  
This includes the user-defined value conversions and custom list of missing value markers.

<font color=Indigo>
类型推断和数据转换   
这包括用户定义的值的转换,和缺少值标记的自定义列表. 

<font color=black>
Datetime parsing  
Includes combining capability, including combining date and time information spread over multiple columns into a single column in the result.

<font color=Indigo>
Datetime解析   
包括组合功能，包括将多个列的日期和时间信息合并到结果中的单个列中。

<font color=black>
Iterating  
Support for iterating over chunks of very large files.

<font color=Indigo>
迭代  
支持对非常大的文件块进行迭代。

<font color=black>
Unclean data issues  
Skipping rows or a footer, comments, or other minor things like numeric data with thousands separated by commas.

<font color=Indigo>
不规整数据问题  
跳过行或页脚、注释或其他一些不重要的东西(比如由成千上万个逗号隔开的数值数据)

<font color=black>
Because of how messy data in the real world can be, some of the data loading functions (especially read_csv) have grown very complex in their options over time. It’s normal to feel overwhelmed by the number of different parameters (read_csv has over 50 as of this writing).The online pandas documentation has many examples about how each of them works, so if you’re struggling to read a particular file, there might be a similar enough example to help you find the right parameters.

<font color=Indigo>
由于现实中数据的是很凌乱的，一些数据加载函数(特别是read_csv)随着时间的推移他们的使用将变得越来越复杂。感觉被数量众多的不同参数所淹没是正常的(read_csv在撰写本文时已经有超过50个参数)。在线 pandas 文档有很多例子说明它们是如何工作的，所以如果您正在努力阅读某个特定的文件，可能会有一个类似的例子来帮助您找到正确的参数。

<font color=black>
Some of these functions, like pandas.read_csv, perform type inference, because the column data types are not part of the data format. That means you don’t necessarily have to specify which columns are numeric, integer, boolean, or string. Other data formats, like HDF5, Feather, and msgpack, have the data types stored in the format.

<font color=Indigo>
其中一些功能，比如 pandas.read_csv，会执行类型推断，因为列数据类型不是数据格式的一部分。这意味着您不必指定哪些列是数字、整数、布尔值或字符串。其他的数据格式，如HDF5、Feather 和 msgpack，都有存储在格式中的数据类型。

<font color=black>
Handling dates and other custom types can require extra effort. Let’s start with a small comma-separated (CSV) text file:

<font color=Indigo>
处理日期和其他定制类型可能需要额外的工作。让我们从一个小型的逗号分隔(CSV)文本文件开始:

In [1]:
!type D:\pydata-book\examples\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

_Here I used the Unix cat shell command to print the raw contents of the file to the screen. If you’re on Windows, you can use type instead of cat to achieve the same effect._

<font color=Indigo>
_在这里，我使用Unix cat shell命令将文件的原始内容打印到屏幕上。如果你在Windows上，你可以使用 type 而不是 cat 来达到同样的效果。_

Since this is comma-delimited, we can use read_csv to read it into a DataFrame:
<font color=Indigo>
由于是用逗号分隔的，所以我们可以使用 read_csv 将它读到一个 DataFrame 中:

In [2]:
import pandas as pd
path = 'D:/pydata-book/examples/ex1.csv'
df = pd.read_csv(path)
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

We could also have used read_table and specified the delimiter:
<font color=Indigo>
我们还可以使用 read_table 并指定分隔符:

In [3]:
df = pd.read_table(path, sep=',')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

A file will not always have a header row. Consider this file:
<font color=Indigo>
文件不会总是有标题行。考虑一下这个文件:

In [4]:
!type D:\pydata-book\examples\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

To read this file, you have a couple of options. You can allow pandas to assign default column names, or you can specify names yourself:
<font color=Indigo>
要读这个文件，您有几个选项。你可以允许 pandas 分配默认的列名，或者你可以自己指定名字:

In [5]:
pd.read_csv('D:/pydata-book/examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [6]:
pd.read_csv('D:/pydata-book/examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Suppose you wanted the message column to be the index of the returned DataFrame. You can either indicate you want the column at index 4 or named 'message' using the index_col argument:
<font color=Indigo>
假设您希望消息列是返回的 DataFrame 的索引。您可以使用 index_col 参数表示您想要指定的索引来自于第4列，或 message 列:

In [7]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('D:/pydata-book/examples/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In the event that you want to form a hierarchical index from multiple columns, pass a list of column numbers or names:
<font color=Indigo>
如果您想要从多个列中形成一个层次化的索引，请传递一个列号或列名称的列表:

In [8]:
!type D:\pydata-book\examples\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [9]:
parsed = pd.read_csv('D:/pydata-book/examples/csv_mindex.csv', index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In some cases, a table might not have a fixed delimiter, using whitespace or some other pattern to separate fields. Consider a text file that looks like this:
<font color=Indigo>
在某些情况下，表可能没有固定的分隔符，使用空格或其他模式来分隔字段。考虑一个这样的文本文件:

In [10]:
list(open('D:/pydata-book/examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

While you could do some munging by hand, the fields here are separated by a variable amount of whitespace. In these cases, you can pass a regular expression as a delimiter for read_table. This can be expressed by the regular expression \s+, so we have then:
<font color=Indigo>
虽然您可以手工进行一些处理，但是这里的字段是由可变数量的空白字符分隔的。在这种情况下，您可以将正则表达式作为 read_table 的分隔符传递。可以通过正则表达式 s+ 来表示，所以我们有了:

In [11]:
result = pd.read_table('D:/pydata-book/examples/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

Because there was one fewer column name than the number of data rows, read_table infers that the first column should be the DataFrame’s index in this special case.  

<font color=Indigo>
因为列名的数量比列的数量少1，所以在这个特殊情况下, read_table 会推断第一个列应该是这个 DataFrame 的索引。

<font color=black>
The parser functions have many additional arguments to help you handle the wide variety of exception file formats that occur (see a partial listing in Table 6-2). For example, you can skip the first, third, and fourth rows of a file with skiprows:  

<font color=Indigo>
这些解析器函数有许多额外的参数，可以帮助您处理各种类型的异常文件格式(请参见表6-2的部分清单)。例如，您可以使用 skiprows 跳过文件的第一个、第三个和第四个行:

In [12]:
!type D:\pydata-book\examples\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [13]:
pd.read_csv('D:/pydata-book/examples/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Handling missing values is an important and frequently nuanced part of the file parsing process. Missing data is usually either not present (empty string) or marked by some sentinel value. By default, pandas uses a set of commonly occurring sentinels, such as NA and NULL:
<font color=Indigo>
处理丢失的值是文件解析过程中一个重要且经常出现的组成部分。丢失的数据通常要么是不存在的(空字符串)，要么是用某个标记值表示。在默认情况下，pandas 会用一组经常出现的标记值进行识别，如 NA 和 NULL:

In [14]:
!type D:\pydata-book\examples\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [15]:
result = pd.read_csv('D:/pydata-book/examples/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [16]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

The na_values option can take either a list or set of strings to consider missing values:
<font color=Indigo>
na_values 选项可以选择一个列表或一组字符串来考虑缺少的值:

In [17]:
result = pd.read_csv('D:/pydata-book/examples/ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

Different NA sentinels can be specified for each column in a dict:
<font color=Indigo>
可以用一个字典为各列指定不同的 NA 标记值:

In [18]:
sentinels = {'message': ['foo', 'NA'], 'something':['two']}
pd.read_csv('D:/pydata-book/examples/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

Table 6-2 lists some frequently used options in pandas.read_csv and pandas.read_table.

<font color=Indigo>
表6-2 列出了一些 read_csv 和 pandas.read_table 的常用的选项。

Table 6-2. Some read_csv/read_table function arguments

Argument|Description
:-|:-
path | String indicating filesystem location, URL, or file-like object
sep or delimiter | Character sequence or regular expression to use to split fields in each row
header | Row number to use as column names; defaults to 0 (first row), but should be None if there is no header row
index_col | Column numbers or names to use as the row index in the result; can be a single name/number or a list of them for a hierarchical index
names | List of column names for result, combine with header=None
skiprows | Number of rows at beginning of file to ignore or list of row numbers (starting from 0) to skip.
na_values | Sequence of values to replace with NA.
comment | Character(s) to split comments off the end of lines.
parse_dates | Attempt to parse data to datetime; False by default. If True, will attempt to parse all columns.Otherwise can specify a list of column numbers or name to parse. If element of list is tuple or list, will combine multiple columns together and parse to date (e.g., if date/time split across two columns).
keep_date_col | If joining columns to parse date, keep the joined columns; False by default.
converters | Dict containing column number of name mapping to functions (e.g., {'foo': f} would apply the function f to all values in the 'foo' column).
dayfirst | When parsing potentially ambiguous dates, treat as international format (e.g., 7/6/2012 -> June 7, 2012); False by default.
date_parser | Function to use to parse dates.
nrows | Number of rows to read from beginning of file.
iterator | Return a TextParser object for reading file piecemeal.
chunksize | For iteration, size of file chunks.
skip_footer | Number of lines to ignore at end of file.
verbose | Print various parser output information, like the number of missing values placed in non-numeric columns.
encoding | Text encoding for Unicode (e.g., 'utf-8' for UTF-8 encoded text).
squeeze | If the parsed data only contains one column, return a Series.
thousands | Separator for thousands (e.g., ',' or '.').
|------------------------------------------------------------------------------------------------------------------------------------------------------------------

<font color=Indigo>
表6-2. 一些read_csv & read_table函数参数

参数|描述
:-|:-
path | 表示文件系统位置、URL或类似文件类型对象的字符串
sep 或 delimiter | 用于对行中各字段进行拆分的字符序列或正则表达式
header | 用作列名的行号.默认值为0(第一行)，但是如果没有 header 行，则应该设置为None
index_col | 用作行索引的列编号或列名.可以是一个单独的名称/数字，或者是一个用于分级索引的列表(层次化索引)
names | 用于结果的列名列表，与header=None组合
skiprows | 需要忽略的行数(从文件开始算起),或需要跳过的行号列表(从0开始)
na_values | 一组用于替换NA的值的序列。
comment | 用于将注释信息从行尾拆分出去的字符(一个或多个)
parse_dates | 尝试将数据解析为datetime;默认为False。如果是True，则尝试解析所有列。此外，还可以指定需要解析的一组列号或列名.如果列表元素是元组或列表，则会将多个列组合在一起，并进行日期解析工作(例如，日期/时间分别在两个列中)。
keep_date_col | 如果连接多列来解析日期，则保持参与连接的列,默认为False。
converters | 由列号/列名跟函数之间的映射关系组成的字典.(例如，{'foo':f}会对'foo'列中的所有值应用函数f)。
dayfirst | 在解析有歧义的日期时，将之视为国际格式(例如，7/6/2012 -> June 7, 2012);默认为False。
date_parser |用于解析日期的函数。
nrows | 从文件开始读取的行数。
iterator | 返回一个TextParser对象，以便逐块读取文件。
chunksize | 文件块的大小(用于迭代)。
skip_footer | 需要忽略的行数(从文件末尾处算起)
verbose | 打印各种解析器输出信息，比如"非数字列中的缺失值的数量"等。
encoding | 用于 Unicode 的文本编码格式(例如，'utf-8'表示用UTF-8编码的文本)。
squeeze | 如果数据经解析后仅含一列，则返回一个 Series。
thousands | 千分位分隔符(例如“，”或“.”)。
|------------------------------------------------------------------------------------------------------------------------------------------------------------------

### Reading Text Files in Pieces
<font color=Indigo>
逐块读取文本文件

When processing very large files or figuring out the right set of arguments to correctly process a large file, you may only want to read in a small piece of a file or iterate through smaller chunks of the file.
<font color=Indigo>
在处理很大的文件时,或找出大文件中的参数集以便于后续处理时,你可能只想读取文件的一小部分或逐块对文件进行迭代.

Before we look at a large file, we make the pandas display settings more compact:
<font color=Indigo>
在我们查看一个大文件之前,我们可以让 pandas 的显示设置更加紧凑

In [19]:
pd.options.display.max_rows = 10

In [20]:
result = pd.read_csv('D:/pydata-book/examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

If you want to only read a small number of rows (avoiding reading the entire file),specify that with nrows:
<font color=Indigo>
如果你只想读几行(避免读取整个文件), 可以通过nrows指定行数.

In [21]:
pd.read_csv('D:/pydata-book/examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

To read a file in pieces, specify a chunksize as a number of rows:
<font color=Indigo>
要逐块读取文件,需要通过指定一个行数设置 chunksize

In [22]:
chunker = pd.read_csv('D:/pydata-book/examples/ex6.csv', chunksize=1000)
chunker

The TextParser object returned by read_csv allows you to iterate over the parts of the file according to the chunksize. For example, we can iterate over ex6.csv, aggregating the value counts in the 'key' column like so:
<font color=Indigo>
由read_csv返回的TextParser允许你根据Chunksize对文件的各个部分进行迭代,例如:我们可以迭代处理ex6.csv, 将值计数聚合到"key"中,如下所示:

In [23]:
chunker = pd.read_csv('D:/pydata-book/examples/ex6.csv', chunksize=1000)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
    
tot = tot.sort_values(ascending=False)

tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

TextParser is also equipped with a get_chunk method that enables you to read pieces of an arbitrary size.
<font color=Indigo>
TextParser还提供了一个get_chunk方法，可以让您读取任意大小的片段。

### Writing Data to Text Format
<font color=Indigo>
将数据写出到文本文件

Data can also be exported to a delimited format. Let's consider one of the CSV files read before:
<font color=Indigo>
数据也可以导出为一个带有分割符的格式. 让我们考虑一下之前读过的一个CSV文件.

In [24]:
data = pd.read_csv('D:/pydata-book/examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

Using DataFrame's to_csv method, we can write the data out to a comma-separated file:
<font color=Indigo>
使用 DataFrame 的 to_csv 方法, 我们可以将数据写为一个带有逗号分割的文件.

In [25]:
data.to_csv('D:/pydata-book/examples/out.csv')

In [26]:
!type D:\pydata-book\examples\out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

Other delimiters can be used, of course (writing to sys.stdout so it prints the text result to the console):
<font color=Indigo>
当然也可以使用其他分隔符(由于这里直接写出到sys.stdout,所以仅仅是打印出文件结果而已):

In [27]:
import sys
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

Missing values appear as empty strings in the output. You might want to denote them by some other sentinel value:
<font color=Indigo>
缺失值在输出结果中会被表示为空字符串. 你可能希望将其表示为别的标记值:

In [28]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

With no other options specified, both the row and column labels are written. Both of these can be disabled:
<font color=Indigo>
如果没有指定其他选项,则会写出所有行列的标签,当然,他们也都可以被禁用:

In [29]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

You can also write only a subset of the columns, and in an order of your choosing:
<font color=Indigo>
此外,你还可以只输出一部分的列,并以你指定的顺序排列

In [30]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

Series also has a to_csv method:
<font color=Indigo>
Series 也有一个 to_csv 方法:

In [31]:
import numpy as np

In [32]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('D:/pydata-book/examples/tseries.csv')

In [33]:
!type D:\pydata-book\examples\tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

### Working with Delimited Formats 
<font color=Indigo>
处理分隔的格式

It's possible to load most forms of tabular data from disk using functions like pandas.read_table. In some cases, however, some manual processing may be necessary. It's not uncommon to receive a file with one or more malformed lines that trip up read_table. To illustrate the basic tools, consider a small CSV file:
<font color=Indigo>
可以使用像pandas.read_table这样的函数从磁盘加载大多数表格数据。然而，在某些情况下，接收到一个或多个非常规的文件并不少见, 所以一些手工处理的工作可能是必要的。为了演示基本的工具，请考虑一个小的CSV文件:

In [34]:
!type D:\pydata-book\examples\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

For any file with a single-character delimiter, you can use Python’s built-in csv module. To use it, pass any open file or file-like object to csv.reader:
<font color=Indigo>
对于任何具有单字符分隔符的文件，您都可以使用Python内置的csv模块。要使用它，可以将任何打开文件或文件的对象传递给csv.reader:

In [35]:
import csv
f = open('D:/pydata-book/examples/ex7.csv')
reader = csv.reader(f)
reader

Iterating through the reader like a file yields lists of values with any quote characters removed:
<font color=Indigo>
对这个reader进行迭代将会为每行产生一个列表(并移除所有的引号):

In [36]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

From there, it’s up to you to do the wrangling necessary to put the data in the formthat you need it. Let’s take this step by step. First, we read the file into a list of lines:
<font color=Indigo>
现在,为了使数据格式合乎要求,你需要对其做一些整理工作,让我们一步一步来。首先，我们将文件读到一行列表中:

In [37]:
with open('D:/pydata-book/examples/ex7.csv') as f:
    lines = list(csv.reader(f))
    
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

Then, we split the lines into the header line and the data lines:
<font color=Indigo>
然后,我们将这些行划分为标题行和数据行

In [38]:
header, values = lines[0], lines[1:]
values

[['1', '2', '3'], ['1', '2', '3']]

Then we can create a dictionary of data columns using a dictionary comprehension and the expression `zip(*values)`, which transposes rows to columns:
<font color=Indigo>
然后，我们可以使用字典的方式和`zip(*value)`创建一个字典的数据列,将行转换为列:

In [39]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

CSV files come in many different flavors. To define a new format with a different delimiter, string quoting convention, or line terminator, we define a simple subclass of csv.Dialect:
<font color=Indigo>
CSV 文件的形式有很多.只需定义csv.Dialect的一个子类即可定义出新格式(如专门的分隔符,字符串引用约定,行结束符等):

In [40]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
    
reader = csv.reader(reader, dialect=my_dialect)

In [41]:
reader

We can also give individual CSV dialect parameters as keywords to csv.reader without having to define a subclass:
<font color=Indigo>
各个CSV语支的参数也可以以关键字的形式提供给csv.reader,而无须定义子类:

In [42]:
reader = csv.reader(reader, delimiter='|')
reader

The possible options (attributes of csv.Dialect) and what they do can be found in Table 6-3.
<font color=Indigo>
可能的选项(csv.Dialect的属性)及其所做的工作可以在表6-3中找到。

Table 6-3. CSV dialect options

Argument|Description
:-|:-
delimiter | One-character string to separate fields; defaults to ','.
lineterminator | Line terminator for writing; defaults to '\r\n'. Reader ignores this and recognizes cross-platform line terminators.
quotechar | Quote character for fields with special characters (like a delimiter); default is '"'.
quoting | Quoting convention. Options include csv.QUOTE_ALL (quote all fields), csv.QUOTE_MINIMAL (only fields with special characters like the delimiter), csv.QUOTE_NONNUMERIC, and csv.QUOTE_NONE (no quoting). Defaults to QUOTE_MINIMAL.
skipinitialspace | Ignore whitespace after each delimiter; default is False.
doublequote | How to handle quoting character inside a field; if True, it is doubled.
escapechar | String to escape the delimiter if quoting is set to csv.QUOTE_NONE; disabled by default.
|-----------------------------------------------------------------------------------------------------------------------------------------------------------------

<font color=Indigo>
表 6-3. CSV语支选项

参数|描述
:-|:-
delimiter | 用于分割字段的单字符串. 默认为','
lineterminator | 用于写操作的行结束符,默认为'\r\n'. 读操作将忽略此选项,它能认出跨平台的行结束符.
quotechar | 用于带有特殊字符(如分隔符)的字段的引用符号. 默认为'"'
quoting | 引用约定.可选值包括csv.QUOTE_ALL(引用所有字段), csv.QUOTE_MINIMAL(值引用带有诸如分隔符之类特殊字符的字段),csv.QUOTE_NONNUMERIC 以及csv.QUOTE_NONE(不引用).默认为QUOTE_MINIMAL.
skipinitialspace | 忽略分隔符后面的空白符. 默认为 False.
doublequote | 如何处理字段内的引用符号. 如果为True, 则双写.
escapechar | 用于对分隔符进行转义的字符串(如果quoting 被设置为csv.QUOTE_NONE). 默认为禁用.
|-----------------------------------------------------------------------------------------------------------------------------------------------------------------

_For files with more complicated or fixed multicharacter delimiters, you will not be able to use the csv module. In those cases, you’ll have to do the line splitting and other cleanup using string’s split method or the regular expression method re.split._
<font color=Indigo>
_对于那些使用复杂分隔符或固定的多字符分隔符的文件, csv模块就无能为力了. 在这种情况下,你就只能使用字符串的split方法或正则表达式方法re.split进行拆分和其他整理工作了._

To write delimited files manually, you can use csv.writer. It accepts an open, writable file object and the same dialect and format options as csv.reader:
<font color=Indigo>
要手工输入分隔符文件,你可以使用csv.writer.它接受一个已打开且可写的文件对象以及跟csv.reader相同的那些语支和格式化选项:

In [43]:
with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

### JSON Data

JSON (short for JavaScript Object Notation) has become one of the standard formats for sending data by HTTP request between web browsers and other applications. It is a much more free-form data format than a tabular text form like CSV. Here is an example:
<font color=Indigo>
JSON(JavaScript对象表示法的缩写)已经成为HTTP请求在web浏览器和其他应用程序之间发送数据的标准格式之一。它是一种比表形文本格式更自由的数据格式。这是一个例子:

In [44]:
obj = """
{"name" : "Wes",
 "Places_lived" : ["United States", "Spain", "Germany"],
 "pet" : null,
 "siblings": [{"name": "Scott", "age": 30, "pets":["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

JSON is very nearly valid Python code with the exception of its null value null and some other nuances (such as disallowing trailing commas at the end of lists). The basic types are objects (dicts), arrays (lists), strings, numbers, booleans, and nulls. All of the keys in an object must be strings. There are several Python libraries for reading and writing JSON data. I’ll use json here, as it is built into the Python standard library. To convert a JSON string to Python form, use json.loads:
<font color=Indigo>
除了其空值null和其他一些细微差别(如列表末尾不允许存在多余的逗号)之外,JSON非常接近于有效的Python代码.基本类型有对象(字典),数组(列表),字符串,数值,布尔值及null.对象中所有的键都必须是字符串.许多Python库都可以读写JSON数据.我将使用json,因为它是构建于Python标准库中的.通过json.loads即可将JSON字符串转换为Python格式.

In [45]:
import json
result = json.loads(obj)
result

{'Places_lived': ['United States', 'Spain', 'Germany'],
 'name': 'Wes',
 'pet': None,
 'siblings': [{'age': 30, 'name': 'Scott', 'pets': ['Zeus', 'Zuko']},
  {'age': 38, 'name': 'Katie', 'pets': ['Sixes', 'Stache', 'Cisco']}]}

json.dumps, on the other hand, converts a Python object back to JSON:
<font color=Indigo>
另一方面,通过 json.dumps 可以将Python对象转换为JSON对象

In [46]:
asjson = json.dumps(result)
asjson

'{"name": "Wes", "Places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

How you convert a JSON object or list of objects to a DataFrame or some other data structure for analysis will be up to you. Conveniently, you can pass a list of dicts (which were previously JSON objects) to the DataFrame constructor and select a subset of the data fields:
<font color=Indigo>
如何将JSON对象或对象列表转换为DataFrame或其他用于分析的数据结构将取决于您。最简单方便的方式是:向DataFrame构造器传入一组JSON对象，并可以选择数据字段的子集:

In [47]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

The pandas.read_json can automatically convert JSON datasets in specific arrangements into a Series or DataFrame. For example:
<font color=Indigo>
pandas.read_json 可以在特定的安排中自动将JSON数据集转换成一个Series或DataFrame

In [48]:
!type D:\pydata-book\examples\example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

The default options for pandas.read_json assume that each object in the JSON array is a row in the table:
<font color=Indigo>
pandas.read_json 默认假设JSON数组中的每个对象都是表中的一行:

In [49]:
data = pd.read_json('D:/pydata-book/examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

For an extended example of reading and manipulating JSON data (including nested records), see the USDA Food Database example in Chapter 7.
<font color=Indigo>
第7章中关于USDA Food Database 的那个例子进一步讲解JSON数据的读取和处理(包括嵌套记录)

If you need to export data from pandas to JSON, one way is to use the to_json methods on Series and DataFrame:
<font color=Indigo>
如果你想要将数据通过pandas导出为JSON, 其中一种方式是在Series和DataFrame上使用to_json方法:

In [50]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [51]:
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

### XML and HTML: Web Scraping

Python has many libraries for reading and writing data in the ubiquitous HTML and XML formats. Examples include lxml, Beautiful Soup, and html5lib. While lxml is comparatively much faster in general, the other libraries can better handle malformed HTML or XML files.
<font color=Indigo>
在现实中,HTML和XML格式的数据无处不在,Python有许多库用于读取和写入HTML和XML格式的数据。例如 lxml、Beautiful Soup 和 html5lib。虽然lxml一般来说比较快，但是其他的库可以更好地处理畸形的HTML或XML文件。

pandas has a built-in function, read_html, which uses libraries like lxml and Beautiful Soup to automatically parse tables out of HTML files as DataFrame objects. To show how this works, I downloaded an HTML file (used in the pandas documentation) from the United States FDIC government agency showing bank failures.1 First,you must install some additional libraries used by read_html:
<font color=Indigo>
pandas有一个内置函数read_html，它使用像 lxml 和 Beautiful Soup 这样的库将 HTML 文件中的表自动解析为DataFrame对象。为了说明它是如何工作的，我从美国 FDIC 的政府机构下载了一个HTML文件(用于pandas)，记录了银行的倒闭信息。首先，您必须安装read_html所使用的一些额外的库:

conda install lxml  
pip install beautifulsoup4 html5lib

If you are not using conda, pip install lxml will likely also work.
<font color=Indigo>
如果你没有使用 conda, pip install lxml 可能也可以正常使用.

The pandas.read_html function has a number of options, but by default it searches for and attempts to parse all tabular data contained within `<table>` tags. The result is a list of DataFrame objects:
<font color=Indigo>
pandas.read_html 函数有许多选项，但在默认情况下，它会搜索并尝试解析包含在`<table>`标签中的所有表格数据。返回的结果是一个DataFrame对象的列表:

In [52]:
tables = pd.read_html('D:/pydata-book/examples/fdic_failed_bank_list.html')

In [53]:
len(tables)

1

In [54]:
type(tables)

list

In [55]:
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

As you will learn in later chapters, from here we could proceed to do some data cleaning and analysis, like computing the number of bank failures by year:
<font color=Indigo>
正如您在后面的章节中将要了解到的，从这里开始，我们可以进行一些数据清理和分析，比如根据年份来统计银行倒闭的数量:

In [56]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.head()

0   2016-09-23
1   2016-08-19
2   2016-05-06
3   2016-04-29
4   2016-03-11
Name: Closing Date, dtype: datetime64[ns]

In [57]:
close_timestamps.dt.year.value_counts().head()

2010    157
2009    140
2011     92
2012     51
2008     25
Name: Closing Date, dtype: int64

#### Parsing XML with lxml.objectify

XML (eXtensible Markup Language) is another common structured data format supporting hierarchical, nested data with metadata. The book you are currently reading was actually created from a series of large XML documents.
<font color=Indigo>
XML(Extensible Markup Language) 是另一种常见的支持分层,嵌套数据以及元数据的结构化数据格式.本书使用的这些文件实际上来自于一个很大的XML文档.

Earlier, I showed the pandas.read_html function, which uses either lxml or Beautiful Soup under the hood to parse data from HTML. XML and HTML are structurally similar, but XML is more general. Here, I will show an example of how to use lxml to parse data from a more general XML format.
<font color=Indigo>
之前,我展示了pandas.read_html函数,它使用lxml或Beautiful Soup来解析来自HTML的数据。XML 和 HTML 在结构上非常相似,但是XML更普遍.在这里,我将展示如何使用 lxml 从更普遍的XML格式解析数据。

The New York Metropolitan Transportation Authority (MTA) publishes a number of data series about its bus and train services. Here we’ll look at the performance data,which is contained in a set of XML files. Each train or bus service has a different file(like Performance_MNR.xml for the Metro-North Railroad) containing monthly data as a series of XML records that look like this:
<font color=Indigo>
纽约大都会运输署(MTA)发布了一些有关其公交车和列车服务的数据资料.这里,我们将看看包含在一组XML文件中的运行情况数据.每项列车或公交服务都有各自的文件(如 Metro-North Railroad的文件是Performance_MNR.xml),其中每条XML记录就是一条月度数据,如下所示:

```
<INDICATOR>
    <INDICATOR_SEQ>373889</INDICATOR_SEQ>
    <PARENT_SEQ></PARENT_SEQ>
    <AGENCY_NAME>Metro-North Railroad</AGENCY_NAME>
    <INDICATOR_NAME>Escalator Availability</INDICATOR_NAME>
    <DESCRIPTION>Percent of the time that escalators are operational
    systemwide. The availability rate is based on physical observations performed
    the morning of regular business days only. This is a new indicator the agency
    began reporting in 2009.</DESCRIPTION>
    <PERIOD_YEAR>2011</PERIOD_YEAR>
    <PERIOD_MONTH>12</PERIOD_MONTH>
    <CATEGORY>Service Indicators</CATEGORY>
    <FREQUENCY>M</FREQUENCY>
    <DESIRED_CHANGE>U</DESIRED_CHANGE>
    <INDICATOR_UNIT>%</INDICATOR_UNIT>
    <DECIMAL_PLACES>1</DECIMAL_PLACES>
    <YTD_TARGET>97.00</YTD_TARGET>
    <YTD_ACTUAL></YTD_ACTUAL>
    <MONTHLY_TARGET>97.00</MONTHLY_TARGET>
    <MONTHLY_ACTUAL></MONTHLY_ACTUAL>
</INDICATOR>
```

Using lxml.objectify, we parse the file and get a reference to the root node of the XML file with getroot:
<font color=Indigo>
我们先用lxml.objectify解析该文件,然后通过getroot得到该XML文件的根节点的引用:

In [58]:
from lxml import objectify

path = 'D:/pydata-book/datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

root.INDICATOR returns a generator yielding each `<INDICATOR>` XML element. For each record, we can populate a dict of tag names (like YTD_ACTUAL) to data values (excluding a few tags):
<font color=Indigo>
root.INDICATOR 返回一个用于产生各个`<INDICATOR>` XML 元素的生成器.对于每条记录,我们可以用标记名(如YTD_ACTUAL)和数据值填充一个字典(排除几个标记):

In [59]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ', 'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

Lastly, convert this list of dicts into a DataFrame:
<font color=Indigo>
最后,将这个字典列表转换为一个DataFrame:

In [60]:
perf = pd.DataFrame(data)
perf.head()

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,95,2,2008,96,95
2,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.3,95,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.8,95,5,2008,96.6,95

XML data can get much more complicated than this example. Each tag can have metadata, too. Consider an HTML link tag, which is also valid XML:
<font color=Indigo>
XML 数据可以比本例复杂得多.每个标记都可以有元数据.看看下面这个HTML的连接标记(它也算是一段有效的XML):

In [61]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

You can now access any of the fields (like href) in the tag or the link text:
<font color=Indigo>
现在就可以访问连接文本或标记中的任何字段了(如href):

In [62]:
root

In [63]:
root.get('href')

'http://www.google.com'

In [64]:
root.text

'Google'

## Binary Data Formats

One of the easiest ways to store data (also known as serialization) efficiently in binary format is using Python’s built-in pickle serialization. pandas objects all have a to_pickle method that writes the data to disk in pickle format:
<font color=Indigo>
存储数据(也称为序列化)的一种最简单的方式是使用pandas内置的Pickle序列化.pandas 对象都有一个用于将数据以pickle形式保存到磁盘上的save方法:

In [65]:
frame = pd.read_csv('D:/pydata-book/examples/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [66]:
frame.to_pickle('D:/pydata-book/examples/frame_pickle')

You can read any “pickled” object stored in a file by using the built-in pickle directly, or even more conveniently using pandas.read_pickle:
<font color=Indigo>
你可以使用内置的pickle直接读取任何保存为一个文件的 "pickled" 对象, 甚至使用更加方便的pandas.read_pickle

In [67]:
pd.read_pickle('D:/pydata-book/examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

pickle is only recommended as a short-term storage format. Theproblem is that it is hard to guarantee that the format will be stable over time; an object pickled today may not unpickle with a later version of a library. We have tried to maintain backward compatibility when possible, but at some point in the future it may be necessary to “break” the pickle format.
<font color=Indigo>
pickle 仅建议用于短期存储格式.其原因是很难保证该格式永远是稳定的,今天pickle的对象可能无法被后续版本的库unpickle出来.虽然我尽力保证这种事情不会发生在pandas中,但是今后的某个时候说不定还是得"打破"该pickle格式.

pandas has built-in support for two more binary data formats: HDF5 and Message‐Pack. I will give some HDF5 examples in the next section, but I encourage you to explore different file formats to see how fast they are and how well they work for your analysis. Some other storage formats for pandas or NumPy data include:
- bcolz  
A compressable column-oriented binary format based on the Blosc compression library.  
- Feather  
A cross-language column-oriented file format I designed with the R programming community’s Hadley Wickham. Feather uses the Apache Arrow columnar memory format.  

<font color=Indigo>
pandas 内置了对两种二进制数据格式的支持:HDF5和Message‐Pack。在下一节中，我将给出一些HDF5示例，但是我鼓励您探索其他不同的文件格式，看看它们的速度有多快，以及它们对您的分析工作有多大的帮助。其他一些pandas的存储格式或数字数据包括:
- bcolz  
基于Blosc压缩库的一种可压缩的面向列的二进制格式。    
- Feather  
我为R编程社区的Hadley Wickham设计的一种跨语言的列式文件格式。Feather使用Apache Arrow柱状内存格式。

### Using HDF5 Format

HDF5 is a well-regarded file format intended for storing large quantities of scientific array data. It is available as a C library, and it has interfaces available in many other languages, including Java, Julia, MATLAB, and Python. The “HDF” in HDF5 stands for hierarchical data format. Each HDF5 file can store multiple datasets and supporting metadata. Compared with simpler formats, HDF5 supports on-the-fly compression with a variety of compression modes, enabling data with repeated patterns to be stored more efficiently. HDF5 can be a good choice for working with very large datasets that don’t fit into memory, as you can efficiently read and write small sections of much larger arrays.
<font color=Indigo>
很多工具都能实现高效读写磁盘上以二进制格式存储的科学数据.HDF5就是其中一个广受好评的流行的工业级库, 他是一个C库,带有许多语言的接口,如Java,Julia,MATLAB和Python等.HDF5中的HDF指的是层次型数据格式(hierarchical data fromat).每个HDF5文件都含有一个文件系统式的节点结构,它使你能够存储多个数据集并支持元数据.与其他简单格式相比,HDF5支持多种压缩器的即时压缩,还能更高效地存储重复模式数据.对于那些非常大的无法直接放入内存中的数据集,HDF5就是不错的选择,因为它可以高效地分块读取.

While it’s possible to directly access HDF5 files using either the PyTables or h5py libraries, pandas provides a high-level interface that simplifies storing Series and DataFrame object. The HDFStore class works like a dict and handles the low-level details:
<font color=Indigo>
虽然可以直接使用PyTables或h5py库来访问HDF5文件，但pandas提供了一个高级接口，简化了存储序列和DataFrame对象。HDFStore类的工作方式类似于一个dict，并处理底层的细节:

In [68]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('D:/pydata-book/examples/mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: D:/pydata-book/examples/mydata.h5
/obj1                frame        (shape->[100,1])
/obj1_col            series       (shape->[100])
/obj2                frame_table  (typ->appendable,nrows->100,ncols->1,indexers->[index])
/obj3                frame_table  (typ->appendable,nrows->100,ncols->1,indexers->[index])

Objects contained in the HDF5 file can then be retrieved with the same dict-like API:
<font color=Indigo>
在HDF5文件中包含的对象可以使用相同的类似字典的API来检索:

In [69]:
store['obj1'].head()

          a
0 -0.293387
1  1.573708
2 -1.755612
3  0.199417
4 -1.822275

HDFStore supports two storage schemas, 'fixed' and 'table'. The latter is generallyslower, but it supports query operations using a special syntax:
<font color=Indigo>
HDFStore支持两个存储模式:“fixed”和“table”。后者通常较慢，但它支持使用特殊语法的查询操作:

In [70]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])

           a
10 -0.777863
11 -1.660812
12 -1.332253
13  2.108014
14  0.284822
15 -0.333558

The put is an explicit version of the store['obj2'] = frame method but allows us to set other options like the storage format.
<font color=Indigo>
put是store['obj2'] = frame方法的一个显式版本，但它允许我们设置其他选项，比如存储格式。

The pandas.read_hdf function gives you a shortcut to these tools:
<font color=Indigo>
pandas.read_hdf函数为您提供了快捷的工具:

In [71]:
store.close()

In [72]:
frame.to_hdf('D:/pydata-book/examples/mydata.h5', 'obj3', mode='a', format='table')
pd.read_hdf('D:/pydata-book/examples/mydata.h5', 'obj3', mode='a', where=['index < 5'])

          a
0 -0.293387
1  1.573708
2 -1.755612
3  0.199417
4 -1.822275

If you are processing data that is stored on remote servers, like Amazon S3 or HDFS, using a different binary format designed for distributed storage like Apache Parquet may be more suitable.Python for Parquet and other such storage formats is still developing, so I do not write about them in this book.
<font color=Indigo>
如果您正在处理存储在远程服务器上的数据，比如Amazon S3或HDFS，那么使用一种不同的二进制格式来设计像Apache Parquet这样的分布式存储可能更合适。针对Python的Parquet和其他存储格式还在开发中，所以我在这本书中没有提到它们。

If you work with large quantities of data locally, I would encourage you to explore PyTables and h5py to see how they can suit your needs. Since many data analysis problems are I/O-bound (rather than CPU-bound), using a tool like HDF5 can massively accelerate your applications.
<font color=Indigo>
如果您在本地处理大量数据，我将鼓励您探索PyTables和h5py，看看它们如何满足您的需求。由于许多数据分析问题都是i/o绑定的(而不是cpu绑定的)，使用HDF5这样的工具可以大大加快应用程序的速度。

HDF5 is not a database. It is best suited for write-once, read-many datasets. While data can be added to a file at any time, if multiple writers do so simultaneously, the file can become corrupted.
<font color=Indigo>
HDF5不是一个数据库。它最适合于一次写入、多次多读取的数据集。虽然可以在任何时候将数据添加到文件中，但是如果多个作者同时这么做，那么这个文件就会被破坏。

### Reading Microsoft Excel Files

pandas also supports reading tabular data stored in Excel 2003 (and higher) files using either the ExcelFile class or pandas.read_excel function. Internally these tools use the add-on packages xlrd and openpyxl to read XLS and XLSX files, respectively. You may need to install these manually with pip or conda.
<font color=Indigo>
pandas还支持存储在Excel 2003(或更高版本)中的表格型数据，由于ExcelFile类或pandas.read_excel函数用到了xlrd和openpyxl包来分别读取XLS和XLSX文件。您可能需要使用pip或conda手动安装这些操作。

To use ExcelFile, create an instance by passing a path to an xls or xlsx file:
<font color=Indigo>
使用ExcelFile,通过传递xls或xlsx文件路径来创建一个实例.

In [73]:
xlsx = pd.ExcelFile('D:/pydata-book/examples/ex1.xlsx')
xlsx

Data stored in a sheet can then be read into DataFrame with parse:
<font color=Indigo>
然后可以使用如下语法将存储在一个sheet中的数据读取到DataFrame:

In [74]:
pd.read_excel(xlsx, 'Sheet1')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

If you are reading multiple sheets in a file, then it is faster to create the ExcelFile,but you can also simply pass the filename to pandas.read_excel:
<font color=Indigo>
如果您在一个文件中读取多个表单，那么创建ExcelFile的速度会更快. 您也可以简单地将文件名传递给pandas.read_excel:

In [75]:
frame = pd.read_excel('D:/pydata-book/examples/ex1.xlsx', 'Sheet1')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

To write pandas data to Excel format, you must first create an ExcelWriter, then write data to it using pandas objects’ to_excel method:
<font color=Indigo>
要将熊猫数据写入为Excel格式，您必须首先创建一个ExcelWriter，然后使用pandas对象的to_excel方法将数据写入:

In [76]:
writer = pd.ExcelWriter('D:/pydata-book/examples/ex2.xlsx')
type(writer)

pandas.io.excel._XlsxWriter

In [77]:
frame.to_excel(writer, 'Sheet1')
writer.save()

You can also pass a file path to to_excel and avoid the ExcelWriter:
<font color=Indigo>
您还可以通过传递一个路径给to_excel，而无需使用ExcelWriter对象:

In [78]:
frame.to_excel('D:/pydata-book/examples/ex3.xlsx')

## Interacting with Web APIs

Many websites have public APIs providing data feeds via JSON or some other format.There are a number of ways to access these APIs from Python; one easy-to-use method that I recommend is the requests package.
<font color=Indigo>
许多网站都有通过JSON或其他格式提供数据提要的公共API。有很多方法可以从Python中访问这些API.我推荐requests包,它非常易于使用。

To find the last 30 GitHub issues for pandas on GitHub, we can make a GET HTTP
request using the add-on requests library:
<font color=Indigo>
找到GitHub上的最后30个GitHub问题，我们可以使用requests扩展库,制作一个GET HTTP请求

In [79]:
import requests

In [80]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)

In [81]:
resp

The Response object’s json method will return a dictionary containing JSON parsed into native Python objects:
<font color=Indigo>
Response对象的json方法返回一个包含JSON解析为原生Python对象的字典.

In [82]:
data = resp.json()
data[0]['title']

"Index(data=..., dtype=CategoricalDtype(...)) doesn't maintain dtype"

Each element in data is a dictionary containing all of the data found on a GitHub issue page (except for the comments). We can pass data directly to DataFrame and extract fields of interest:
<font color=Indigo>
字典数据中的所有元素都包含在GitHub issue页面上(注释除外)。我们可以直接将数据传递给DataFrame并提取感兴趣的字段:

In [83]:
issues = pd.DataFrame(data, columns=['number', 'title', 'labels', 'state'])
issues.head()

,number,title,labels,state
0,19032,"Index(data=..., dtype=CategoricalDtype(...)) d...","[{'id': 78527356, 'url': 'https://api.github.c...",open
1,19031,CLN: ASV indexing,"[{'id': 732775912, 'url': 'https://api.github....",open
2,19030,BUG: repr on DTI with high precision is wrong,"[{'id': 195647922, 'url': 'https://api.github....",open
3,19029,Warn on duplicate names in MI?,"[{'id': 35818298, 'url': 'https://api.github.c...",open
4,19028,DataFrame doesn't define density,"[{'id': 35818298, 'url': 'https://api.github.c...",open

With a bit of elbow grease, you can create some higher-level interfaces to common web APIs that return DataFrame objects for easy analysis.
<font color=Indigo>
要想能够直接得到便于分析的DataFrame对象,只需再多费些精力创建出对常见Web API的更高级的接口即可.

## Interacting with Databases

In a business setting, most data may not be stored in text or Excel files. SQL-based relational databases (such as SQL Server, PostgreSQL, and MySQL) are in wide use, and many alternative databases have become quite popular. The choice of database is usually dependent on the performance, data integrity, and scalability needs of an application.
<font color=Indigo>
在业务环境中，大多数数据可能不会存储在文本或Excel文件中。基于SQL的关系形数据库(如SQL Server、PostgreSQL和MySQL)广泛使用，许多替代数据库已经变得非常流行。数据库的选择通常取决于应用程序的性能、数据完整性和可伸缩性需求。

Loading data from SQL into a DataFrame is fairly straightforward, and pandas has some functions to simplify the process. As an example, I’ll create a SQLite database using Python’s built-in sqlite3 driver:
<font color=Indigo>
从SQL加载数据到一个DataFrame是相当简单的，而pandas有一些功能来简化这个过程。例如，我将使用Python内置的sqlite3驱动程序创建一个SQLite数据库。

In [84]:
import sqlite3

In [85]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);""" 
con = sqlite3.connect('mydata.sqlite')

# con.execute(query)

Then, insert a few rows of data:
<font color=Indigo>
然后,插入几行数据:

In [86]:
data = [('Atlanta', 'Georgia', 1.25, 6),
       ('Tallahassee', 'Florida', 2.6, 3),
       ('Sacramento', 'California', 1.7, 5)]

stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)

In [87]:
con.commit()

Most Python SQL drivers (PyODBC, psycopg2, MySQLdb, pymssql, etc.) return a list of tuples when selecting data from a table:
<font color=Indigo>
大多数Python SQL驱动程序(PyODBC、psycopg2、mysqtable、pymssql等)在从表中选择数据时返回一个元组列表

In [370]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows[:5]

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3)]

You can pass the list of tuples to the DataFrame constructor, but you also need the column names, contained in the cursor’s description attribute:
<font color=Indigo>
您可以将元组的列表传递给DataFrame构造函数，但是您也需要在cursor的description属性中包含的列名称:

In [89]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [90]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description]).head()

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5
3      Atlanta     Georgia  1.25  6
4  Tallahassee     Florida  2.60  3

This is quite a bit of munging that you’d rather not repeat each time you query the database. The SQLAlchemy project is a popular Python SQL toolkit that abstracts away many of the common differences between SQL databases. pandas has a read_sql function that enables you to read data easily from a general SQLAlchemy connection. Here, we’ll connect to the same SQLite database with SQLAlchemy and read data from the table created before:
<font color=Indigo>
每次您查询数据库时，您都不会重复这样做,这是相当大的问题。SQLAlchemy project是一种流行的Python SQL工具包，它抽象了SQL数据库之间的许多常见分歧。pandas有一个read_sql函数，它使您能够轻松地从一般的SQLAlchemy连接中读取数据。在这里，我们将使用SQLAlchemy连接相同的SQLite数据库，并从之前创建的表中读取数据:

In [91]:
import sqlalchemy as sqla

In [92]:
db = sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test', db).head()

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5
3      Atlanta     Georgia  1.25  6
4  Tallahassee     Florida  2.60  3

## Conclusion

Getting access to data is frequently the first step in the data analysis process. We have looked at a number of useful tools in this chapter that should help you get started. In the upcoming chapters we will dig deeper into data wrangling, data visualization,time series analysis, and other topics.
<font color=Indigo>
获取数据常常是数据分析过程中的第一步。在这一章中，我们已经讨论了一些有用的工具，它们可以帮助您入门。在接下来的章节中，我们将深入探讨数据的整理、数据可视化、时间序列分析以及其他主题。