In [1]:
from pandas import DataFrame, read_csv
import matplotlib as plt
import pandas as pd
import sys
import matplotlib

%matplotlib inline

In [2]:
print('Python version' + sys.version)
print('Pandas version' + pd.__version__)
print('Matplotlib version' + plt.__version__)

Python version3.6.3 |Anaconda, Inc.| (default, Oct 15 2017, 07:29:16) [MSC v.1900 32 bit (Intel)]
Pandas version0.20.3
Matplotlib version2.1.0

In [3]:
names = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
births = [968, 155, 77, 578, 973]

In [4]:
zip?

In [5]:
baby_zip_set = list(zip(names, births))
baby_zip_set

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [6]:
df = pd.DataFrame(data = baby_zip_set, columns=['Name', 'Birth'])
df

      Name  Birth
0      Bob    968
1  Jessica    155
2     Mary     77
3     John    578
4      Mel    973

In [7]:
df.to_csv?

In [11]:
df.to_csv('births1990.csv', index=False, header=False)

In [12]:
read_csv?

In [ ]:
df = pd.read_csv('births1990.csv')