In [132]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')

In [133]:
broken_df = pd.read_csv('../data/bikes.csv',encoding='latin1')
broken_df.head()

  Date;Berri;Brébeuf;Côte-Sainte-Catherine;Maisonneuve 1;Maisonneuve 2;du Parc;Pierre-Dupuy;Rachel;Saint-Urbain
0       vendredi 01 janv 2010;36;0;0;17;37;0;0;0;267
1         samedi 02 janv 2010;28;0;0;24;47;0;0;0;114
2       dimanche 03 janv 2010;39;0;0;22;56;0;0;0;150
3        lundi 04 janv 2010;117;0;0;71;237;0;0;0;423
4        mardi 05 janv 2010;225;0;0;88;309;0;0;0;836

You'll notice that this is totally broken! `read_csv` has a bunch of options that will let us fix that, though. Here we'll

- change the column separator to a `;`
- Set the encoding to _latin1_ (the default is **utf8**)
- Parse the dates in the **Date** column
- Tell it that our dates have the date first instead of the month first
- Set the index to be the **Date** column

In [134]:
fixed_df = pd.read_csv('../data/bikes.csv', sep=';', encoding='latin1', parse_dates=['Date'], dayfirst=True, index_col='Date')
fixed_df[:3]

,Berri,Brébeuf,Côte-Sainte-Catherine,Maisonneuve 1,Maisonneuve 2,du Parc,Pierre-Dupuy,Rachel,Saint-Urbain
Date,,,,,,,,,
vendredi 01 janv 2010,36,0,0,17,37,0,0,0,267
samedi 02 janv 2010,28,0,0,24,47,0,0,0,114
dimanche 03 janv 2010,39,0,0,22,56,0,0,0,150

In [146]:
fixed_df.loc[:, ['Berri','Maisonneuve 1']].head()

                      Berri Maisonneuve 1
Date
vendredi 01 janv 2010    36            17
samedi 02 janv 2010      28            24
dimanche 03 janv 2010    39            22
lundi 04 janv 2010      117            71
mardi 05 janv 2010      225            88

In [161]:
fixed_df.lo['Maisonneuve 1'].head()

TypeError: unhashable type: 'slice'

In [ ]:
df.plot(figsize=(15, 10))