<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><span><a href="#CHAPTER-7--Data-Cleaning-and-Preparation" data-toc-modified-id="CHAPTER-7--Data-Cleaning-and-Preparation-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>CHAPTER 7  Data Cleaning and Preparation</a></span><ul class="toc-item"><li><span><a href="#Handing-Missing-Data" data-toc-modified-id="Handing-Missing-Data-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Handing Missing Data</a></span><ul class="toc-item"><li><span><a href="#Filtering-Out-Missing-Data" data-toc-modified-id="Filtering-Out-Missing-Data-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Filtering Out Missing Data</a></span></li><li><span><a href="#Filling-In-Missing-Data" data-toc-modified-id="Filling-In-Missing-Data-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Filling In Missing Data</a></span></li></ul></li><li><span><a href="#Data-Transformation" data-toc-modified-id="Data-Transformation-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Data Transformation</a></span><ul class="toc-item"><li><span><a href="#Removing-Duplicates" data-toc-modified-id="Removing-Duplicates-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Removing Duplicates</a></span></li><li><span><a href="#Transforming-Data-Using-a-Function-or-Mapping" data-toc-modified-id="Transforming-Data-Using-a-Function-or-Mapping-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Transforming Data Using a Function or Mapping</a></span></li><li><span><a href="#Replacing-Values" data-toc-modified-id="Replacing-Values-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Replacing Values</a></span></li><li><span><a href="#Renaming-Axis-Indexes" data-toc-modified-id="Renaming-Axis-Indexes-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>Renaming Axis Indexes</a></span></li><li><span><a href="#Discretization-and-Binning" data-toc-modified-id="Discretization-and-Binning-1.2.5"><span class="toc-item-num">1.2.5&nbsp;&nbsp;</span>Discretization and Binning</a></span></li><li><span><a href="#Detecting-and-Filtering-OutLiers" data-toc-modified-id="Detecting-and-Filtering-OutLiers-1.2.6"><span class="toc-item-num">1.2.6&nbsp;&nbsp;</span>Detecting and Filtering OutLiers</a></span></li><li><span><a href="#Permutation-and-Random-Sampling" data-toc-modified-id="Permutation-and-Random-Sampling-1.2.7"><span class="toc-item-num">1.2.7&nbsp;&nbsp;</span>Permutation and Random Sampling</a></span></li><li><span><a href="#Computing-Indicator/Dummy-Variables" data-toc-modified-id="Computing-Indicator/Dummy-Variables-1.2.8"><span class="toc-item-num">1.2.8&nbsp;&nbsp;</span>Computing Indicator/Dummy Variables</a></span></li></ul></li><li><span><a href="#String-Manipulation" data-toc-modified-id="String-Manipulation-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>String Manipulation</a></span><ul class="toc-item"><li><span><a href="#String-Object-Methods" data-toc-modified-id="String-Object-Methods-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>String Object Methods</a></span></li><li><span><a href="#Regular-Expressions" data-toc-modified-id="Regular-Expressions-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Regular Expressions</a></span></li><li><span><a href="#Vectorized-String-Functions-in-pandas" data-toc-modified-id="Vectorized-String-Functions-in-pandas-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>Vectorized String Functions in pandas</a></span></li></ul></li><li><span><a href="#Conclusion" data-toc-modified-id="Conclusion-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Conclusion</a></span></li></ul></li></ul></div>

# CHAPTER 7  Data Cleaning and Preparation

During the course of doing data analysis and modeling, a significant amount of time is spent on data preparation: loading, cleaning, transforming, and rearranging. Such tasks are often reported to take up 80% or more of an analyst’s time. Sometimes the way that data is stored in files or databases is not in the right format for a particular task. Many researchers choose to do ad hoc processing of data from one form to another using a general-purpose programming language, like Python, Perl, R, or Java, or Unix text-processing tools like sed or awk. Fortunately, pandas, along with the built-in Python language features, provides you with a high-level, flexible, and fast set of tools to enable you to manipulate data into the right form.
<font color=Indigo>
在进行数据分析和建模的过程中，大量的时间花费在数据准备上:加载、清理、转换和重排。这样的任务通常占用分析师80%或更的时间。有时候，数据存储在文件或数据库中的格式不是针对特定任务的正确格式。许多研究人员选择使用一种通用的编程语言，比如Python、Perl、R或Java，或者像sed或awk之类的Unix文本处理工具，对数据进行临时处理。幸运的是，pandas以及内置的Python语言特性，为您提供了一种高级、灵活和快速的工具，使您能够将数据处理为正确的形式。

If you identify a type of data manipulation that isn’t anywhere in this book or elsewhere in the pandas library, feel free to share your use case on one of the Python mailing lists or on the pandas GitHub site. Indeed, much of the design and implementation of pandas has been driven by the needs of real-world applications.
<font color=Indigo>
如果你发现了一种类型的数据操作，并没有在这本书或者其他地方的pandas库里提及，你可以随意在一个Python邮件列表或者pandas的GitHub网站上分享你的用例。事实上，pandas的设计和实施主要是受到工作中的需求驱使。

In this chapter I discuss tools for missing data, duplicate data, string manipulation,and some other analytical data transformations. In the next chapter, I focus on combining and rearranging datasets in various ways.
<font color=Indigo>
在本章中，我将讨论缺失数据、重复数据、字符串处理和其他一些分析数据转换的工具。在下一章中，我将重点放在以各种方式组合和重新排列数据集。

## Handing Missing Data

Missing data occurs commonly in many data analysis applications. One of the goals of pandas is to make working with missing data as painless as possible. For example, all of the descriptive statistics on pandas objects exclude missing data by default.
<font color=Indigo>
丢失的数据通常出现在许多数据分析应用程序中。pandas的目标之一就是尽可能少地使用缺失的数据。例如，所有关于pandas对象的描述性统计数据默认都不包含丢失的数据。

The way that missing data is represented in pandas objects is somewhat imperfect, but it is functional for a lot of users. For numeric data, pandas uses the floating-point value NaN (Not a Number) to represent missing data. We call this a sentinel value that can be easily detected:
<font color=Indigo>
丢失数据的表示方式在pandas对象中看起来是有些不完美的，但它对很多用户都是有用的。对于数字数据，pandas使用浮点值NaN(不是一个数字)来表示缺失的数据。我们称其为标记值，可以很容易地检测到:

In [93]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [94]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In pandas, we’ve adopted a convention used in the R programming language by referring to missing data as NA, which stands for not available. In statistics applications, NA data may either be data that does not exist or that exists but was not observed (through problems with data collection, for example). When cleaning up data for analysis, it is often important to do analysis on the missing data itself to identify data collection problems or potential biases in the data caused by missing data.
<font color=Indigo>
在pandas中，我们采用了一种在R编程语言中使用的约定，它的是缺失的数据是NA表示这是不可用的。在统计应用程序中，NA数据要么是不存在的数据，要么是存在的，但没有被观察到(例如，通过数据收集的问题)。在为分析清理数据时，常常需要对丢失的数据进行分析，以确定数据收集问题或由于缺少数据导致的数据潜在偏差。

The built-in Python None value is also treated as NA in object arrays:
<font color=Indigo>
内置的Python None值在数组对象中也被当作NA对待:

In [95]:
string_data[0] = None
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

There is work ongoing in the pandas project to improve the internal details of how missing data is handled, but the user API functions, like pandas.isnull, abstract away many of the annoying details. See Table 7-1 for a list of some functions related to missing data handling.
<font color=Indigo>
pandas项目正在改善处理丢失数据的内部细节，但用户API，比如pandas.isnull，抽象出许多烦人的细节。参见表7-1列出了与丢失的数据处理相关的一些函数的列表。

Table 7-1. NA handling methods

Argument|Description
:-|:-
dropna | Filter axis labels based on whether values for each label have missing data, with varying thresholds for how much missing data to tolerate.
fillna | Fill in missing data with some value or using an interpolation method such as 'ffill' or 'bfill'.
isnull | Return boolean values indicating which values are missing/NA.
notnull | Negation of isnull.
-------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------

表 7-1. NA处理方法

实参|描述
:-|:-
dropna | 根据每个标签的值是否缺少数据过滤轴标签，对于允许有多少缺失数据的阈值。
fillna | 用一些值填充缺失的数据，或者使用插值方法，如“ffill”或“bfill”。
isnull | 返回布尔值，表示哪些值是缺失/na的。
notnull | isnull的否定。
-------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### Filtering Out Missing Data

There are a few ways to filter out missing data. While you always have the option to do it by hand using pandas.isnull and boolean indexing, the dropna can be helpful. On a Series, it returns the Series with only the non-null data and index values:
<font color=Indigo>
有几种方法可以过滤掉丢失的数据。虽然你总是可以用pandas.isnull和布尔索引来做这件事。在Series中，它只返回一个包含 non-null 数据和索引值的Series.

In [96]:
from numpy import nan as NA

In [97]:
data = pd.Series([1, NA, 3.5, NA, 7])
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

This is equivalent to:
<font color=Indigo>
这相当于:

In [98]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

With DataFrame objects, things are a bit more complex. You may want to drop rows or columns that are all NA or only those containing any NAs. dropna by default drops any row containing a missing value:
<font color=Indigo>
对于DataFrame对象，事情要复杂得多。您可能想要删除所有的行或列，或者只包含那些包含NAs的列。在默认情况下，NAs.dropna会删除任何包含缺失值的行:

In [99]:
data = pd.DataFrame([[1., 6.5, 3.],[1., NA, NA], [NA, NA, NA], [NA, 6.5, 3.]])
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [100]:
cleaned = data.dropna()
cleaned

     0    1    2
0  1.0  6.5  3.0

Passing how='all' will only drop rows that are all NA:
<font color=Indigo>
传递how='all'实参,只会删除所有包含NA的行:

In [101]:
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

To drop columns in the same way, pass axis=1:
<font color=Indigo>
要以同样的方式删除列，通过传递实参axis=1:

In [102]:
data[4] = NA
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [103]:
data.dropna(axis=1, how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

A related way to filter out DataFrame rows tends to concern time series data. Suppose you want to keep only rows containing a certain number of observations. You can indicate this with the thresh argument:
<font color=Indigo>
一种过滤出DataFrame行的相关方法倾向于关注时间序列数据。假设您只想保留包含一定数量NA值的行。你可以通过参数`thresh`来表明:

In [104]:
df = pd.DataFrame(np.random.randn(7, 3))
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
df

          0         1         2
0  1.702696       NaN       NaN
1 -1.637550       NaN       NaN
2 -1.053922       NaN -0.137016
3 -0.478877       NaN -0.369301
4  0.510542 -1.372570  0.727359
5  1.913804  0.004187 -0.083031
6  1.686229  0.511764 -1.199744

In [105]:
df.dropna()

          0         1         2
4  0.510542 -1.372570  0.727359
5  1.913804  0.004187 -0.083031
6  1.686229  0.511764 -1.199744

In [106]:
df.dropna(thresh=2)

          0         1         2
2 -1.053922       NaN -0.137016
3 -0.478877       NaN -0.369301
4  0.510542 -1.372570  0.727359
5  1.913804  0.004187 -0.083031
6  1.686229  0.511764 -1.199744

### Filling In Missing Data

Rather than filtering out missing data (and potentially discarding other data along with it), you may want to fill in the “holes” in any number of ways. For most purposes, the fillna method is the workhorse function to use. Calling fillna with a constant replaces missing values with that value:
<font color=Indigo>
您可能希望以各种方式填充“洞”，而不是过滤掉丢失的数据(并可能丢弃其他数据)。在大多数情况下，主要使用fillna。调用fillnna用一个常量替换缺失的值:

In [107]:
df.fillna(0)

          0         1         2
0  1.702696  0.000000  0.000000
1 -1.637550  0.000000  0.000000
2 -1.053922  0.000000 -0.137016
3 -0.478877  0.000000 -0.369301
4  0.510542 -1.372570  0.727359
5  1.913804  0.004187 -0.083031
6  1.686229  0.511764 -1.199744

Calling fillna with a dict, you can use a different fill value for each column:
<font color=Indigo>
将字典传入fillna的参数中,你可以为每一列指定不同的填充值.

In [108]:
df.fillna({1: 0.5, 2: 0})

          0         1         2
0  1.702696  0.500000  0.000000
1 -1.637550  0.500000  0.000000
2 -1.053922  0.500000 -0.137016
3 -0.478877  0.500000 -0.369301
4  0.510542 -1.372570  0.727359
5  1.913804  0.004187 -0.083031
6  1.686229  0.511764 -1.199744

fillna returns a new object, but you can modify the existing object in-place:
<font color=Indigo>
fillna 返回一个新对象,但是您可以通过inplace参数就地修改现有的对象:

In [109]:
_ = df.fillna(0, inplace=True)
df

          0         1         2
0  1.702696  0.000000  0.000000
1 -1.637550  0.000000  0.000000
2 -1.053922  0.000000 -0.137016
3 -0.478877  0.000000 -0.369301
4  0.510542 -1.372570  0.727359
5  1.913804  0.004187 -0.083031
6  1.686229  0.511764 -1.199744

The same interpolation methods available for reindexing can be used with fillna:
<font color=Indigo>
可用于重新索引的内插方法可用于fillna:

In [110]:
df = pd.DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = NA
df.iloc[4:, 2] = NA
df

          0         1         2
0 -0.031191  0.840072  0.545206
1  0.612026  1.693890 -0.124368
2  0.549870       NaN  0.233467
3 -0.639924       NaN  0.878986
4 -1.322848       NaN       NaN
5  1.558834       NaN       NaN

In [111]:
df.fillna(method='ffill')

          0         1         2
0 -0.031191  0.840072  0.545206
1  0.612026  1.693890 -0.124368
2  0.549870  1.693890  0.233467
3 -0.639924  1.693890  0.878986
4 -1.322848  1.693890  0.878986
5  1.558834  1.693890  0.878986

In [112]:
df.fillna(method='ffill', limit=2)

          0         1         2
0 -0.031191  0.840072  0.545206
1  0.612026  1.693890 -0.124368
2  0.549870  1.693890  0.233467
3 -0.639924  1.693890  0.878986
4 -1.322848       NaN  0.878986
5  1.558834       NaN  0.878986

With fillna you can do lots of other things with a little creativity. For example, you might pass the mean or median value of a Series:
<font color=Indigo>
通过fillna你还可以做很多其他的事情.例如,你可以传递一个平均值或中间值的Series

In [113]:
data = pd.Series([1., NA, 3.5, NA, 7])
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

See Table 7-2 for a reference on fillna.
<font color=Indigo>
关于fillna的参考,见表 7-2

Table 7-2. fillna function arguments

Argument|Description
:-|:-
value | Scalar value or dict-like object to use to fill missing values
method | Interpolation; by default 'ffill' if function called with no other arguments
axis | Axis to fill on; default axis=0
inplace | Modify the calling object without producing a copy
limit | For forward and backward filling, maximum number of consecutive periods to fill
-------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------

表 7-2. fillna 函数实参

实参|描述
:-|:-
value | 用于填充缺失值的标量值或类似字典的对象
method | 插值;如果函数调用没有其他参数，默认为“ffill”
axis | 根据轴来填充; 默认 axis=0
inplace | 在不生成副本的情况下修改调用对象
limit | 对于向前和向后填充，最大连续填充数量
-------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Data Transformation
<font color=Indigo>
数据转换

So far in this chapter we’ve been concerned with rearranging data. Filtering, cleaning,and other transformations are another class of important operations.
<font color=Indigo>
本章到目前为止，我们一直在关注重新排列数据。过滤、清理和其他转换是另一类重要的操作。

### Removing Duplicates
<font color=Indigo>
删除重复

Duplicate rows may be found in a DataFrame for any number of reasons. Here is an example:
<font color=Indigo>
可以在DataFrame中找到重复的行原因有很多。例如:

In [114]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

The DataFrame method duplicated returns a boolean Series indicating whether each row is a duplicate (has been observed in a previous row) or not:
<font color=Indigo>
DataFrame的duplicated方法返回一个布尔Series，指示每一行是否为重复的(与前一行做比较):

In [115]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

Relatedly, drop_duplicates returns a DataFrame where the duplicated array is False:
<font color=Indigo>
在重复的情况下，drop_duplicate会返回一个DataFrame，其中重复的数组为False(该行被丢弃):

In [116]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

Both of these methods by default consider all of the columns; alternatively, you can specify any subset of them to detect duplicates. Suppose we had an additional column of values and wanted to filter duplicates only based on the 'k1' column:
<font color=Indigo>
这两种方法都默认考虑所有列，您可以指定它们的任何子集来检测重复。假设我们有一个额外的值列，并且仅基于“k1”列来过滤重复项:

In [117]:
data['v1'] = range(7)
data.drop_duplicates(['k1'])

    k1  k2  v1
0  one   1   0
1  two   1   1

duplicated and drop_duplicates by default keep the first observed value combination. Passing keep='last' will return the last one:
<font color=Indigo>
默认情况下，duplicate的和drop_duplicate会保留第一个观测值的组合。通过keep='last'将返回最后一个:

In [118]:
data.drop_duplicates(['k1', 'k2'], keep='last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

### Transforming Data Using a Function or Mapping
<font color=Indigo>
使用函数或映射转换数据

For many datasets, you may wish to perform some transformation based on the values in an array, Series, or column in a DataFrame. Consider the following hypothetical data collected about various kinds of meat:
<font color=Indigo>
对于许多数据集，您可能希望根据数组、序列或DataFrame中的列的值执行一些转换。考虑以下有关各种肉类的数据:

In [119]:
data = pd.DataFrame({'food': ['bacon','pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'Pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     Pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

Suppose you wanted to add a column indicating the type of animal that each food came from. Let’s write down a mapping of each distinct meat type to the kind of animal:
<font color=Indigo>
假设您想添加一个列，指示每种食物来自于那些动物类型。让我们把每一种不同肉类的映射写在动物身上:

In [120]:
meat_to_animal = {
    'bacon': 'pig',
    'pulled pork': 'pig',
    'pastrami': 'cow',
    'corned beef': 'pig',
    'honey ham': 'pig',
    'nova lox': 'salmon'
}

The map method on a Series accepts a function or dict-like object containing a mapping,but here we have a small problem in that some of the meats are capitalized and others are not. Thus, we need to convert each value to lowercase using the str.lower Series method:
<font color=Indigo>
一个Series的map方法接受一个包含映射的函数或类似于dict的对象，但是这里我们有一个小问题，其中一些肉是大写的，而另一些不是。因此，我们需要使用str.lower方法将每个值转换为小写:

In [121]:
lowercased = data['food'].str.lower()
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [122]:
data['animal'] = lowercased.map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     pig
5        Bacon     8.0     pig
6     Pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

We could also have passed a function that does all the work:
<font color=Indigo>
我们还可以通过一个函数来完成所有的工作:

In [123]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       pig
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

Using map is a convenient way to perform element-wise transformations and other data cleaning–related operations.
<font color=Indigo>
使用map是执行元素化转换和其他数据清理相关操作的一种方便的方法。

### Replacing Values
<font color=Indigo>
替换值

Filling in missing data with the fillna method is a special case of more general value replacement. As you’ve already seen, map can be used to modify a subset of values in an object but replace provides a simpler and more flexible way to do so. Let’s consider this Series:
<font color=Indigo>
使用fillna方法填补缺失数据是特殊情况的下使用的更普通的值替换。正如您已经看到的，map可以用于修改对象中的值的子集，但是replace提供了一种更简单和更灵活的方法。让我们考虑一下这个系列:

In [124]:
data = pd.Series([1., -999., -999., -1000., 3.])
data

0       1.0
1    -999.0
2    -999.0
3   -1000.0
4       3.0
dtype: float64

The -999 values might be sentinel values for missing data. To replace these with NA values that pandas understands, we can use replace, producing a new Series (unless you pass inplace=True):
<font color=Indigo>
值-999可能是丢失数据的标记值。要用pandas能够理解的NA值来代替这些，我们可以用replace，生成一个新的Series(除非你通过inplace=True):

In [125]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       NaN
3   -1000.0
4       3.0
dtype: float64

If you want to replace multiple values at once, you instead pass a list and then the substitute value:
<font color=Indigo>
如果您想要同时替换多个值，则需要传递一个列表，和要替换的值:

In [126]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    NaN
3    NaN
4    3.0
dtype: float64

To use a different replacement for each value, pass a list of substitutes:
<font color=Indigo>
要使用不同的替换值，请通过一个替换列表:

In [127]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    NaN
3    0.0
4    3.0
dtype: float64

The argument passed can also be a dict:
<font color=Indigo>
参数传递也可以是一个dict:

In [128]:
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    NaN
3    0.0
4    3.0
dtype: float64

_The data.replace method is distinct from data.str.replace,which performs string substitution element-wise. We look at these string methods on Series later in the chapter._
<font color=Indigo>
_data.replace方法与data.str.replace方法不同，后者执行字符串元素替换。我们将在本章后面的Series中讨论这些字符串方法。_

### Renaming Axis Indexes
<font color=Indigo>
重命名轴索引

Like values in a Series, axis labels can be similarly transformed by a function or mapping of some form to produce new, differently labeled objects. You can also modify the axes in-place without creating a new data structure. Here’s a simple example:
<font color=Indigo>
与Series中的值一样，axis标签也可以通过某种形式的函数或映射进行类似的转换，以生成新的、不同标记的对象。您还可以在不创建新的数据结构的情况下修改坐标轴。下面是一个简单的例子:

In [129]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=['Ohio', 'Colorado', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

Like a Series, the axis indexes have a map method:
<font color=Indigo>
与系列一样，axis索引也有一个map方法:

In [130]:
transform = lambda x: x[:4].upper()
data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

You can assign to index, modifying the DataFrame in-place:
<font color=Indigo>
你可以就地修改DataFrame的索引：

In [131]:
data.index = data.index.map(transform)
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

If you want to create a transformed version of a dataset without modifying the original,a useful method is rename:
<font color=Indigo>
如果您想要在不修改原始数据的情况下创建一个已转换的数据集，那么一个有用的方法是raname:

In [132]:
data.rename(index=str.title, columns=str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

Notably, rename can be used in conjunction with a dict-like object providing new values for a subset of the axis labels:
<font color=Indigo>
值得注意的是，重命名可以与一个类似于字典的对象一起使用，为axis标签的子集提供新的值:

In [133]:
data.rename(index={'OHIO': 'INDIANA'},
            columns={'three': 'peekaboo'})

         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

rename saves you from the chore of copying the DataFrame manually and assigning to its index and columns attributes. Should you wish to modify a dataset in-place,pass inplace=True:
<font color=Indigo>
rename将你从手动复制DataFrame并分配到其索引和列属性的繁琐工作中解脱出来。如果您希望原地修改数据集，请通过inplace=True:

In [134]:
data.rename(index={'OHIO': 'INDIANA'}, inplace=True)
data

         one  two  three  four
INDIANA    0    1      2     3
COLO       4    5      6     7
NEW        8    9     10    11

### Discretization and Binning
<font color=Indigo>
离散化和装箱

Continuous data is often discretized or otherwise separated into “bins” for analysis. Suppose you have data about a group of people in a study, and you want to group them into discrete age buckets:
<font color=Indigo>
连续的数据经常被离散化，或者被分割成“bins”用于分析。假设你有一组研究人员的数据，你想把他们分组到离散的年龄阶段:

In [135]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

Let’s divide these into bins of 18 to 25, 26 to 35, 36 to 60, and finally 61 and older. To do so, you have to use cut, a function in pandas:
<font color=Indigo>
我们把这些分成18到25，26到35，36到60，61和最后的bins。为了实现这一目的，你必须使用pandas的功能:

In [136]:
bins = [18, 25, 35, 60, 100]
cats = pd.cut(ages, bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

The object pandas returns is a special `Categorical` object. The output you see describes the bins computed by `pandas.cut`. You can treat it like an array of strings indicating the bin name; internally it contains a `categories` array specifying the distinct category names along with a labeling for the `ages` data in the `codes` attribute:
<font color=Indigo>
pandas返回的对象是一个特殊的Categorical对象。你看的输出描述了pandas.cut计算的bins。你可以把它当作一个字符串数组来表示这个箱子的名字；在内部，它包含一个Categorical数组，指定了不同类别的名称，以及codes属性中ages数据的标签:

In [137]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [138]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]]
              closed='right',
              dtype='interval[int64]')

In [139]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

Note that pd.value_counts(cats) are the bin counts for the result of pandas.cut.
<font color=Indigo>
请注意，pd.value_consts(cats)是pandas.cut的结果。

Consistent with mathematical notation for intervals, a parenthesis means that the side is open, while the square bracket means it is closed (inclusive). You can change which side is closed by passing right=False:
<font color=Indigo>
与区间的数学符号一致，圆括号表示边是开发的，而方括号表示它是闭合的(包含)。你可以通过传递right=False来改变哪一侧是闭合的。

In [140]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

You can also pass your own bin names by passing a list or array to the labels option:
<font color=Indigo>
您还可以通过将一个列表或数组传递给标签选项来指定bin的自定义名称:

In [141]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']

In [142]:
pd.cut(ages, bins, labels=group_names)

[Youth, Youth, Youth, YoungAdult, Youth, ..., YoungAdult, Senior, MiddleAged, MiddleAged, YoungAdult]
Length: 12
Categories (4, object): [Youth < YoungAdult < MiddleAged < Senior]

If you pass an integer number of bins to cut instead of explicit bin edges, it will compute equal-length bins based on the minimum and maximum values in the data. Consider the case of some uniformly distributed data chopped into fourths:
<font color=Indigo>
如果您传递一个整数的输出数据分段，而不是显式的边界，它将根据数据的最小值和最大值来计算等长度的容器。考虑一下将一些均匀分布数据分成四份:

In [143]:
data = np.random.rand(20)
pd.cut(data, 4, precision=2)

[(0.053, 0.27], (0.053, 0.27], (0.7, 0.92], (0.7, 0.92], (0.49, 0.7], ..., (0.49, 0.7], (0.49, 0.7], (0.053, 0.27], (0.7, 0.92], (0.7, 0.92]]
Length: 20
Categories (4, interval[float64]): [(0.053, 0.27] < (0.27, 0.49] < (0.49, 0.7] < (0.7, 0.92]]

The precision=2 option limits the decimal precision to two digits.
<font color=Indigo>
precision=2 的设置是将十进制精度限制为两位数

A closely related function, qcut, bins the data based on sample quantiles. Depending on the distribution of the data, using cut will not usually result in each bin having the same number of data points. Since qcut uses sample quantiles instead, by definition you will obtain roughly equal-size bins:
<font color=Indigo>
还有一个类似的函数qcut，它让bins的数量基于样本的数量。根据数据的分布情况，使用cut通常不会导致每个bins拥有相同数量的数据点。由于qcut使用的是样本数量，根据定义，你将得到大致相同大小的bins:

In [144]:
data = np.random.randn(1000) # Normally distributed
cats = pd.qcut(data, 4) # Cut into quartiles
cats

[(0.703, 3.102], (-3.362, -0.675], (-0.675, 0.0708], (-0.675, 0.0708], (-3.362, -0.675], ..., (-0.675, 0.0708], (0.0708, 0.703], (-0.675, 0.0708], (0.0708, 0.703], (-0.675, 0.0708]]
Length: 1000
Categories (4, interval[float64]): [(-3.362, -0.675] < (-0.675, 0.0708] < (0.0708, 0.703] < (0.703, 3.102]]

In [145]:
pd.value_counts(cats)

(0.703, 3.102]      250
(0.0708, 0.703]     250
(-0.675, 0.0708]    250
(-3.362, -0.675]    250
dtype: int64

Similar to cut you can pass your own quantiles (numbers between 0 and 1, inclusive):
<font color=Indigo>
与cut类似，你可以传递自定义的数量(数字在0和1之间，包括1):

In [146]:
pd.qcut(data,[0, 0.1, 0.5, 0.9, 1.])

[(1.328, 3.102], (-1.253, 0.0708], (-1.253, 0.0708], (-1.253, 0.0708], (-1.253, 0.0708], ..., (-1.253, 0.0708], (0.0708, 1.328], (-1.253, 0.0708], (0.0708, 1.328], (-1.253, 0.0708]]
Length: 1000
Categories (4, interval[float64]): [(-3.362, -1.253] < (-1.253, 0.0708] < (0.0708, 1.328] < (1.328, 3.102]]

We’ll return to cut and qcut later in the chapter during our discussion of aggregation and group operations, as these discretization functions are especially useful for quantile and group analysis.
<font color=Indigo>
在后面的章节讨论聚合和组操作时，我们将再次讨论cut和qcut，因为这些离散化功能对于分位数和组分析特别有用。

### Detecting and Filtering OutLiers
<font color=Indigo>
检测和过滤异常值

Filtering or transforming outliers is largely a matter of applying array operations. Consider a DataFrame with some normally distributed data:
<font color=Indigo>
过滤或转换异常值很大程度上是应用数组操作的事件。考虑一个带有一些正态分布数据的DataFrame:

In [147]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.063507     0.011017     0.019288     0.010059
std       0.990083     1.006633     1.020560     1.021858
min      -3.628952    -3.342274    -3.304673    -3.838281
25%      -0.698903    -0.695039    -0.657475    -0.739488
50%      -0.067931     0.031967     0.041081     0.023260
75%       0.595027     0.664259     0.671539     0.701483
max       3.441356     3.654029     3.368154     3.267102

Suppose you wanted to find values in one of the columns exceeding 3 in absolute value:
<font color=Indigo>
假设您希望在一列中找到绝对值大于3的值:

In [148]:
col = data[2]
col[np.abs(col) > 3]

79     3.347270
339   -3.304673
702   -3.098892
952    3.368154
Name: 2, dtype: float64

To select all rows having a value exceeding 3 or –3, you can use the `any` method on a boolean DataFrame:
<font color=Indigo>
要选择值超过3或-3的所有行，您可以使用布尔DataFrame上的any方法:

In [149]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
79  -0.369370 -0.369966  3.347270  1.348699
90   0.557849  0.256259 -0.410084  3.141028
240  3.441356  2.453899  0.891853  0.794933
339 -1.651365 -0.521280 -3.304673 -1.772892
502  3.101308 -1.595628  0.598443  1.366019
..        ...       ...       ...       ...
789 -0.016118 -3.217748  0.068349 -0.762806
865 -2.134281 -3.342274 -1.012483 -0.338203
941  0.305922  3.654029 -1.614296 -1.501585
952  0.568100  1.279409  3.368154 -2.171717
989 -1.185820  1.498103  0.424633  3.267102

[15 rows x 4 columns]

Values can be set based on these criteria. Here is code to cap values outside the interval –3 to 3:
<font color=Indigo>
可以根据这些标准来设置值。下面的代码是在区间-3到3的范围外设置值:

In [150]:
data[np.abs(data) > 3] = np.sign(data) * 3
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.063421     0.011056     0.018976     0.010489
std       0.986223     1.001287     1.017092     1.017794
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.698903    -0.695039    -0.657475    -0.739488
50%      -0.067931     0.031967     0.041081     0.023260
75%       0.595027     0.664259     0.671539     0.701483
max       3.000000     3.000000     3.000000     3.000000

The statement np.sign(data) produces 1 and –1 values based on whether the values in data are positive or negative:
<font color=Indigo>
语句np.sign(data)根据数据的值的正负，设置1和-1:

In [151]:
np.sign(data).head()

     0    1    2    3
0 -1.0  1.0  1.0  1.0
1 -1.0  1.0 -1.0  1.0
2  1.0  1.0  1.0 -1.0
3  1.0  1.0 -1.0  1.0
4  1.0 -1.0  1.0  1.0

### Permutation and Random Sampling
<font color=Indigo>
排列和随机抽样

Permuting (randomly reordering) a Series or the rows in a DataFrame is easy to do using the numpy.random.permutation function. Calling permutation with the length of the axis you want to permute produces an array of integers indicating the new ordering:
<font color=Indigo>
使用numpy.random.permutation函数在DataFrame中交换（随机重新排序）一个序列或行非常简单。用你想要的轴的长度来调用permutation，会产生一系列的整数，来表示新的排序结果

In [152]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [153]:
sampler = np.random.permutation(5)
sampler

array([3, 0, 1, 2, 4])

That array can then be used in iloc-based indexing or the equivalent take function:
<font color=Indigo>
然后，该数组可以被用于基于iloc索引的或等效的take函数:

In [154]:
df.take(sampler)

    0   1   2   3
3  12  13  14  15
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
4  16  17  18  19

To select a random subset without replacement, you can use the sample method on Series and DataFrame:
<font color=Indigo>
要选择一个没有置换的随机子集，您可以使用Series和DataFrame的sample方法:

In [155]:
df.sample(n=3)

    0   1   2   3
4  16  17  18  19
2   8   9  10  11
3  12  13  14  15

To generate a sample with replacement (to allow repeat choices), pass replace=True to sample:
<font color=Indigo>
为了生成一个置换样例(允许重复选择)，可以通过replace=True:

In [156]:
choices = pd.Series([5, 7, -1, 6, 4])
draws = choices.sample(n=10, replace=True)
draws

1    7
0    5
4    4
3    6
4    4
0    5
0    5
0    5
2   -1
0    5
dtype: int64

### Computing Indicator/Dummy Variables
<font color=Indigo>
计算指示器/虚拟变量

Another type of transformation for statistical modeling or machine learning applications is converting a categorical variable into a “dummy” or “indicator” matrix. If a column in a DataFrame has k distinct values, you would derive a matrix or Data‐ Frame with k columns containing all 1s and 0s. pandas has a get_dummies function for doing this, though devising one yourself is not difficult. Let’s return to an earlier example DataFrame:
<font color=Indigo>
另一种用于统计建模或机器学习应用程序的转化是将一个分类变量转换为一个“虚拟”或“指示器”矩阵。如果DataFrame中的一个列有k个不同的值，那么您将得到一个包含所有1和0的k列的矩阵或数据框架。pandas有一个get-dummies函数来做这个，尽管你自己设计一个也不难。让我们回到一个更早的例子DataFrame:

In [157]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})
df

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b

In [158]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In some cases, you may want to add a prefix to the columns in the indicator Data‐ Frame, which can then be merged with the other data. get_dummies has a prefix argument for doing this:
<font color=Indigo>
在某些情况下，您可能想要在指示器数据框架中添加一个前缀，然后可以与其他数据合并。get_dummies有这样做的前缀参数:

In [159]:
dummies = pd.get_dummies(df['key'], prefix='key')
df_with_dummy = df[['data1']].join(dummies)
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

If a row in a DataFrame belongs to multiple categories, things are a bit more complicated. Let’s look at the MovieLens 1M dataset, which is investigated in more detail in Chapter 14:
<font color=Indigo>
如果DataFrame中的一行有多个类别，那么事情就有点复杂了。让我们看一下包含100万数据集的MovieLens，它在第14章中会更详细地研究：

In [160]:
mnames = ['movie_id', 'title', 'genres']

In [161]:
movies = pd.read_table('D:/git_pydata/datasets/movielens/movies.dat', sep='::',
                        header=None, names=mnames, engine='python')
movies[:10]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

Adding indicator variables for each genre requires a little bit of wrangling. First, we extract the list of unique genres in the dataset:
<font color=Indigo>
我们为每种类型添加指示器变量。首先，我们提取数据集中惟一类型的列表:

In [162]:
all_genres = []
for x in movies.genres:
    all_genres.extend(x.split('|'))
genres = pd.unique(all_genres)
genres

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

One way to construct the indicator DataFrame is to start with a DataFrame of all zeros:
<font color=Indigo>
构造DataFrame指示器的一种方法是从一个全部为0的DataFrame开始:

In [163]:
zero_matrix = np.zeros((len(movies), len(genres)))
dummies = pd.DataFrame(zero_matrix, columns=genres)
dummies.head()

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Now, iterate through each movie and set entries in each row of dummies to 1. To do this, we use the dummies.columns to compute the column indices for each genre:
<font color=Indigo>
现在，遍历每个电影，并在每一行的dummies中设置条目1。为了做到这一点，我们使用dummies.columns，用于计算每种类型的列索引:

In [164]:
gen = movies.genres[0]
gen.split('|')

['Animation', "Children's", 'Comedy']

In [165]:
dummies.columns.get_indexer(gen.split('|'))

array([0, 1, 2], dtype=int32)

Then, we can use .iloc to set values based on these indices:
<font color=Indigo>
然后，我们可以使用.iloc以这些指数为基础设置值:

In [166]:
for i, gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i, indices] = 1

Then, as before, you can combine this with movies:
<font color=Indigo>
然后，就像以前一样，你可以把它和电影结合起来:

In [167]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))
movies_windic.iloc[0]

movie_id                                      1
title                          Toy Story (1995)
genres              Animation|Children's|Comedy
Genre_Animation                               1
Genre_Children's                              1
                               ...
Genre_War                                     0
Genre_Musical                                 0
Genre_Mystery                                 0
Genre_Film-Noir                               0
Genre_Western                                 0
Name: 0, Length: 21, dtype: object

__For much larger data, this method of constructing indicator variables with multiple membership is not especially speedy. It would be better to write a lower-level function that writes directly to a NumPy array, and then wrap the result in a DataFrame.__
<font color=Indigo>
对于更大的数据，这种构造具有多个成员的指示器变量的方法并不是特别快。最好是编写一个直接写入NumPy数组的低级函数，然后将结果封装到一个DataFrame中。

A useful recipe for statistical applications is to combine get_dummies with a discretization function like cut:
<font color=Indigo>
对于统计应用程序来说，一个有用的方法是将get_dummies和一个类似cut的离散化函数结合起来:

In [168]:
np.random.seed(12345)
values = np.random.rand(10)
values

array([ 0.92961609,  0.31637555,  0.18391881,  0.20456028,  0.56772503,
        0.5955447 ,  0.96451452,  0.6531771 ,  0.74890664,  0.65356987])

In [169]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

We set the random seed with numpy.random.seed to make the example deterministic.We will look again at pandas.get_dummies later in the book.
<font color=Indigo>
我们用numpy.random.seed设置随机种子，使范例具有确定性。在本书的后面，我们再来看pandas.get_dummies。

## String Manipulation
<font color=Indigo>
字符串操作

Python has long been a popular raw data manipulation language in part due to its ease of use for string and text processing. Most text operations are made simple with the string object’s built-in methods. For more complex pattern matching and text manipulations, regular expressions may be needed. pandas adds to the mix by enabling you to apply string and regular expressions concisely on whole arrays of data, additionally handling the annoyance of missing data.
<font color=Indigo>
Python一直以来都是受欢迎的原始数据处理语言，部分原因是它易于使用字符串和文本处理。大多数文本操作都是通过字符串对象的内置方法进行的。对于更复杂的模式匹配和文本操作，可能需要正则表达式。pandas的加入使你可以在整个数据数组中精确地应用字符串和正则表达式，同时处理烦人的缺失数据。

### String Object Methods
<font color=Indigo>
字符串对象的方法

In many string munging and scripting applications, built-in string methods are sufficient.As an example, a comma-separated string can be broken into pieces with split:
<font color=Indigo>
在许多字符串和脚本应用程序中，内置的字符串方法是足够的。例如，一个逗号分隔符，可以将字符串可以分成几部分:

In [170]:
val = 'a,b,  guido'
val.split(',')

['a', 'b', '  guido']

split is often combined with strip to trim whitespace (including line breaks):
<font color=Indigo>
split经常和strip一起使用，来去除空格（包括换行符）：

In [171]:
pieces = [x.strip() for x in val.split(',')]
pieces

['a', 'b', 'guido']

These substrings could be concatenated together with a two-colon delimiter using addition:
<font color=Indigo>
这些子字符串可以通过添加两个冒号分隔符连接在一起:

In [172]:
first, second, third = pieces
first + '::' + second + '::' + third

'a::b::guido'

But this isn’t a practical generic method. A faster and more Pythonic way is to pass a list or tuple to the join method on the string '::':
<font color=Indigo>
但这不是一个实际的通用方法。更快、更Pythonic的方法是将列表或元组传递给字符串'::':

In [173]:
'::'.join(pieces)

'a::b::guido'

Other methods are concerned with locating substrings. Using Python’s in keyword is the best way to detect a substring, though index and find can also be used:
<font color=Indigo>
其他方法涉及到定位子字符串。使用Python中的`in`关键字是检测子字符串的最好方法，尽管`index`和`find`也可以使用:

In [174]:
'guido' in val

True

In [175]:
val.index(',')

1

In [176]:
val.find(':')

-1

Note the difference between find and index is that index raises an exception if the string isn’t found (versus returning –1):
<font color=Indigo>
注意，find和index的区别在于，如果没有找到字符串find会返回-1，index会引发异常。

Relatedly, count returns the number of occurrences of a particular substring:
<font color=Indigo>
相应地，count返回特定子字符串出现的次数:

In [177]:
val.count(',')

2

replace will substitute occurrences of one pattern for another. It is commonly used to delete patterns, too, by passing an empty string:
<font color=Indigo>
replace将一个样式替换为另一个样式。它通常也被用来删除样式（通过传递一个空字符串）：

In [178]:
val.replace(',', '::')

'a::b::  guido'

In [179]:
val.replace(',', '')

'ab  guido'

See Table 7-3 for a listing of some of Python’s string methods.
<font color=Indigo>
见表 7-3 列出了Python的一些字符串方法。

Regular expressions can also be used with many of these operations, as you’ll see.
<font color=Indigo>
正则表达式也可以用于许多操作，如您所见。

Table 7-3. Python built-in string methods

Argument|Description
:-|:-
count | Return the number of non-overlapping occurrences of substring in the string.
endswith | Returns True if string ends with suffix.
startswith | Returns True if string starts with prefix.
join | Use string as delimiter for concatenating a sequence of other strings.
index | Return position of first character in substring if found in the string; raises ValueError if not found.
find | Return position of first character of first occurrence of substring in the string; like index, but returns –1 if not found.
rfind | Return position of first character of last occurrence of substring in the string; returns –1 if not found.
replace | Replace occurrences of string with another string.
strip,rstrip,lstrip | Trim whitespace, including newlines; equivalent to x.strip() (and rstrip, lstrip, respectively) for each element.
split | Break string into list of substrings using passed delimiter.
lower | Convert alphabet characters to lowercase.
upper | Convert alphabet characters to uppercase.
casefold | Convert characters to lowercase, and convert any region-specific variable character combinations to a common comparable form.
ljust,rjust | Left justify or right justify, respectively; pad opposite side of string with spaces (or some other fill character) to return a string with a minimum width.
------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------

<font color=Indigo>
表 7-3. Python内置的字符串的方法

实参|描述
:-|:-
count | 返回字符串中不重叠的子字符串的数量。
endswith | 如果字符串以后缀结尾，则返回True。
startswith | 如果字符串以前缀开始，返回True。
join | 将字符串作为分隔符用于连接其他字符串的序列。
index | 返回在字符串中找到的第一个字符的位置;如果没有发现，会引发ValueError。
find | 返回字符串中第一次出现子串的位置;与索引相似，但如果没有找到，则返回-1。
rfind | 返回字符串中最后出现的子串的位置;如果没有找到，返回-1。
replace | 用另一个字符串替换字符串。
strip,rstrip,lstrip | 对于每个元素修剪空白字符,包括换行符;相当于x.strip()(x.rstrip()，x.lstrip())。
split | 使用传递的分隔符将字符串分解为子字符串列表。
lower | 将字母字符转换为小写字母。
upper | 将字母字符转换为大写字母。
casefold | 将字符转换为小写字母；并将任何特定于寄存器的变量组合转换成一个通用的可比较形式。
ljust,rjust | 分别为左对齐或右对齐；用空格(或其他填充字符)对字符串的另一侧进行填充，以返回具有最小宽度的字符串。
------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### Regular Expressions
<font color=Indigo>
正则表达式

Regular expressions provide a flexible way to search or match (often more complex) string patterns in text. A single expression, commonly called a regex, is a string formed according to the regular expression language. Python’s built-in re module is responsible for applying regular expressions to strings; I’ll give a number of examples of its use here.
<font color=Indigo>
正则表达式提供了一种灵活的方式来搜索或匹配文本中的字符串(通常更复杂)。单个表达式，通常称为正则表达式，是根据正则表达式语言形成的字符串。Python内置的re模块负责将正则表达式应用于字符串;在这里我将给出一些例子。

__The art of writing regular expressions could be a chapter of its own and thus is outside the book’s scope. There are many excellent tutorials and references available on the internet and in other books.__
<font color=Indigo>
写正则表达式的内容可能自成一章，因此超出了书的范围。在互联网和其他书籍中，有许多优秀的教程和参考资料。

The re module functions fall into three categories: pattern matching, substitution, and splitting. Naturally these are all related; a regex describes a pattern to locate in the text, which can then be used for many purposes. Let’s look at a simple example:
<font color=Indigo>
re模块的功能分为三类:模式匹配、替换和分割。当然这些都是相关的;正则表达式描述了在文本中定位的模式，该模式可用于许多用途。让我们来看一个简单的例子:

suppose we wanted to split a string with a variable number of whitespace characters (tabs, spaces, and newlines). The regex describing one or more whitespace characters is \s+:
<font color=Indigo>
假设我们想要用一个可变的空格字符(制表符、空格和换行符)来分割一个字符串。描述一个或多个空格字符的正则表达式是s+:

In [180]:
import re

In [181]:
text = 'foo   bar\t baz  \tqux'

In [182]:
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

When you call `re.split('\s+', text)`, the regular expression is first compiled, and then its `split` method is called on the passed text. You can compile the regex yourself with `re.compile`, forming a reusable `regex` object:
<font color=Indigo>
当调用`re.split('\s+', text)`时，正则表达式首先被编译，然后它的`split`方法被调用，作用于传进来的文本上。您可以使用`re.compile`编译正则表达式，形成一个可重用的`regex`对象:

In [183]:
regex = re.compile('\s+')

In [184]:
regex.split(text)

['foo', 'bar', 'baz', 'qux']

If, instead, you wanted to get a list of all patterns matching the regex, you can use the findall method:
<font color=Indigo>
相反，如果您想要获得匹配正则表达式的所有模式的列表，那么可以使用findall方法

In [185]:
regex.findall(text)

['   ', '\t ', '  \t']

To avoid unwanted escaping with \ in a regular expression, use raw string literals like `r'C:\x'` instead of the equivalent `'C:\\x'`.
<font color=Indigo>
为了避免在正则表达式中出现不必要的转义，使用像`r'C:\x'`这样的原始字符串，而不是等价的`'C:\\x'`。

__Creating a regex object with `re.compile` is highly recommended if you intend to apply the same expression to many strings; doing so will save CPU cycles.__
<font color=Indigo>
如果打算对许多字符串应用相同的表达式，则强烈建议使用`re.compile`创建一个`regex`对象。这样做可以节省CPU开销。

`match` and `search` are closely related to `findall`. While findall returns all matches in a string, search returns only the first match. More rigidly, `match` only matches at the beginning of the string. As a less trivial example, let’s consider a block of text and a regular expression capable of identifying most email addresses:
<font color=Indigo>
`match` 和 `search`与`findall`密切相关。当findall在一个字符串中返回所有匹配结果时，搜索只返回第一个匹配项。更严格地说，`match`只匹配字符串开头的字符串项。让我们考虑一个文本块和一个能够识别大多数电子邮件地址的正则表达式:

In [186]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""

In [187]:
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [188]:
# re.IGNORECASE makes the regex case-insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)

Using `findall` on the text produces a list of the email addresses:
<font color=Indigo>
在文本中使用`findall`生成一个电子邮件地址列表:

In [189]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

`search` returns a special match object for the first email address in the text. For the preceding regex, the match object can only tell us the start and end position of the pattern in the string:
<font color=Indigo>
`search`返回文本中第一个电子邮件地址的特殊匹配对象。对于前面的正则表达式，匹配对象只能告诉我们字符串中部分的开始和结束位置:

In [190]:
m = regex.search(text)
m

In [191]:
text[m.start(): m.end()]

'dave@google.com'

`regex.match` returns None, as it only will match if the pattern occurs at the start of the string:
<font color=Indigo>
`regex.match`返回None，因为只有在字符串的开始出现的时候，模式才会匹配。

In [192]:
print(regex.match(text))

None

Relatedly, `sub` will return a new string with occurrences of the pattern replaced by the a new string:
<font color=Indigo>
相应地，`sub`将返回一个新的字符串，原字符串将被传如的字符串替换为新字符串:

In [193]:
print(regex.sub('REDACTED', text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

Suppose you wanted to find email addresses and simultaneously segment each address into its three components: username, domain name, and domain suffix. To do this, put parentheses around the parts of the pattern to segment:
<font color=Indigo>
假设您想要查找电子邮件地址，并同时将每个地址分成三个组件:用户名、域名和域名后缀。要做到这一点，需要在模式的各个部分上加上括号:

In [194]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'

In [195]:
regex = re.compile(pattern, flags=re.IGNORECASE)

A match object produced by this modified regex returns a tuple of the pattern components with its `groups` method:
<font color=Indigo>
这个修改后的正则表达式产生的匹配对象,返回模式组件的一个元组，它的`groups`方法是:

In [196]:
m = regex.match('wesm@bright.net')

In [197]:
m.groups()

('wesm', 'bright', 'net')

findall returns a list of tuples when the pattern has groups:
<font color=Indigo>
当模式存在时，findall返回一个元组列表。

In [198]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

`sub` also has access to groups in each match using special symbols like `\1` and `\2`. The symbol `\1` corresponds to the first matched group, `\2` corresponds to the second, and so forth:
<font color=Indigo>
`sub`也可以使用像`\1`和`\2`这样的特殊符号来访问每一组。符号`\1`对应于第一个匹配的组，`\2`对应于第二个，以此类推:

In [199]:
print(regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text))

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: yahoo, Suffix: com

There is much more to regular expressions in Python, most of which is outside the book’s scope. Table 7-4 provides a brief summary.
<font color=Indigo>
在Python中有更多的正则表达式，其中大多数都超出了本书的范围。表7-4提供了一个简短的摘要。

Table 7-4. Regular expression methods

Argument|Description
:-|:-
findall | Return all non-overlapping matching patterns in a string as a list
finditer | Like findall, but returns an iterator
match | Match pattern at start of string and optionally segment pattern components into groups; if the pattern matches, returns a match object, and otherwise None
search | Scan string for match to pattern; returning a match object if so; unlike match, the match can be anywhere in the string as opposed to only at the beginning
split | Break string into pieces at each occurrence of pattern
sub, subn | Replace all (sub) or first n occurrences (subn) of pattern in string with replacement expression; use symbols \1, \2, ... to refer to match group elements in the replacement string
------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

表 7-4. 正则表达式的方法

实参|描述
:-|:-
findall | 将字符串中的所有非重叠匹配模式作为列表返回
finditer | 和findall一样，但是返回一个迭代器
match | 在字符串开始时匹配模式，并可选地将模式组件分成组;如果模式匹配，则返回一个匹配对象，否则将返回None
search | 扫描字符串匹配模式;如果有，返回一个匹配对象;与match不同的是，匹配可以是字符串中的任何位置，而不是在开始的时候
split | 在每次出现模式时将字符串分解为各个部分
sub, subn | 在字符串中替换所有(子)或第n次出现的模式(子n);使用符号1、2、……在替换字符串中引用按组匹配元素
--------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### Vectorized String Functions in pandas
<font color=Indigo>
pandas的矢量化字符串函数

Cleaning up a messy dataset for analysis often requires a lot of string munging and regularization. To complicate matters, a column containing strings will sometimes have missing data:
<font color=Indigo>
分析数据时，清理一个混乱的数据集通常需要大量的字符串处理和规范化。更复杂的是，包含字符串的列有时会缺少数据:

In [200]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}

In [201]:
data = pd.Series(data)
data

Dave     dave@google.com
Rob        rob@gmail.com
Steve    steve@gmail.com
Wes                  NaN
dtype: object

In [202]:
data.isnull()

Dave     False
Rob      False
Steve    False
Wes       True
dtype: bool

You can apply string and regular expression methods can be applied (passing a `lambda` or other function) to each value using `data.map`, but it will fail on the NA (null) values. To cope with this, Series has array-oriented methods for string operations that skip NA values. These are accessed through Series’s `str` attribute; for example, we could check whether each email address has `'gmail'` in it with `str.contains`:
<font color=Indigo>
可以使用`data.map`对每个值应用字符串和正则表达式方法(将lambda或其他函数传递给每个值)。映射，但是它将在NA(null)值上失效。为了解决这个问题，Series有一个面向数组的方法，用于跳过这些NA值。通过Series的str属性访问这些数据;例如，我们可以使用`str.contains`检查每个电子邮件地址是否有“gmail”。

In [203]:
data.str.contains('gmail')

Dave     False
Rob       True
Steve     True
Wes        NaN
dtype: object

Regular expressions can be used, too, along with any `re` options like `IGNORECASE`:
<font color=Indigo>
正则表达式也可以使用，以及任何`re`参数，类似于 `IGNORECASE`:

In [204]:
pattern

'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'

In [205]:
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Rob        [(rob, gmail, com)]
Steve    [(steve, gmail, com)]
Wes                        NaN
dtype: object

There are a couple of ways to do vectorized element retrieval. Either use `str.get` or `index` into the `str` attribute:
<font color=Indigo>
有两种方法可以进行矢量检索。可以使用`str.get`或`index`访问`str`属性:

In [206]:
matches = data.str.match(pattern, flags=re.IGNORECASE)
matches

Dave     True
Rob      True
Steve    True
Wes       NaN
dtype: object

To access elements in the embedded lists, we can pass an index to either of these functions:
<font color=Indigo>
要访问嵌入列表中的元素，我们可以将一个索引传递给以下两个函数:

In [207]:
matches.str.get(1)

Dave    NaN
Rob     NaN
Steve   NaN
Wes     NaN
dtype: float64

In [208]:
matches.str[0]

Dave    NaN
Rob     NaN
Steve   NaN
Wes     NaN
dtype: float64

You can similarly slice strings using this syntax:
<font color=Indigo>
您也可以使用以下语法对字符串进行类似的切片:

In [209]:
data.str[:5]

Dave     dave@
Rob      rob@g
Steve    steve
Wes        NaN
dtype: object

See Table 7-5 for more pandas string methods.
<font color=Indigo>
参见表7-5，以获得更多的pandas字符串方法。

Table 7-5. Partial listing of vectorized string methods

Method|Description
:-|:-
cat | Concatenate strings element-wise with optional delimiter
contains | Return boolean array if each string contains pattern/regex
count | Count occurrences of pattern
extract | Use a regular expression with groups to extract one or more strings from a Series of strings; the result will be a DataFrame with one column per group
endswith | Equivalent to x.endswith(pattern) for each element
startswith | Equivalent to x.startswith(pattern) for each element
findall | Compute list of all occurrences of pattern/regex for each string
get | Index into each element (retrieve i-th element)
isalnum | Equivalent to built-in str.alnum
isalpha | Equivalent to built-in str.isalpha
isdecimal | Equivalent to built-in str.isdecimal
isdigit | Equivalent to built-in str.isdigit
islower | Equivalent to built-in str.islower
isnumeric | Equivalent to built-in str.isnumeric
isupper | Equivalent to built-in str.isupper
join | Join strings in each element of the Series with passed separator
len | Compute length of each string
lower, upper | Convert cases; equivalent to x.lower() or x.upper() for each element
match | Use re.match with the passed regular expression on each element, returning matched groups as list
pad | Add whitespace to left, right, or both sides of strings
center | Equivalent to pad(side='both')
repeat | Duplicate values (e.g., s.str.repeat(3) is equivalent to x * 3 for each string)
replace | Replace occurrences of pattern/regex with some other string
slice | Slice each string in the Series
split | Split strings on delimiter or regular expression
strip | Trim whitespace from both sides, including newlines
rstrip | Trim whitespace on right side
lstrip | Trim whitespace on left side
--------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------

表 7-5. 部分矢量化方法的列表

方法|描述
:-|:-
cat | 使用可选的分隔符连接字符串元素
contains | 如果每个字符串包含pattern/regex，那么返回布尔数组
count | 对模式计数
extract | 使用一个正则表达式来从Series中提取一个或多个字符串;结果将是一个DataFrame，每个组有一个列
endswith | 对应每个元素的x.endswith(模式)
startswith | 对应每个元素的x.startswith(模式)
findall | 计算每个字符串的pattern/regex的所有事件列表
get | 对每个元素进行索引(检索i-th元素)
isalnum | 相当于内置str.alnum
isalpha | 相当于内置str.isalpha
isdecimal | 相当于内置str.isdecimal
isdigit | 相当于内置str.isdigit
islower | 相当于内置str.islower
isnumeric | 相当于内置str.isnumeric
isupper | 相当于内置str.isupper
join | 在这个系列的每个元素中加入字符串
len | 每个字符串的计算长度
lower, upper | 转换大小写;相当于对每个元素应用x.lower() or x.upper()
match | 通过传递正则表达式，在每个元素上使用re.match，返回匹配的组作为列表
pad | 将空白添加到左、右或字符串的两端
center | 相当于 pad(side='both')
repeat | 重复值(例如，s.str.repeat(3)相当于每个字符串的`x * 3`)
replace | 用其他字符串替换pattern/regex
slice | 在Series中对每个字符串进行切片
split | 在通过delimiter或regula拆分字符串
strip | 修剪空格，包括换行
rstrip | 修剪右侧的空格
lstrip | 修剪左侧的空格
--------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Conclusion
<font color=Indigo>
总结

Effective data preparation can significantly improve productive by enabling you to spend more time analyzing data and less time getting it ready for analysis. We have explored a number of tools in this chapter, but the coverage here is by no means comprehensive.In the next chapter, we will explore pandas’s joining and grouping functionality.
<font color=Indigo>
有效的数据准备工作可以显著地提高工作效率，使您能够使你花费更多的时间用于分析数据，准备数据的工作将花费更少的时间。我们在这一章已经探讨了许多工具，但是这里的覆盖并不全面。在下一章中，我们将探讨pandas的joining和grouping功能。