<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><span><a href="#CHAPTER-6--Data-loading,Storage,and-File-Formats" data-toc-modified-id="CHAPTER-6--Data-loading,Storage,and-File-Formats-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>CHAPTER 6  Data loading,Storage,and File Formats</a></span><ul class="toc-item"><li><span><a href="#Reading-and-Writing-Data-in-Text-Format" data-toc-modified-id="Reading-and-Writing-Data-in-Text-Format-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Reading and Writing Data in Text Format</a></span><ul class="toc-item"><li><span><a href="#Reading-Text-Files-in-Pieces" data-toc-modified-id="Reading-Text-Files-in-Pieces-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Reading Text Files in Pieces</a></span></li><li><span><a href="#Writing-Data-to-Text-Format" data-toc-modified-id="Writing-Data-to-Text-Format-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Writing Data to Text Format</a></span></li><li><span><a href="#Working-with-Delimited-Formats" data-toc-modified-id="Working-with-Delimited-Formats-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Working with Delimited Formats</a></span></li><li><span><a href="#JSON-Data" data-toc-modified-id="JSON-Data-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>JSON Data</a></span></li><li><span><a href="#XML-and-HTML:-Web-Scraping" data-toc-modified-id="XML-and-HTML:-Web-Scraping-1.1.5"><span class="toc-item-num">1.1.5&nbsp;&nbsp;</span>XML and HTML: Web Scraping</a></span><ul class="toc-item"><li><span><a href="#Parsing-XML-with-lxml.objectify" data-toc-modified-id="Parsing-XML-with-lxml.objectify-1.1.5.1"><span class="toc-item-num">1.1.5.1&nbsp;&nbsp;</span>Parsing XML with lxml.objectify</a></span></li></ul></li></ul></li><li><span><a href="#Binary-Data-Formats" data-toc-modified-id="Binary-Data-Formats-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Binary Data Formats</a></span><ul class="toc-item"><li><span><a href="#Using-HDF5-Format" data-toc-modified-id="Using-HDF5-Format-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Using HDF5 Format</a></span></li><li><span><a href="#Reading-Microsoft-Excel-Files" data-toc-modified-id="Reading-Microsoft-Excel-Files-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Reading Microsoft Excel Files</a></span></li></ul></li><li><span><a href="#Interacting-with-Web-APIs" data-toc-modified-id="Interacting-with-Web-APIs-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Interacting with Web APIs</a></span></li><li><span><a href="#Interacting-with-Databases" data-toc-modified-id="Interacting-with-Databases-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Interacting with Databases</a></span></li><li><span><a href="#Conclusion" data-toc-modified-id="Conclusion-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Conclusion</a></span></li></ul></li><li><span><a href="#CHAPTER-7--Data-Cleaning-and-Preparation" data-toc-modified-id="CHAPTER-7--Data-Cleaning-and-Preparation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>CHAPTER 7  Data Cleaning and Preparation</a></span><ul class="toc-item"><li><span><a href="#Handing-Missing-Data" data-toc-modified-id="Handing-Missing-Data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Handing Missing Data</a></span><ul class="toc-item"><li><span><a href="#Filtering-Out-Missing-Data" data-toc-modified-id="Filtering-Out-Missing-Data-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Filtering Out Missing Data</a></span></li><li><span><a href="#Filling-In-Missing-Data" data-toc-modified-id="Filling-In-Missing-Data-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Filling In Missing Data</a></span></li></ul></li><li><span><a href="#Data-Transformation" data-toc-modified-id="Data-Transformation-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Data Transformation</a></span><ul class="toc-item"><li><span><a href="#Removing-Duplicates" data-toc-modified-id="Removing-Duplicates-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Removing Duplicates</a></span></li><li><span><a href="#Transforming-Data-Using-a-Function-or-Mapping" data-toc-modified-id="Transforming-Data-Using-a-Function-or-Mapping-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Transforming Data Using a Function or Mapping</a></span></li><li><span><a href="#Replacing-Values" data-toc-modified-id="Replacing-Values-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>Replacing Values</a></span></li><li><span><a href="#Renaming-Axis-Indexes" data-toc-modified-id="Renaming-Axis-Indexes-2.2.4"><span class="toc-item-num">2.2.4&nbsp;&nbsp;</span>Renaming Axis Indexes</a></span></li><li><span><a href="#Discretization-and-Binning" data-toc-modified-id="Discretization-and-Binning-2.2.5"><span class="toc-item-num">2.2.5&nbsp;&nbsp;</span>Discretization and Binning</a></span></li><li><span><a href="#Detecting-and-Filtering-OutLiers" data-toc-modified-id="Detecting-and-Filtering-OutLiers-2.2.6"><span class="toc-item-num">2.2.6&nbsp;&nbsp;</span>Detecting and Filtering OutLiers</a></span></li><li><span><a href="#Permutation-and-Random-Sampling" data-toc-modified-id="Permutation-and-Random-Sampling-2.2.7"><span class="toc-item-num">2.2.7&nbsp;&nbsp;</span>Permutation and Random Sampling</a></span></li><li><span><a href="#Computing-Indicator/Dummy-Variables" data-toc-modified-id="Computing-Indicator/Dummy-Variables-2.2.8"><span class="toc-item-num">2.2.8&nbsp;&nbsp;</span>Computing Indicator/Dummy Variables</a></span></li></ul></li><li><span><a href="#String-Manipulation" data-toc-modified-id="String-Manipulation-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>String Manipulation</a></span><ul class="toc-item"><li><span><a href="#String-Object-Methods" data-toc-modified-id="String-Object-Methods-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>String Object Methods</a></span></li><li><span><a href="#Regular-Expressions" data-toc-modified-id="Regular-Expressions-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>Regular Expressions</a></span></li><li><span><a href="#Vectorized-String-Functions-in-pandas" data-toc-modified-id="Vectorized-String-Functions-in-pandas-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span>Vectorized String Functions in pandas</a></span></li></ul></li><li><span><a href="#Conclusion" data-toc-modified-id="Conclusion-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Conclusion</a></span></li></ul></li><li><span><a href="#Data-Wrangling:Join,Combine,and-Reshape" data-toc-modified-id="Data-Wrangling:Join,Combine,and-Reshape-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Data Wrangling:Join,Combine,and Reshape</a></span><ul class="toc-item"><li><span><a href="#Hierarchical-Indexing" data-toc-modified-id="Hierarchical-Indexing-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Hierarchical Indexing</a></span><ul class="toc-item"><li><span><a href="#Reordering-and-Sorting-Levels" data-toc-modified-id="Reordering-and-Sorting-Levels-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Reordering and Sorting Levels</a></span></li><li><span><a href="#Summary-Statistics-by-Level" data-toc-modified-id="Summary-Statistics-by-Level-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>Summary Statistics by Level</a></span></li><li><span><a href="#Indexing-with-a-DataFrame's-columns" data-toc-modified-id="Indexing-with-a-DataFrame's-columns-3.1.3"><span class="toc-item-num">3.1.3&nbsp;&nbsp;</span>Indexing with a DataFrame's columns</a></span></li></ul></li><li><span><a href="#Combining-and-Merging-Datasets" data-toc-modified-id="Combining-and-Merging-Datasets-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Combining and Merging Datasets</a></span><ul class="toc-item"><li><span><a href="#Database-Style-DataFrame-Joins" data-toc-modified-id="Database-Style-DataFrame-Joins-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Database-Style DataFrame Joins</a></span></li><li><span><a href="#Merging-on-Index" data-toc-modified-id="Merging-on-Index-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>Merging on Index</a></span></li><li><span><a href="#Concatenating-Along-an-Axis" data-toc-modified-id="Concatenating-Along-an-Axis-3.2.3"><span class="toc-item-num">3.2.3&nbsp;&nbsp;</span>Concatenating Along an Axis</a></span></li><li><span><a href="#Combining-Data-with-Overlap" data-toc-modified-id="Combining-Data-with-Overlap-3.2.4"><span class="toc-item-num">3.2.4&nbsp;&nbsp;</span>Combining Data with Overlap</a></span></li></ul></li><li><span><a href="#Reshaping-and-Pivoting" data-toc-modified-id="Reshaping-and-Pivoting-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Reshaping and Pivoting</a></span><ul class="toc-item"><li><span><a href="#Reshaping-with-Hierarchical-Indexing" data-toc-modified-id="Reshaping-with-Hierarchical-Indexing-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Reshaping with Hierarchical Indexing</a></span></li></ul></li></ul></li></ul></div>

# CHAPTER 6  Data loading,Storage,and File Formats 
<font color=Indigo>
数据加载, 存储与文件格式

Accessing data is a necessary first step for using most of the tools in this book. I’m going to be focused on data input and output using pandas, though there are numerous tools in other libraries to help with reading and writing data in various formats.  

<font color=Indigo>
访问数据是在本书中使用大多数工具的必要步骤。我将重点关注使用 pandas 进行数据的输入和输出，尽管在其他库中有很多工具可以帮助我们以不同的格式读取和写入数据。  

<font color=black>
Input and output typically falls into a few main categories: reading text files and other more efficient on-disk formats, loading data from databases, and interacting with network sources like web APIs.

<font color=Indigo>
输入和输出通常分为几个主要类别:读取文本文件和其他更高效的磁盘格式、从数据库加载数据，以及与 web api 等网络资源进行交互。

## Reading and Writing Data in Text Format
<font color=Indigo>
读写文本格式的数据

pandas features a number of functions for reading tabular data as a DataFrame object. Table 6-1 summarizes some of them, though read_csv and read_table are likely the ones you’ll use the most.

<font color=Indigo>
pandas 有许多功能，可以将表格式的数据作为一个 DataFrame 对象读取。表6-1总结了其中一些，虽然 readcsv 和 readtable 很可能是您使用最多的。

Table 6-1. Parsing functions in pandas

Function|Description
:-|:-
read_csv | Load delimited data from a file, URL, or file-like object; use comma as default delimiter
read_table | Load delimited data from a file, URL, or file-like object; use tab ('\t') as default delimiter
read_fwf | Read data in fixed-width column format (i.e., no delimiters)
read_clipboard | Version of read_table that reads data from the clipboard; useful for converting tables from web pages
read_excel | Read tabular data from an Excel XLS or XLSX file
read_hdf | Read HDF5 files written by pandas
read_html | Read all tables found in the given HTML document
read_json | Read data from a JSON (JavaScript Object Notation) string representation
read_msgpack | Read pandas data encoded using the MessagePack binary format
read_pickle | Read an arbitrary object stored in Python pickle format
read_sas | Read a SAS dataset stored in one of the SAS system’s custom storage formats
read_sql | Read the results of a SQL query (using SQLAlchemy) as a pandas DataFrame
read_stata | Read a dataset from Stata file format
read_feather | Read the Feather binary file format
|------------------------------------------------------------------------------------------------------------------------------------------------------------------

<font color=Indigo>
表 6-1. 在 pandas 中解析函数

函数|描述
:-|:-
read_csv | 从文件、URL或类似文件的对象中加载分隔的数据;使用逗号作为默认分隔符
read_table | 从文件、URL或类似文件的对象中加载分隔的数据;使用tab('\t')作为默认的分隔符
read_fwf | 以固定宽度的列格式读取数据(即:,没有分隔符)
read_clipboard | 从剪贴板读取数据的 read_table 版本;用于从网页转换表格
read_excel | 从 Excel XLS 或 XLSX 文件中读取表格数据
read_hdf | 读取由 pandas 生成的 HDF5 文件
read_html | 读取给定 HTML 文档中找到的所有表
read_json | 从 JSON(JavaScript对象表示法)字符串读取数据
read_msgpack | 读取用 MessagePack 二进制格式编码的 pandas 数据
read_pickle | 读取以 Python pickle 格式存储的任意对象
read_sas | 读取存储在 SAS 系统的自定义存储格式之一的 SAS 数据集
read_sql | 将 SQL 查询的结果(使用SQLAlchemy)作为 pandas 的 DataFrame
read_stata | 从 Stata 文件格式读取数据集
read_feather | 读取 Feather 二进制文件格式
|------------------------------------------------------------------------------------------------------------------------------------------------------------------

I’ll give an overview of the mechanics of these functions, which are meant to convert text data into a DataFrame. The optional arguments for these functions may fall into a few categories:

<font color=Indigo>
我将概述这些函数的机制，这些函数的目的是将文本数据转换为 DataFrame。这些函数的可选参数可能分为以下几个类别:

<font color=black>
Indexing  
Can treat one or more columns as the returned DataFrame, and whether to get column names from the file, the user, or not at all.

<font color=Indigo>
索引  
可以将一个或多个列作为返回的 DataFrame，以及是否从文件,用户获取列名. 

<font color=black>
Type inference and data conversion  
This includes the user-defined value conversions and custom list of missing value markers.

<font color=Indigo>
类型推断和数据转换   
这包括用户定义的值的转换,和缺少值标记的自定义列表. 

<font color=black>
Datetime parsing  
Includes combining capability, including combining date and time information spread over multiple columns into a single column in the result.

<font color=Indigo>
Datetime解析   
包括组合功能，包括将多个列的日期和时间信息合并到结果中的单个列中。

<font color=black>
Iterating  
Support for iterating over chunks of very large files.

<font color=Indigo>
迭代  
支持对非常大的文件块进行迭代。

<font color=black>
Unclean data issues  
Skipping rows or a footer, comments, or other minor things like numeric data with thousands separated by commas.

<font color=Indigo>
不规整数据问题  
跳过行或页脚、注释或其他一些不重要的东西(比如由成千上万个逗号隔开的数值数据)

<font color=black>
Because of how messy data in the real world can be, some of the data loading functions (especially read_csv) have grown very complex in their options over time. It’s normal to feel overwhelmed by the number of different parameters (read_csv has over 50 as of this writing).The online pandas documentation has many examples about how each of them works, so if you’re struggling to read a particular file, there might be a similar enough example to help you find the right parameters.

<font color=Indigo>
由于现实中数据的是很凌乱的，一些数据加载函数(特别是read_csv)随着时间的推移他们的使用将变得越来越复杂。感觉被数量众多的不同参数所淹没是正常的(read_csv在撰写本文时已经有超过50个参数)。在线 pandas 文档有很多例子说明它们是如何工作的，所以如果您正在努力阅读某个特定的文件，可能会有一个类似的例子来帮助您找到正确的参数。

<font color=black>
Some of these functions, like pandas.read_csv, perform type inference, because the column data types are not part of the data format. That means you don’t necessarily have to specify which columns are numeric, integer, boolean, or string. Other data formats, like HDF5, Feather, and msgpack, have the data types stored in the format.

<font color=Indigo>
其中一些功能，比如 pandas.read_csv，会执行类型推断，因为列数据类型不是数据格式的一部分。这意味着您不必指定哪些列是数字、整数、布尔值或字符串。其他的数据格式，如HDF5、Feather 和 msgpack，都有存储在格式中的数据类型。

<font color=black>
Handling dates and other custom types can require extra effort. Let’s start with a small comma-separated (CSV) text file:

<font color=Indigo>
处理日期和其他定制类型可能需要额外的工作。让我们从一个小型的逗号分隔(CSV)文本文件开始:

In [1]:
!type D:\pydata-book\examples\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

_Here I used the Unix cat shell command to print the raw contents of the file to the screen. If you’re on Windows, you can use type instead of cat to achieve the same effect._

<font color=Indigo>
_在这里，我使用Unix cat shell命令将文件的原始内容打印到屏幕上。如果你在Windows上，你可以使用 type 而不是 cat 来达到同样的效果。_

Since this is comma-delimited, we can use read_csv to read it into a DataFrame:
<font color=Indigo>
由于是用逗号分隔的，所以我们可以使用 read_csv 将它读到一个 DataFrame 中:

In [2]:
import pandas as pd
path = 'D:/pydata-book/examples/ex1.csv'
df = pd.read_csv(path)
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

We could also have used read_table and specified the delimiter:
<font color=Indigo>
我们还可以使用 read_table 并指定分隔符:

In [3]:
df = pd.read_table(path, sep=',')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

A file will not always have a header row. Consider this file:
<font color=Indigo>
文件不会总是有标题行。考虑一下这个文件:

In [4]:
!type D:\pydata-book\examples\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

To read this file, you have a couple of options. You can allow pandas to assign default column names, or you can specify names yourself:
<font color=Indigo>
要读这个文件，您有几个选项。你可以允许 pandas 分配默认的列名，或者你可以自己指定名字:

In [5]:
pd.read_csv('D:/pydata-book/examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [6]:
pd.read_csv('D:/pydata-book/examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Suppose you wanted the message column to be the index of the returned DataFrame. You can either indicate you want the column at index 4 or named 'message' using the index_col argument:
<font color=Indigo>
假设您希望消息列是返回的 DataFrame 的索引。您可以使用 index_col 参数表示您想要指定的索引来自于第4列，或 message 列:

In [7]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('D:/pydata-book/examples/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In the event that you want to form a hierarchical index from multiple columns, pass a list of column numbers or names:
<font color=Indigo>
如果您想要从多个列中形成一个层次化的索引，请传递一个列号或列名称的列表:

In [8]:
!type D:\pydata-book\examples\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [9]:
parsed = pd.read_csv('D:/pydata-book/examples/csv_mindex.csv', index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In some cases, a table might not have a fixed delimiter, using whitespace or some other pattern to separate fields. Consider a text file that looks like this:
<font color=Indigo>
在某些情况下，表可能没有固定的分隔符，使用空格或其他模式来分隔字段。考虑一个这样的文本文件:

In [10]:
list(open('D:/pydata-book/examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

While you could do some munging by hand, the fields here are separated by a variable amount of whitespace. In these cases, you can pass a regular expression as a delimiter for read_table. This can be expressed by the regular expression \s+, so we have then:
<font color=Indigo>
虽然您可以手工进行一些处理，但是这里的字段是由可变数量的空白字符分隔的。在这种情况下，您可以将正则表达式作为 read_table 的分隔符传递。可以通过正则表达式 s+ 来表示，所以我们有了:

In [11]:
result = pd.read_table('D:/pydata-book/examples/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

Because there was one fewer column name than the number of data rows, read_table infers that the first column should be the DataFrame’s index in this special case.  

<font color=Indigo>
因为列名的数量比列的数量少1，所以在这个特殊情况下, read_table 会推断第一个列应该是这个 DataFrame 的索引。

<font color=black>
The parser functions have many additional arguments to help you handle the wide variety of exception file formats that occur (see a partial listing in Table 6-2). For example, you can skip the first, third, and fourth rows of a file with skiprows:  

<font color=Indigo>
这些解析器函数有许多额外的参数，可以帮助您处理各种类型的异常文件格式(请参见表6-2的部分清单)。例如，您可以使用 skiprows 跳过文件的第一个、第三个和第四个行:

In [12]:
!type D:\pydata-book\examples\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [13]:
pd.read_csv('D:/pydata-book/examples/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Handling missing values is an important and frequently nuanced part of the file parsing process. Missing data is usually either not present (empty string) or marked by some sentinel value. By default, pandas uses a set of commonly occurring sentinels, such as NA and NULL:
<font color=Indigo>
处理丢失的值是文件解析过程中一个重要且经常出现的组成部分。丢失的数据通常要么是不存在的(空字符串)，要么是用某个标记值表示。在默认情况下，pandas 会用一组经常出现的标记值进行识别，如 NA 和 NULL:

In [14]:
!type D:\pydata-book\examples\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [15]:
result = pd.read_csv('D:/pydata-book/examples/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [16]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

The na_values option can take either a list or set of strings to consider missing values:
<font color=Indigo>
na_values 选项可以选择一个列表或一组字符串来考虑缺少的值:

In [17]:
result = pd.read_csv('D:/pydata-book/examples/ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

Different NA sentinels can be specified for each column in a dict:
<font color=Indigo>
可以用一个字典为各列指定不同的 NA 标记值:

In [18]:
sentinels = {'message': ['foo', 'NA'], 'something':['two']}
pd.read_csv('D:/pydata-book/examples/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

Table 6-2 lists some frequently used options in pandas.read_csv and pandas.read_table.

<font color=Indigo>
表6-2 列出了一些 read_csv 和 pandas.read_table 的常用的选项。

Table 6-2. Some read_csv/read_table function arguments

Argument|Description
:-|:-
path | String indicating filesystem location, URL, or file-like object
sep or delimiter | Character sequence or regular expression to use to split fields in each row
header | Row number to use as column names; defaults to 0 (first row), but should be None if there is no header row
index_col | Column numbers or names to use as the row index in the result; can be a single name/number or a list of them for a hierarchical index
names | List of column names for result, combine with header=None
skiprows | Number of rows at beginning of file to ignore or list of row numbers (starting from 0) to skip.
na_values | Sequence of values to replace with NA.
comment | Character(s) to split comments off the end of lines.
parse_dates | Attempt to parse data to datetime; False by default. If True, will attempt to parse all columns.Otherwise can specify a list of column numbers or name to parse. If element of list is tuple or list, will combine multiple columns together and parse to date (e.g., if date/time split across two columns).
keep_date_col | If joining columns to parse date, keep the joined columns; False by default.
converters | Dict containing column number of name mapping to functions (e.g., {'foo': f} would apply the function f to all values in the 'foo' column).
dayfirst | When parsing potentially ambiguous dates, treat as international format (e.g., 7/6/2012 -> June 7, 2012); False by default.
date_parser | Function to use to parse dates.
nrows | Number of rows to read from beginning of file.
iterator | Return a TextParser object for reading file piecemeal.
chunksize | For iteration, size of file chunks.
skip_footer | Number of lines to ignore at end of file.
verbose | Print various parser output information, like the number of missing values placed in non-numeric columns.
encoding | Text encoding for Unicode (e.g., 'utf-8' for UTF-8 encoded text).
squeeze | If the parsed data only contains one column, return a Series.
thousands | Separator for thousands (e.g., ',' or '.').
|------------------------------------------------------------------------------------------------------------------------------------------------------------------

<font color=Indigo>
表6-2. 一些read_csv & read_table函数参数

参数|描述
:-|:-
path | 表示文件系统位置、URL或类似文件类型对象的字符串
sep 或 delimiter | 用于对行中各字段进行拆分的字符序列或正则表达式
header | 用作列名的行号.默认值为0(第一行)，但是如果没有 header 行，则应该设置为None
index_col | 用作行索引的列编号或列名.可以是一个单独的名称/数字，或者是一个用于分级索引的列表(层次化索引)
names | 用于结果的列名列表，与header=None组合
skiprows | 需要忽略的行数(从文件开始算起),或需要跳过的行号列表(从0开始)
na_values | 一组用于替换NA的值的序列。
comment | 用于将注释信息从行尾拆分出去的字符(一个或多个)
parse_dates | 尝试将数据解析为datetime;默认为False。如果是True，则尝试解析所有列。此外，还可以指定需要解析的一组列号或列名.如果列表元素是元组或列表，则会将多个列组合在一起，并进行日期解析工作(例如，日期/时间分别在两个列中)。
keep_date_col | 如果连接多列来解析日期，则保持参与连接的列,默认为False。
converters | 由列号/列名跟函数之间的映射关系组成的字典.(例如，{'foo':f}会对'foo'列中的所有值应用函数f)。
dayfirst | 在解析有歧义的日期时，将之视为国际格式(例如，7/6/2012 -> June 7, 2012);默认为False。
date_parser |用于解析日期的函数。
nrows | 从文件开始读取的行数。
iterator | 返回一个TextParser对象，以便逐块读取文件。
chunksize | 文件块的大小(用于迭代)。
skip_footer | 需要忽略的行数(从文件末尾处算起)
verbose | 打印各种解析器输出信息，比如"非数字列中的缺失值的数量"等。
encoding | 用于 Unicode 的文本编码格式(例如，'utf-8'表示用UTF-8编码的文本)。
squeeze | 如果数据经解析后仅含一列，则返回一个 Series。
thousands | 千分位分隔符(例如“，”或“.”)。
|------------------------------------------------------------------------------------------------------------------------------------------------------------------

### Reading Text Files in Pieces
<font color=Indigo>
逐块读取文本文件

When processing very large files or figuring out the right set of arguments to correctly process a large file, you may only want to read in a small piece of a file or iterate through smaller chunks of the file.
<font color=Indigo>
在处理很大的文件时,或找出大文件中的参数集以便于后续处理时,你可能只想读取文件的一小部分或逐块对文件进行迭代.

Before we look at a large file, we make the pandas display settings more compact:
<font color=Indigo>
在我们查看一个大文件之前,我们可以让 pandas 的显示设置更加紧凑

In [19]:
pd.options.display.max_rows = 10

In [20]:
result = pd.read_csv('D:/pydata-book/examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

If you want to only read a small number of rows (avoiding reading the entire file),specify that with nrows:
<font color=Indigo>
如果你只想读几行(避免读取整个文件), 可以通过nrows指定行数.

In [21]:
pd.read_csv('D:/pydata-book/examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

To read a file in pieces, specify a chunksize as a number of rows:
<font color=Indigo>
要逐块读取文件,需要通过指定一个行数设置 chunksize

In [22]:
chunker = pd.read_csv('D:/pydata-book/examples/ex6.csv', chunksize=1000)
chunker

The TextParser object returned by read_csv allows you to iterate over the parts of the file according to the chunksize. For example, we can iterate over ex6.csv, aggregating the value counts in the 'key' column like so:
<font color=Indigo>
由read_csv返回的TextParser允许你根据Chunksize对文件的各个部分进行迭代,例如:我们可以迭代处理ex6.csv, 将值计数聚合到"key"中,如下所示:

In [23]:
chunker = pd.read_csv('D:/pydata-book/examples/ex6.csv', chunksize=1000)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
    
tot = tot.sort_values(ascending=False)

tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

TextParser is also equipped with a get_chunk method that enables you to read pieces of an arbitrary size.
<font color=Indigo>
TextParser还提供了一个get_chunk方法，可以让您读取任意大小的片段。

### Writing Data to Text Format
<font color=Indigo>
将数据写出到文本文件

Data can also be exported to a delimited format. Let's consider one of the CSV files read before:
<font color=Indigo>
数据也可以导出为一个带有分割符的格式. 让我们考虑一下之前读过的一个CSV文件.

In [24]:
data = pd.read_csv('D:/pydata-book/examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

Using DataFrame's to_csv method, we can write the data out to a comma-separated file:
<font color=Indigo>
使用 DataFrame 的 to_csv 方法, 我们可以将数据写为一个带有逗号分割的文件.

In [25]:
data.to_csv('D:/pydata-book/examples/out.csv')

In [26]:
!type D:\pydata-book\examples\out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

Other delimiters can be used, of course (writing to sys.stdout so it prints the text result to the console):
<font color=Indigo>
当然也可以使用其他分隔符(由于这里直接写出到sys.stdout,所以仅仅是打印出文件结果而已):

In [27]:
import sys
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

Missing values appear as empty strings in the output. You might want to denote them by some other sentinel value:
<font color=Indigo>
缺失值在输出结果中会被表示为空字符串. 你可能希望将其表示为别的标记值:

In [28]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

With no other options specified, both the row and column labels are written. Both of these can be disabled:
<font color=Indigo>
如果没有指定其他选项,则会写出所有行列的标签,当然,他们也都可以被禁用:

In [29]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

You can also write only a subset of the columns, and in an order of your choosing:
<font color=Indigo>
此外,你还可以只输出一部分的列,并以你指定的顺序排列

In [30]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

Series also has a to_csv method:
<font color=Indigo>
Series 也有一个 to_csv 方法:

In [31]:
import numpy as np

In [32]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('D:/pydata-book/examples/tseries.csv')

In [33]:
!type D:\pydata-book\examples\tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

### Working with Delimited Formats 
<font color=Indigo>
处理分隔的格式

It's possible to load most forms of tabular data from disk using functions like pandas.read_table. In some cases, however, some manual processing may be necessary. It's not uncommon to receive a file with one or more malformed lines that trip up read_table. To illustrate the basic tools, consider a small CSV file:
<font color=Indigo>
可以使用像pandas.read_table这样的函数从磁盘加载大多数表格数据。然而，在某些情况下，接收到一个或多个非常规的文件并不少见, 所以一些手工处理的工作可能是必要的。为了演示基本的工具，请考虑一个小的CSV文件:

In [34]:
!type D:\pydata-book\examples\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

For any file with a single-character delimiter, you can use Python’s built-in csv module. To use it, pass any open file or file-like object to csv.reader:
<font color=Indigo>
对于任何具有单字符分隔符的文件，您都可以使用Python内置的csv模块。要使用它，可以将任何打开文件或文件的对象传递给csv.reader:

In [35]:
import csv
f = open('D:/pydata-book/examples/ex7.csv')
reader = csv.reader(f)
reader

Iterating through the reader like a file yields lists of values with any quote characters removed:
<font color=Indigo>
对这个reader进行迭代将会为每行产生一个列表(并移除所有的引号):

In [36]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

From there, it’s up to you to do the wrangling necessary to put the data in the formthat you need it. Let’s take this step by step. First, we read the file into a list of lines:
<font color=Indigo>
现在,为了使数据格式合乎要求,你需要对其做一些整理工作,让我们一步一步来。首先，我们将文件读到一行列表中:

In [37]:
with open('D:/pydata-book/examples/ex7.csv') as f:
    lines = list(csv.reader(f))
    
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

Then, we split the lines into the header line and the data lines:
<font color=Indigo>
然后,我们将这些行划分为标题行和数据行

In [38]:
header, values = lines[0], lines[1:]
values

[['1', '2', '3'], ['1', '2', '3']]

Then we can create a dictionary of data columns using a dictionary comprehension and the expression `zip(*values)`, which transposes rows to columns:
<font color=Indigo>
然后，我们可以使用字典的方式和`zip(*value)`创建一个字典的数据列,将行转换为列:

In [39]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

CSV files come in many different flavors. To define a new format with a different delimiter, string quoting convention, or line terminator, we define a simple subclass of csv.Dialect:
<font color=Indigo>
CSV 文件的形式有很多.只需定义csv.Dialect的一个子类即可定义出新格式(如专门的分隔符,字符串引用约定,行结束符等):

In [40]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
    
reader = csv.reader(reader, dialect=my_dialect)

In [41]:
reader

We can also give individual CSV dialect parameters as keywords to csv.reader without having to define a subclass:
<font color=Indigo>
各个CSV语支的参数也可以以关键字的形式提供给csv.reader,而无须定义子类:

In [42]:
reader = csv.reader(reader, delimiter='|')
reader

The possible options (attributes of csv.Dialect) and what they do can be found in Table 6-3.
<font color=Indigo>
可能的选项(csv.Dialect的属性)及其所做的工作可以在表6-3中找到。

Table 6-3. CSV dialect options

Argument|Description
:-|:-
delimiter | One-character string to separate fields; defaults to ','.
lineterminator | Line terminator for writing; defaults to '\r\n'. Reader ignores this and recognizes cross-platform line terminators.
quotechar | Quote character for fields with special characters (like a delimiter); default is '"'.
quoting | Quoting convention. Options include csv.QUOTE_ALL (quote all fields), csv.QUOTE_MINIMAL (only fields with special characters like the delimiter), csv.QUOTE_NONNUMERIC, and csv.QUOTE_NONE (no quoting). Defaults to QUOTE_MINIMAL.
skipinitialspace | Ignore whitespace after each delimiter; default is False.
doublequote | How to handle quoting character inside a field; if True, it is doubled.
escapechar | String to escape the delimiter if quoting is set to csv.QUOTE_NONE; disabled by default.
|-----------------------------------------------------------------------------------------------------------------------------------------------------------------

<font color=Indigo>
表 6-3. CSV语支选项

参数|描述
:-|:-
delimiter | 用于分割字段的单字符串. 默认为','
lineterminator | 用于写操作的行结束符,默认为'\r\n'. 读操作将忽略此选项,它能认出跨平台的行结束符.
quotechar | 用于带有特殊字符(如分隔符)的字段的引用符号. 默认为'"'
quoting | 引用约定.可选值包括csv.QUOTE_ALL(引用所有字段), csv.QUOTE_MINIMAL(值引用带有诸如分隔符之类特殊字符的字段),csv.QUOTE_NONNUMERIC 以及csv.QUOTE_NONE(不引用).默认为QUOTE_MINIMAL.
skipinitialspace | 忽略分隔符后面的空白符. 默认为 False.
doublequote | 如何处理字段内的引用符号. 如果为True, 则双写.
escapechar | 用于对分隔符进行转义的字符串(如果quoting 被设置为csv.QUOTE_NONE). 默认为禁用.
|-----------------------------------------------------------------------------------------------------------------------------------------------------------------

_For files with more complicated or fixed multicharacter delimiters, you will not be able to use the csv module. In those cases, you’ll have to do the line splitting and other cleanup using string’s split method or the regular expression method re.split._
<font color=Indigo>
_对于那些使用复杂分隔符或固定的多字符分隔符的文件, csv模块就无能为力了. 在这种情况下,你就只能使用字符串的split方法或正则表达式方法re.split进行拆分和其他整理工作了._

To write delimited files manually, you can use csv.writer. It accepts an open, writable file object and the same dialect and format options as csv.reader:
<font color=Indigo>
要手工输入分隔符文件,你可以使用csv.writer.它接受一个已打开且可写的文件对象以及跟csv.reader相同的那些语支和格式化选项:

In [43]:
with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

### JSON Data

JSON (short for JavaScript Object Notation) has become one of the standard formats for sending data by HTTP request between web browsers and other applications. It is a much more free-form data format than a tabular text form like CSV. Here is an example:
<font color=Indigo>
JSON(JavaScript对象表示法的缩写)已经成为HTTP请求在web浏览器和其他应用程序之间发送数据的标准格式之一。它是一种比表形文本格式更自由的数据格式。这是一个例子:

In [44]:
obj = """
{"name" : "Wes",
 "Places_lived" : ["United States", "Spain", "Germany"],
 "pet" : null,
 "siblings": [{"name": "Scott", "age": 30, "pets":["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

JSON is very nearly valid Python code with the exception of its null value null and some other nuances (such as disallowing trailing commas at the end of lists). The basic types are objects (dicts), arrays (lists), strings, numbers, booleans, and nulls. All of the keys in an object must be strings. There are several Python libraries for reading and writing JSON data. I’ll use json here, as it is built into the Python standard library. To convert a JSON string to Python form, use json.loads:
<font color=Indigo>
除了其空值null和其他一些细微差别(如列表末尾不允许存在多余的逗号)之外,JSON非常接近于有效的Python代码.基本类型有对象(字典),数组(列表),字符串,数值,布尔值及null.对象中所有的键都必须是字符串.许多Python库都可以读写JSON数据.我将使用json,因为它是构建于Python标准库中的.通过json.loads即可将JSON字符串转换为Python格式.

In [45]:
import json
result = json.loads(obj)
result

{'Places_lived': ['United States', 'Spain', 'Germany'],
 'name': 'Wes',
 'pet': None,
 'siblings': [{'age': 30, 'name': 'Scott', 'pets': ['Zeus', 'Zuko']},
  {'age': 38, 'name': 'Katie', 'pets': ['Sixes', 'Stache', 'Cisco']}]}

json.dumps, on the other hand, converts a Python object back to JSON:
<font color=Indigo>
另一方面,通过 json.dumps 可以将Python对象转换为JSON对象

In [46]:
asjson = json.dumps(result)
asjson

'{"name": "Wes", "Places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

How you convert a JSON object or list of objects to a DataFrame or some other data structure for analysis will be up to you. Conveniently, you can pass a list of dicts (which were previously JSON objects) to the DataFrame constructor and select a subset of the data fields:
<font color=Indigo>
如何将JSON对象或对象列表转换为DataFrame或其他用于分析的数据结构将取决于您。最简单方便的方式是:向DataFrame构造器传入一组JSON对象，并可以选择数据字段的子集:

In [47]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

The pandas.read_json can automatically convert JSON datasets in specific arrangements into a Series or DataFrame. For example:
<font color=Indigo>
pandas.read_json 可以在特定的安排中自动将JSON数据集转换成一个Series或DataFrame

In [48]:
!type D:\pydata-book\examples\example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

The default options for pandas.read_json assume that each object in the JSON array is a row in the table:
<font color=Indigo>
pandas.read_json 默认假设JSON数组中的每个对象都是表中的一行:

In [49]:
data = pd.read_json('D:/pydata-book/examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

For an extended example of reading and manipulating JSON data (including nested records), see the USDA Food Database example in Chapter 7.
<font color=Indigo>
第7章中关于USDA Food Database 的那个例子进一步讲解JSON数据的读取和处理(包括嵌套记录)

If you need to export data from pandas to JSON, one way is to use the to_json methods on Series and DataFrame:
<font color=Indigo>
如果你想要将数据通过pandas导出为JSON, 其中一种方式是在Series和DataFrame上使用to_json方法:

In [50]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [51]:
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

### XML and HTML: Web Scraping

Python has many libraries for reading and writing data in the ubiquitous HTML and XML formats. Examples include lxml, Beautiful Soup, and html5lib. While lxml is comparatively much faster in general, the other libraries can better handle malformed HTML or XML files.
<font color=Indigo>
在现实中,HTML和XML格式的数据无处不在,Python有许多库用于读取和写入HTML和XML格式的数据。例如 lxml、Beautiful Soup 和 html5lib。虽然lxml一般来说比较快，但是其他的库可以更好地处理畸形的HTML或XML文件。

pandas has a built-in function, read_html, which uses libraries like lxml and Beautiful Soup to automatically parse tables out of HTML files as DataFrame objects. To show how this works, I downloaded an HTML file (used in the pandas documentation) from the United States FDIC government agency showing bank failures.1 First,you must install some additional libraries used by read_html:
<font color=Indigo>
pandas有一个内置函数read_html，它使用像 lxml 和 Beautiful Soup 这样的库将 HTML 文件中的表自动解析为DataFrame对象。为了说明它是如何工作的，我从美国 FDIC 的政府机构下载了一个HTML文件(用于pandas)，记录了银行的倒闭信息。首先，您必须安装read_html所使用的一些额外的库:

conda install lxml  
pip install beautifulsoup4 html5lib

If you are not using conda, pip install lxml will likely also work.
<font color=Indigo>
如果你没有使用 conda, pip install lxml 可能也可以正常使用.

The pandas.read_html function has a number of options, but by default it searches for and attempts to parse all tabular data contained within `<table>` tags. The result is a list of DataFrame objects:
<font color=Indigo>
pandas.read_html 函数有许多选项，但在默认情况下，它会搜索并尝试解析包含在`<table>`标签中的所有表格数据。返回的结果是一个DataFrame对象的列表:

In [52]:
tables = pd.read_html('D:/pydata-book/examples/fdic_failed_bank_list.html')

In [53]:
len(tables)

1

In [54]:
type(tables)

list

In [55]:
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

As you will learn in later chapters, from here we could proceed to do some data cleaning and analysis, like computing the number of bank failures by year:
<font color=Indigo>
正如您在后面的章节中将要了解到的，从这里开始，我们可以进行一些数据清理和分析，比如根据年份来统计银行倒闭的数量:

In [56]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.head()

0   2016-09-23
1   2016-08-19
2   2016-05-06
3   2016-04-29
4   2016-03-11
Name: Closing Date, dtype: datetime64[ns]

In [57]:
close_timestamps.dt.year.value_counts().head()

2010    157
2009    140
2011     92
2012     51
2008     25
Name: Closing Date, dtype: int64

#### Parsing XML with lxml.objectify

XML (eXtensible Markup Language) is another common structured data format supporting hierarchical, nested data with metadata. The book you are currently reading was actually created from a series of large XML documents.
<font color=Indigo>
XML(Extensible Markup Language) 是另一种常见的支持分层,嵌套数据以及元数据的结构化数据格式.本书使用的这些文件实际上来自于一个很大的XML文档.

Earlier, I showed the pandas.read_html function, which uses either lxml or Beautiful Soup under the hood to parse data from HTML. XML and HTML are structurally similar, but XML is more general. Here, I will show an example of how to use lxml to parse data from a more general XML format.
<font color=Indigo>
之前,我展示了pandas.read_html函数,它使用lxml或Beautiful Soup来解析来自HTML的数据。XML 和 HTML 在结构上非常相似,但是XML更普遍.在这里,我将展示如何使用 lxml 从更普遍的XML格式解析数据。

The New York Metropolitan Transportation Authority (MTA) publishes a number of data series about its bus and train services. Here we’ll look at the performance data,which is contained in a set of XML files. Each train or bus service has a different file(like Performance_MNR.xml for the Metro-North Railroad) containing monthly data as a series of XML records that look like this:
<font color=Indigo>
纽约大都会运输署(MTA)发布了一些有关其公交车和列车服务的数据资料.这里,我们将看看包含在一组XML文件中的运行情况数据.每项列车或公交服务都有各自的文件(如 Metro-North Railroad的文件是Performance_MNR.xml),其中每条XML记录就是一条月度数据,如下所示:

```
<INDICATOR>
    <INDICATOR_SEQ>373889</INDICATOR_SEQ>
    <PARENT_SEQ></PARENT_SEQ>
    <AGENCY_NAME>Metro-North Railroad</AGENCY_NAME>
    <INDICATOR_NAME>Escalator Availability</INDICATOR_NAME>
    <DESCRIPTION>Percent of the time that escalators are operational
    systemwide. The availability rate is based on physical observations performed
    the morning of regular business days only. This is a new indicator the agency
    began reporting in 2009.</DESCRIPTION>
    <PERIOD_YEAR>2011</PERIOD_YEAR>
    <PERIOD_MONTH>12</PERIOD_MONTH>
    <CATEGORY>Service Indicators</CATEGORY>
    <FREQUENCY>M</FREQUENCY>
    <DESIRED_CHANGE>U</DESIRED_CHANGE>
    <INDICATOR_UNIT>%</INDICATOR_UNIT>
    <DECIMAL_PLACES>1</DECIMAL_PLACES>
    <YTD_TARGET>97.00</YTD_TARGET>
    <YTD_ACTUAL></YTD_ACTUAL>
    <MONTHLY_TARGET>97.00</MONTHLY_TARGET>
    <MONTHLY_ACTUAL></MONTHLY_ACTUAL>
</INDICATOR>
```

Using lxml.objectify, we parse the file and get a reference to the root node of the XML file with getroot:
<font color=Indigo>
我们先用lxml.objectify解析该文件,然后通过getroot得到该XML文件的根节点的引用:

In [58]:
from lxml import objectify

path = 'D:/pydata-book/datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

root.INDICATOR returns a generator yielding each `<INDICATOR>` XML element. For each record, we can populate a dict of tag names (like YTD_ACTUAL) to data values (excluding a few tags):
<font color=Indigo>
root.INDICATOR 返回一个用于产生各个`<INDICATOR>` XML 元素的生成器.对于每条记录,我们可以用标记名(如YTD_ACTUAL)和数据值填充一个字典(排除几个标记):

In [59]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ', 'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

Lastly, convert this list of dicts into a DataFrame:
<font color=Indigo>
最后,将这个字典列表转换为一个DataFrame:

In [60]:
perf = pd.DataFrame(data)
perf.head()

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,95,2,2008,96,95
2,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.3,95,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.8,95,5,2008,96.6,95

XML data can get much more complicated than this example. Each tag can have metadata, too. Consider an HTML link tag, which is also valid XML:
<font color=Indigo>
XML 数据可以比本例复杂得多.每个标记都可以有元数据.看看下面这个HTML的连接标记(它也算是一段有效的XML):

In [61]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

You can now access any of the fields (like href) in the tag or the link text:
<font color=Indigo>
现在就可以访问连接文本或标记中的任何字段了(如href):

In [62]:
root

In [63]:
root.get('href')

'http://www.google.com'

In [64]:
root.text

'Google'

## Binary Data Formats

One of the easiest ways to store data (also known as serialization) efficiently in binary format is using Python’s built-in pickle serialization. pandas objects all have a to_pickle method that writes the data to disk in pickle format:
<font color=Indigo>
存储数据(也称为序列化)的一种最简单的方式是使用pandas内置的Pickle序列化.pandas 对象都有一个用于将数据以pickle形式保存到磁盘上的save方法:

In [65]:
frame = pd.read_csv('D:/pydata-book/examples/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [66]:
frame.to_pickle('D:/pydata-book/examples/frame_pickle')

You can read any “pickled” object stored in a file by using the built-in pickle directly, or even more conveniently using pandas.read_pickle:
<font color=Indigo>
你可以使用内置的pickle直接读取任何保存为一个文件的 "pickled" 对象, 甚至使用更加方便的pandas.read_pickle

In [67]:
pd.read_pickle('D:/pydata-book/examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

pickle is only recommended as a short-term storage format. Theproblem is that it is hard to guarantee that the format will be stable over time; an object pickled today may not unpickle with a later version of a library. We have tried to maintain backward compatibility when possible, but at some point in the future it may be necessary to “break” the pickle format.
<font color=Indigo>
pickle 仅建议用于短期存储格式.其原因是很难保证该格式永远是稳定的,今天pickle的对象可能无法被后续版本的库unpickle出来.虽然我尽力保证这种事情不会发生在pandas中,但是今后的某个时候说不定还是得"打破"该pickle格式.

pandas has built-in support for two more binary data formats: HDF5 and Message‐Pack. I will give some HDF5 examples in the next section, but I encourage you to explore different file formats to see how fast they are and how well they work for your analysis. Some other storage formats for pandas or NumPy data include:
- bcolz  
A compressable column-oriented binary format based on the Blosc compression library.  
- Feather  
A cross-language column-oriented file format I designed with the R programming community’s Hadley Wickham. Feather uses the Apache Arrow columnar memory format.  

<font color=Indigo>
pandas 内置了对两种二进制数据格式的支持:HDF5和Message‐Pack。在下一节中，我将给出一些HDF5示例，但是我鼓励您探索其他不同的文件格式，看看它们的速度有多快，以及它们对您的分析工作有多大的帮助。其他一些pandas的存储格式或数字数据包括:
- bcolz  
基于Blosc压缩库的一种可压缩的面向列的二进制格式。    
- Feather  
我为R编程社区的Hadley Wickham设计的一种跨语言的列式文件格式。Feather使用Apache Arrow柱状内存格式。

### Using HDF5 Format

HDF5 is a well-regarded file format intended for storing large quantities of scientific array data. It is available as a C library, and it has interfaces available in many other languages, including Java, Julia, MATLAB, and Python. The “HDF” in HDF5 stands for hierarchical data format. Each HDF5 file can store multiple datasets and supporting metadata. Compared with simpler formats, HDF5 supports on-the-fly compression with a variety of compression modes, enabling data with repeated patterns to be stored more efficiently. HDF5 can be a good choice for working with very large datasets that don’t fit into memory, as you can efficiently read and write small sections of much larger arrays.
<font color=Indigo>
很多工具都能实现高效读写磁盘上以二进制格式存储的科学数据.HDF5就是其中一个广受好评的流行的工业级库, 他是一个C库,带有许多语言的接口,如Java,Julia,MATLAB和Python等.HDF5中的HDF指的是层次型数据格式(hierarchical data fromat).每个HDF5文件都含有一个文件系统式的节点结构,它使你能够存储多个数据集并支持元数据.与其他简单格式相比,HDF5支持多种压缩器的即时压缩,还能更高效地存储重复模式数据.对于那些非常大的无法直接放入内存中的数据集,HDF5就是不错的选择,因为它可以高效地分块读取.

While it’s possible to directly access HDF5 files using either the PyTables or h5py libraries, pandas provides a high-level interface that simplifies storing Series and DataFrame object. The HDFStore class works like a dict and handles the low-level details:
<font color=Indigo>
虽然可以直接使用PyTables或h5py库来访问HDF5文件，但pandas提供了一个高级接口，简化了存储序列和DataFrame对象。HDFStore类的工作方式类似于一个dict，并处理底层的细节:

In [68]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('D:/pydata-book/examples/mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: D:/pydata-book/examples/mydata.h5
/obj1                frame        (shape->[100,1])
/obj1_col            series       (shape->[100])
/obj2                frame_table  (typ->appendable,nrows->100,ncols->1,indexers->[index])
/obj3                frame_table  (typ->appendable,nrows->100,ncols->1,indexers->[index])

Objects contained in the HDF5 file can then be retrieved with the same dict-like API:
<font color=Indigo>
在HDF5文件中包含的对象可以使用相同的类似字典的API来检索:

In [69]:
store['obj1'].head()

          a
0 -1.100834
1 -0.342602
2 -1.874599
3 -1.138086
4 -0.568963

HDFStore supports two storage schemas, 'fixed' and 'table'. The latter is generallyslower, but it supports query operations using a special syntax:
<font color=Indigo>
HDFStore支持两个存储模式:“fixed”和“table”。后者通常较慢，但它支持使用特殊语法的查询操作:

In [70]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])

           a
10 -0.781914
11 -1.457214
12 -0.792899
13  1.128268
14 -0.889869
15  2.000352

The put is an explicit version of the store['obj2'] = frame method but allows us to set other options like the storage format.
<font color=Indigo>
put是store['obj2'] = frame方法的一个显式版本，但它允许我们设置其他选项，比如存储格式。

The pandas.read_hdf function gives you a shortcut to these tools:
<font color=Indigo>
pandas.read_hdf函数为您提供了快捷的工具:

In [71]:
store.close()

In [72]:
frame.to_hdf('D:/pydata-book/examples/mydata.h5', 'obj3', mode='a', format='table')
pd.read_hdf('D:/pydata-book/examples/mydata.h5', 'obj3', mode='a', where=['index < 5'])

          a
0 -1.100834
1 -0.342602
2 -1.874599
3 -1.138086
4 -0.568963

If you are processing data that is stored on remote servers, like Amazon S3 or HDFS, using a different binary format designed for distributed storage like Apache Parquet may be more suitable.Python for Parquet and other such storage formats is still developing, so I do not write about them in this book.
<font color=Indigo>
如果您正在处理存储在远程服务器上的数据，比如Amazon S3或HDFS，那么使用一种不同的二进制格式来设计像Apache Parquet这样的分布式存储可能更合适。针对Python的Parquet和其他存储格式还在开发中，所以我在这本书中没有提到它们。

If you work with large quantities of data locally, I would encourage you to explore PyTables and h5py to see how they can suit your needs. Since many data analysis problems are I/O-bound (rather than CPU-bound), using a tool like HDF5 can massively accelerate your applications.
<font color=Indigo>
如果您在本地处理大量数据，我将鼓励您探索PyTables和h5py，看看它们如何满足您的需求。由于许多数据分析问题都是i/o绑定的(而不是cpu绑定的)，使用HDF5这样的工具可以大大加快应用程序的速度。

HDF5 is not a database. It is best suited for write-once, read-many datasets. While data can be added to a file at any time, if multiple writers do so simultaneously, the file can become corrupted.
<font color=Indigo>
HDF5不是一个数据库。它最适合于一次写入、多次多读取的数据集。虽然可以在任何时候将数据添加到文件中，但是如果多个作者同时这么做，那么这个文件就会被破坏。

### Reading Microsoft Excel Files

pandas also supports reading tabular data stored in Excel 2003 (and higher) files using either the ExcelFile class or pandas.read_excel function. Internally these tools use the add-on packages xlrd and openpyxl to read XLS and XLSX files, respectively. You may need to install these manually with pip or conda.
<font color=Indigo>
pandas还支持存储在Excel 2003(或更高版本)中的表格型数据，由于ExcelFile类或pandas.read_excel函数用到了xlrd和openpyxl包来分别读取XLS和XLSX文件。您可能需要使用pip或conda手动安装这些操作。

To use ExcelFile, create an instance by passing a path to an xls or xlsx file:
<font color=Indigo>
使用ExcelFile,通过传递xls或xlsx文件路径来创建一个实例.

In [73]:
xlsx = pd.ExcelFile('D:/pydata-book/examples/ex1.xlsx')
xlsx

Data stored in a sheet can then be read into DataFrame with parse:
<font color=Indigo>
然后可以使用如下语法将存储在一个sheet中的数据读取到DataFrame:

In [74]:
pd.read_excel(xlsx, 'Sheet1')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

If you are reading multiple sheets in a file, then it is faster to create the ExcelFile,but you can also simply pass the filename to pandas.read_excel:
<font color=Indigo>
如果您在一个文件中读取多个表单，那么创建ExcelFile的速度会更快. 您也可以简单地将文件名传递给pandas.read_excel:

In [75]:
frame = pd.read_excel('D:/pydata-book/examples/ex1.xlsx', 'Sheet1')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

To write pandas data to Excel format, you must first create an ExcelWriter, then write data to it using pandas objects’ to_excel method:
<font color=Indigo>
要将熊猫数据写入为Excel格式，您必须首先创建一个ExcelWriter，然后使用pandas对象的to_excel方法将数据写入:

In [76]:
writer = pd.ExcelWriter('D:/pydata-book/examples/ex2.xlsx')
type(writer)

pandas.io.excel._XlsxWriter

In [77]:
frame.to_excel(writer, 'Sheet1')
writer.save()

You can also pass a file path to to_excel and avoid the ExcelWriter:
<font color=Indigo>
您还可以通过传递一个路径给to_excel，而无需使用ExcelWriter对象:

In [78]:
frame.to_excel('D:/pydata-book/examples/ex3.xlsx')

## Interacting with Web APIs

Many websites have public APIs providing data feeds via JSON or some other format.There are a number of ways to access these APIs from Python; one easy-to-use method that I recommend is the requests package.
<font color=Indigo>
许多网站都有通过JSON或其他格式提供数据提要的公共API。有很多方法可以从Python中访问这些API.我推荐requests包,它非常易于使用。

To find the last 30 GitHub issues for pandas on GitHub, we can make a GET HTTP
request using the add-on requests library:
<font color=Indigo>
找到GitHub上的最后30个GitHub问题，我们可以使用requests扩展库,制作一个GET HTTP请求

In [79]:
import requests

In [80]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)

In [81]:
resp

The Response object’s json method will return a dictionary containing JSON parsed into native Python objects:
<font color=Indigo>
Response对象的json方法返回一个包含JSON解析为原生Python对象的字典.

In [82]:
data = resp.json()
data[0]['title']

'Warn on duplicate names in MI?'

Each element in data is a dictionary containing all of the data found on a GitHub issue page (except for the comments). We can pass data directly to DataFrame and extract fields of interest:
<font color=Indigo>
字典数据中的所有元素都包含在GitHub issue页面上(注释除外)。我们可以直接将数据传递给DataFrame并提取感兴趣的字段:

In [83]:
issues = pd.DataFrame(data, columns=['number', 'title', 'labels', 'state'])
issues.head()

,number,title,labels,state
0,19029,Warn on duplicate names in MI?,"[{'id': 35818298, 'url': 'https://api.github.c...",open
1,19028,DataFrame doesn't define density,"[{'id': 35818298, 'url': 'https://api.github.c...",open
2,19027,x in pd.MultiIndex.drop(x),[],open
3,19026,PERF/BENCHMARK: comprehensive cat-groupby benc...,"[{'id': 732775912, 'url': 'https://api.github....",open
4,19024,dispatch Series[datetime64] ops to DatetimeIndex,"[{'id': 211029535, 'url': 'https://api.github....",open

With a bit of elbow grease, you can create some higher-level interfaces to common web APIs that return DataFrame objects for easy analysis.
<font color=Indigo>
要想能够直接得到便于分析的DataFrame对象,只需再多费些精力创建出对常见Web API的更高级的接口即可.

## Interacting with Databases

In a business setting, most data may not be stored in text or Excel files. SQL-based relational databases (such as SQL Server, PostgreSQL, and MySQL) are in wide use, and many alternative databases have become quite popular. The choice of database is usually dependent on the performance, data integrity, and scalability needs of an application.
<font color=Indigo>
在业务环境中，大多数数据可能不会存储在文本或Excel文件中。基于SQL的关系形数据库(如SQL Server、PostgreSQL和MySQL)广泛使用，许多替代数据库已经变得非常流行。数据库的选择通常取决于应用程序的性能、数据完整性和可伸缩性需求。

Loading data from SQL into a DataFrame is fairly straightforward, and pandas has some functions to simplify the process. As an example, I’ll create a SQLite database using Python’s built-in sqlite3 driver:
<font color=Indigo>
从SQL加载数据到一个DataFrame是相当简单的，而pandas有一些功能来简化这个过程。例如，我将使用Python内置的sqlite3驱动程序创建一个SQLite数据库。

In [84]:
import sqlite3

In [85]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);""" 
con = sqlite3.connect('mydata.sqlite')

# con.execute(query)

Then, insert a few rows of data:
<font color=Indigo>
然后,插入几行数据:

In [86]:
data = [('Atlanta', 'Georgia', 1.25, 6),
       ('Tallahassee', 'Florida', 2.6, 3),
       ('Sacramento', 'California', 1.7, 5)]

stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)

In [87]:
con.commit()

Most Python SQL drivers (PyODBC, psycopg2, MySQLdb, pymssql, etc.) return a list of tuples when selecting data from a table:
<font color=Indigo>
大多数Python SQL驱动程序(PyODBC、psycopg2、mysqtable、pymssql等)在从表中选择数据时返回一个元组列表

In [88]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

You can pass the list of tuples to the DataFrame constructor, but you also need the column names, contained in the cursor’s description attribute:
<font color=Indigo>
您可以将元组的列表传递给DataFrame构造函数，但是您也需要在cursor的description属性中包含的列名称:

In [89]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [90]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description]).head()

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5
3      Atlanta     Georgia  1.25  6
4  Tallahassee     Florida  2.60  3

This is quite a bit of munging that you’d rather not repeat each time you query the database. The SQLAlchemy project is a popular Python SQL toolkit that abstracts away many of the common differences between SQL databases. pandas has a read_sql function that enables you to read data easily from a general SQLAlchemy connection. Here, we’ll connect to the same SQLite database with SQLAlchemy and read data from the table created before:
<font color=Indigo>
每次您查询数据库时，您都不会重复这样做,这是相当大的问题。SQLAlchemy project是一种流行的Python SQL工具包，它抽象了SQL数据库之间的许多常见分歧。pandas有一个read_sql函数，它使您能够轻松地从一般的SQLAlchemy连接中读取数据。在这里，我们将使用SQLAlchemy连接相同的SQLite数据库，并从之前创建的表中读取数据:

In [91]:
import sqlalchemy as sqla

In [92]:
db = sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test', db).head()

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5
3      Atlanta     Georgia  1.25  6
4  Tallahassee     Florida  2.60  3

## Conclusion

Getting access to data is frequently the first step in the data analysis process. We have looked at a number of useful tools in this chapter that should help you get started. In the upcoming chapters we will dig deeper into data wrangling, data visualization,time series analysis, and other topics.
<font color=Indigo>
获取数据常常是数据分析过程中的第一步。在这一章中，我们已经讨论了一些有用的工具，它们可以帮助您入门。在接下来的章节中，我们将深入探讨数据的整理、数据可视化、时间序列分析以及其他主题。

# CHAPTER 7  Data Cleaning and Preparation

During the course of doing data analysis and modeling, a significant amount of time is spent on data preparation: loading, cleaning, transforming, and rearranging. Such tasks are often reported to take up 80% or more of an analyst’s time. Sometimes the way that data is stored in files or databases is not in the right format for a particular task. Many researchers choose to do ad hoc processing of data from one form to another using a general-purpose programming language, like Python, Perl, R, or Java, or Unix text-processing tools like sed or awk. Fortunately, pandas, along with the built-in Python language features, provides you with a high-level, flexible, and fast set of tools to enable you to manipulate data into the right form.
<font color=Indigo>
在进行数据分析和建模的过程中，大量的时间花费在数据准备上:加载、清理、转换和重排。这样的任务通常占用分析师80%或更的时间。有时候，数据存储在文件或数据库中的格式不是针对特定任务的正确格式。许多研究人员选择使用一种通用的编程语言，比如Python、Perl、R或Java，或者像sed或awk之类的Unix文本处理工具，对数据进行临时处理。幸运的是，pandas以及内置的Python语言特性，为您提供了一种高级、灵活和快速的工具，使您能够将数据处理为正确的形式。

If you identify a type of data manipulation that isn’t anywhere in this book or elsewhere in the pandas library, feel free to share your use case on one of the Python mailing lists or on the pandas GitHub site. Indeed, much of the design and implementation of pandas has been driven by the needs of real-world applications.
<font color=Indigo>
如果你发现了一种类型的数据操作，并没有在这本书或者其他地方的pandas库里提及，你可以随意在一个Python邮件列表或者pandas的GitHub网站上分享你的用例。事实上，pandas的设计和实施主要是受到工作中的需求驱使。

In this chapter I discuss tools for missing data, duplicate data, string manipulation,and some other analytical data transformations. In the next chapter, I focus on combining and rearranging datasets in various ways.
<font color=Indigo>
在本章中，我将讨论缺失数据、重复数据、字符串处理和其他一些分析数据转换的工具。在下一章中，我将重点放在以各种方式组合和重新排列数据集。

## Handing Missing Data

Missing data occurs commonly in many data analysis applications. One of the goals of pandas is to make working with missing data as painless as possible. For example, all of the descriptive statistics on pandas objects exclude missing data by default.
<font color=Indigo>
丢失的数据通常出现在许多数据分析应用程序中。pandas的目标之一就是尽可能少地使用缺失的数据。例如，所有关于pandas对象的描述性统计数据默认都不包含丢失的数据。

The way that missing data is represented in pandas objects is somewhat imperfect, but it is functional for a lot of users. For numeric data, pandas uses the floating-point value NaN (Not a Number) to represent missing data. We call this a sentinel value that can be easily detected:
<font color=Indigo>
丢失数据的表示方式在pandas对象中看起来是有些不完美的，但它对很多用户都是有用的。对于数字数据，pandas使用浮点值NaN(不是一个数字)来表示缺失的数据。我们称其为标记值，可以很容易地检测到:

In [93]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [94]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In pandas, we’ve adopted a convention used in the R programming language by referring to missing data as NA, which stands for not available. In statistics applications, NA data may either be data that does not exist or that exists but was not observed (through problems with data collection, for example). When cleaning up data for analysis, it is often important to do analysis on the missing data itself to identify data collection problems or potential biases in the data caused by missing data.
<font color=Indigo>
在pandas中，我们采用了一种在R编程语言中使用的约定，它的是缺失的数据是NA表示这是不可用的。在统计应用程序中，NA数据要么是不存在的数据，要么是存在的，但没有被观察到(例如，通过数据收集的问题)。在为分析清理数据时，常常需要对丢失的数据进行分析，以确定数据收集问题或由于缺少数据导致的数据潜在偏差。

The built-in Python None value is also treated as NA in object arrays:
<font color=Indigo>
内置的Python None值在数组对象中也被当作NA对待:

In [95]:
string_data[0] = None
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

There is work ongoing in the pandas project to improve the internal details of how missing data is handled, but the user API functions, like pandas.isnull, abstract away many of the annoying details. See Table 7-1 for a list of some functions related to missing data handling.
<font color=Indigo>
pandas项目正在改善处理丢失数据的内部细节，但用户API，比如pandas.isnull，抽象出许多烦人的细节。参见表7-1列出了与丢失的数据处理相关的一些函数的列表。

Table 7-1. NA handling methods

Argument|Description
:-|:-
dropna | Filter axis labels based on whether values for each label have missing data, with varying thresholds for how much missing data to tolerate.
fillna | Fill in missing data with some value or using an interpolation method such as 'ffill' or 'bfill'.
isnull | Return boolean values indicating which values are missing/NA.
notnull | Negation of isnull.
-------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------

表 7-1. NA处理方法

实参|描述
:-|:-
dropna | 根据每个标签的值是否缺少数据过滤轴标签，对于允许有多少缺失数据的阈值。
fillna | 用一些值填充缺失的数据，或者使用插值方法，如“ffill”或“bfill”。
isnull | 返回布尔值，表示哪些值是缺失/na的。
notnull | isnull的否定。
--------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### Filtering Out Missing Data

There are a few ways to filter out missing data. While you always have the option to do it by hand using pandas.isnull and boolean indexing, the dropna can be helpful. On a Series, it returns the Series with only the non-null data and index values:
<font color=Indigo>
有几种方法可以过滤掉丢失的数据。虽然你总是可以用pandas.isnull和布尔索引来做这件事。在Series中，它只返回一个包含 non-null 数据和索引值的Series.

In [96]:
from numpy import nan as NA

In [97]:
data = pd.Series([1, NA, 3.5, NA, 7])
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

This is equivalent to:
<font color=Indigo>
这相当于:

In [98]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

With DataFrame objects, things are a bit more complex. You may want to drop rows or columns that are all NA or only those containing any NAs. dropna by default drops any row containing a missing value:
<font color=Indigo>
对于DataFrame对象，事情要复杂得多。您可能想要删除所有的行或列，或者只包含那些包含NAs的列。在默认情况下，NAs.dropna会删除任何包含缺失值的行:

In [99]:
data = pd.DataFrame([[1., 6.5, 3.],[1., NA, NA], [NA, NA, NA], [NA, 6.5, 3.]])
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [100]:
cleaned = data.dropna()
cleaned

     0    1    2
0  1.0  6.5  3.0

Passing how='all' will only drop rows that are all NA:
<font color=Indigo>
传递how='all'实参,只会删除所有包含NA的行:

In [101]:
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

To drop columns in the same way, pass axis=1:
<font color=Indigo>
要以同样的方式删除列，通过传递实参axis=1:

In [102]:
data[4] = NA
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [103]:
data.dropna(axis=1, how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

A related way to filter out DataFrame rows tends to concern time series data. Suppose you want to keep only rows containing a certain number of observations. You can indicate this with the thresh argument:
<font color=Indigo>
一种过滤出DataFrame行的相关方法倾向于关注时间序列数据。假设您只想保留包含一定数量NA值的行。你可以通过参数`thresh`来表明:

In [104]:
df = pd.DataFrame(np.random.randn(7, 3))
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
df

          0         1         2
0  0.294150       NaN       NaN
1 -0.846454       NaN       NaN
2  1.189016       NaN  0.557128
3  0.493734       NaN  0.579293
4 -0.428277 -0.090115 -1.274040
5 -0.018119  1.619601 -0.216690
6  0.118422  0.088899  0.745401

In [105]:
df.dropna()

          0         1         2
4 -0.428277 -0.090115 -1.274040
5 -0.018119  1.619601 -0.216690
6  0.118422  0.088899  0.745401

In [106]:
df.dropna(thresh=2)

          0         1         2
2  1.189016       NaN  0.557128
3  0.493734       NaN  0.579293
4 -0.428277 -0.090115 -1.274040
5 -0.018119  1.619601 -0.216690
6  0.118422  0.088899  0.745401

### Filling In Missing Data

Rather than filtering out missing data (and potentially discarding other data along with it), you may want to fill in the “holes” in any number of ways. For most purposes, the fillna method is the workhorse function to use. Calling fillna with a constant replaces missing values with that value:
<font color=Indigo>
您可能希望以各种方式填充“洞”，而不是过滤掉丢失的数据(并可能丢弃其他数据)。在大多数情况下，主要使用fillna。调用fillnna用一个常量替换缺失的值:

In [107]:
df.fillna(0)

          0         1         2
0  0.294150  0.000000  0.000000
1 -0.846454  0.000000  0.000000
2  1.189016  0.000000  0.557128
3  0.493734  0.000000  0.579293
4 -0.428277 -0.090115 -1.274040
5 -0.018119  1.619601 -0.216690
6  0.118422  0.088899  0.745401

Calling fillna with a dict, you can use a different fill value for each column:
<font color=Indigo>
将字典传入fillna的参数中,你可以为每一列指定不同的填充值.

In [108]:
df.fillna({1: 0.5, 2: 0})

          0         1         2
0  0.294150  0.500000  0.000000
1 -0.846454  0.500000  0.000000
2  1.189016  0.500000  0.557128
3  0.493734  0.500000  0.579293
4 -0.428277 -0.090115 -1.274040
5 -0.018119  1.619601 -0.216690
6  0.118422  0.088899  0.745401

fillna returns a new object, but you can modify the existing object in-place:
<font color=Indigo>
fillna 返回一个新对象,但是您可以通过inplace参数就地修改现有的对象:

In [109]:
_ = df.fillna(0, inplace=True)
df

          0         1         2
0  0.294150  0.000000  0.000000
1 -0.846454  0.000000  0.000000
2  1.189016  0.000000  0.557128
3  0.493734  0.000000  0.579293
4 -0.428277 -0.090115 -1.274040
5 -0.018119  1.619601 -0.216690
6  0.118422  0.088899  0.745401

The same interpolation methods available for reindexing can be used with fillna:
<font color=Indigo>
可用于重新索引的内插方法可用于fillna:

In [110]:
df = pd.DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = NA
df.iloc[4:, 2] = NA
df

          0         1         2
0  1.611782  1.495194 -0.595884
1 -0.573462 -0.106851 -0.526414
2 -0.914254       NaN -0.225889
3  0.845870       NaN  1.776342
4 -1.509945       NaN       NaN
5  0.416425       NaN       NaN

In [111]:
df.fillna(method='ffill')

          0         1         2
0  1.611782  1.495194 -0.595884
1 -0.573462 -0.106851 -0.526414
2 -0.914254 -0.106851 -0.225889
3  0.845870 -0.106851  1.776342
4 -1.509945 -0.106851  1.776342
5  0.416425 -0.106851  1.776342

In [112]:
df.fillna(method='ffill', limit=2)

          0         1         2
0  1.611782  1.495194 -0.595884
1 -0.573462 -0.106851 -0.526414
2 -0.914254 -0.106851 -0.225889
3  0.845870 -0.106851  1.776342
4 -1.509945       NaN  1.776342
5  0.416425       NaN  1.776342

With fillna you can do lots of other things with a little creativity. For example, you might pass the mean or median value of a Series:
<font color=Indigo>
通过fillna你还可以做很多其他的事情.例如,你可以传递一个平均值或中间值的Series

In [113]:
data = pd.Series([1., NA, 3.5, NA, 7])
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

See Table 7-2 for a reference on fillna.
<font color=Indigo>
关于fillna的参考,见表 7-2

Table 7-2. fillna function arguments

Argument|Description
:-|:-
value | Scalar value or dict-like object to use to fill missing values
method | Interpolation; by default 'ffill' if function called with no other arguments
axis | Axis to fill on; default axis=0
inplace | Modify the calling object without producing a copy
limit | For forward and backward filling, maximum number of consecutive periods to fill
-------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------

表 7-2. fillna 函数实参

实参|描述
:-|:-
value | 用于填充缺失值的标量值或类似字典的对象
method | 插值;如果函数调用没有其他参数，默认为“ffill”
axis | 根据轴来填充; 默认 axis=0
inplace | 在不生成副本的情况下修改调用对象
limit | 对于向前和向后填充，最大连续填充数量
-------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Data Transformation
<font color=Indigo>
数据转换

So far in this chapter we’ve been concerned with rearranging data. Filtering, cleaning,and other transformations are another class of important operations.
<font color=Indigo>
本章到目前为止，我们一直在关注重新排列数据。过滤、清理和其他转换是另一类重要的操作。

### Removing Duplicates
<font color=Indigo>
删除重复

Duplicate rows may be found in a DataFrame for any number of reasons. Here is an example:
<font color=Indigo>
可以在DataFrame中找到重复的行原因有很多。例如:

In [114]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

The DataFrame method duplicated returns a boolean Series indicating whether each row is a duplicate (has been observed in a previous row) or not:
<font color=Indigo>
DataFrame的duplicated方法返回一个布尔Series，指示每一行是否为重复的(与前一行做比较):

In [115]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

Relatedly, drop_duplicates returns a DataFrame where the duplicated array is False:
<font color=Indigo>
在重复的情况下，drop_duplicate会返回一个DataFrame，其中重复的数组为False(该行被丢弃):

In [116]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

Both of these methods by default consider all of the columns; alternatively, you can specify any subset of them to detect duplicates. Suppose we had an additional column of values and wanted to filter duplicates only based on the 'k1' column:
<font color=Indigo>
这两种方法都默认考虑所有列，您可以指定它们的任何子集来检测重复。假设我们有一个额外的值列，并且仅基于“k1”列来过滤重复项:

In [117]:
data['v1'] = range(7)
data.drop_duplicates(['k1'])

    k1  k2  v1
0  one   1   0
1  two   1   1

duplicated and drop_duplicates by default keep the first observed value combination. Passing keep='last' will return the last one:
<font color=Indigo>
默认情况下，duplicate的和drop_duplicate会保留第一个观测值的组合。通过keep='last'将返回最后一个:

In [118]:
data.drop_duplicates(['k1', 'k2'], keep='last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

### Transforming Data Using a Function or Mapping
<font color=Indigo>
使用函数或映射转换数据

For many datasets, you may wish to perform some transformation based on the values in an array, Series, or column in a DataFrame. Consider the following hypothetical data collected about various kinds of meat:
<font color=Indigo>
对于许多数据集，您可能希望根据数组、序列或DataFrame中的列的值执行一些转换。考虑以下有关各种肉类的数据:

In [119]:
data = pd.DataFrame({'food': ['bacon','pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'Pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     Pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

Suppose you wanted to add a column indicating the type of animal that each food came from. Let’s write down a mapping of each distinct meat type to the kind of animal:
<font color=Indigo>
假设您想添加一个列，指示每种食物来自于那些动物类型。让我们把每一种不同肉类的映射写在动物身上:

In [120]:
meat_to_animal = {
    'bacon': 'pig',
    'pulled pork': 'pig',
    'pastrami': 'cow',
    'corned beef': 'pig',
    'honey ham': 'pig',
    'nova lox': 'salmon'
}

The map method on a Series accepts a function or dict-like object containing a mapping,but here we have a small problem in that some of the meats are capitalized and others are not. Thus, we need to convert each value to lowercase using the str.lower Series method:
<font color=Indigo>
一个Series的map方法接受一个包含映射的函数或类似于dict的对象，但是这里我们有一个小问题，其中一些肉是大写的，而另一些不是。因此，我们需要使用str.lower方法将每个值转换为小写:

In [121]:
lowercased = data['food'].str.lower()
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [122]:
data['animal'] = lowercased.map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     pig
5        Bacon     8.0     pig
6     Pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

We could also have passed a function that does all the work:
<font color=Indigo>
我们还可以通过一个函数来完成所有的工作:

In [123]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       pig
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

Using map is a convenient way to perform element-wise transformations and other data cleaning–related operations.
<font color=Indigo>
使用map是执行元素化转换和其他数据清理相关操作的一种方便的方法。

### Replacing Values
<font color=Indigo>
替换值

Filling in missing data with the fillna method is a special case of more general value replacement. As you’ve already seen, map can be used to modify a subset of values in an object but replace provides a simpler and more flexible way to do so. Let’s consider this Series:
<font color=Indigo>
使用fillna方法填补缺失数据是特殊情况的下使用的更普通的值替换。正如您已经看到的，map可以用于修改对象中的值的子集，但是replace提供了一种更简单和更灵活的方法。让我们考虑一下这个系列:

In [124]:
data = pd.Series([1., -999., -999., -1000., 3.])
data

0       1.0
1    -999.0
2    -999.0
3   -1000.0
4       3.0
dtype: float64

The -999 values might be sentinel values for missing data. To replace these with NA values that pandas understands, we can use replace, producing a new Series (unless you pass inplace=True):
<font color=Indigo>
值-999可能是丢失数据的标记值。要用pandas能够理解的NA值来代替这些，我们可以用replace，生成一个新的Series(除非你通过inplace=True):

In [125]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       NaN
3   -1000.0
4       3.0
dtype: float64

If you want to replace multiple values at once, you instead pass a list and then the substitute value:
<font color=Indigo>
如果您想要同时替换多个值，则需要传递一个列表，和要替换的值:

In [126]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    NaN
3    NaN
4    3.0
dtype: float64

To use a different replacement for each value, pass a list of substitutes:
<font color=Indigo>
要使用不同的替换值，请通过一个替换列表:

In [127]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    NaN
3    0.0
4    3.0
dtype: float64

The argument passed can also be a dict:
<font color=Indigo>
参数传递也可以是一个dict:

In [128]:
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    NaN
3    0.0
4    3.0
dtype: float64

_The data.replace method is distinct from data.str.replace,which performs string substitution element-wise. We look at these string methods on Series later in the chapter._
<font color=Indigo>
_data.replace方法与data.str.replace方法不同，后者执行字符串元素替换。我们将在本章后面的Series中讨论这些字符串方法。_

### Renaming Axis Indexes
<font color=Indigo>
重命名轴索引

Like values in a Series, axis labels can be similarly transformed by a function or mapping of some form to produce new, differently labeled objects. You can also modify the axes in-place without creating a new data structure. Here’s a simple example:
<font color=Indigo>
与Series中的值一样，axis标签也可以通过某种形式的函数或映射进行类似的转换，以生成新的、不同标记的对象。您还可以在不创建新的数据结构的情况下修改坐标轴。下面是一个简单的例子:

In [129]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=['Ohio', 'Colorado', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

Like a Series, the axis indexes have a map method:
<font color=Indigo>
与系列一样，axis索引也有一个map方法:

In [130]:
transform = lambda x: x[:4].upper()
data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

You can assign to index, modifying the DataFrame in-place:
<font color=Indigo>
你可以就地修改DataFrame的索引：

In [131]:
data.index = data.index.map(transform)
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

If you want to create a transformed version of a dataset without modifying the original,a useful method is rename:
<font color=Indigo>
如果您想要在不修改原始数据的情况下创建一个已转换的数据集，那么一个有用的方法是raname:

In [132]:
data.rename(index=str.title, columns=str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

Notably, rename can be used in conjunction with a dict-like object providing new values for a subset of the axis labels:
<font color=Indigo>
值得注意的是，重命名可以与一个类似于字典的对象一起使用，为axis标签的子集提供新的值:

In [133]:
data.rename(index={'OHIO': 'INDIANA'},
            columns={'three': 'peekaboo'})

         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

rename saves you from the chore of copying the DataFrame manually and assigning to its index and columns attributes. Should you wish to modify a dataset in-place,pass inplace=True:
<font color=Indigo>
rename将你从手动复制DataFrame并分配到其索引和列属性的繁琐工作中解脱出来。如果您希望原地修改数据集，请通过inplace=True:

In [134]:
data.rename(index={'OHIO': 'INDIANA'}, inplace=True)
data

         one  two  three  four
INDIANA    0    1      2     3
COLO       4    5      6     7
NEW        8    9     10    11

### Discretization and Binning
<font color=Indigo>
离散化和装箱

Continuous data is often discretized or otherwise separated into “bins” for analysis. Suppose you have data about a group of people in a study, and you want to group them into discrete age buckets:
<font color=Indigo>
连续的数据经常被离散化，或者被分割成“bins”用于分析。假设你有一组研究人员的数据，你想把他们分组到离散的年龄阶段:

In [135]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

Let’s divide these into bins of 18 to 25, 26 to 35, 36 to 60, and finally 61 and older. To do so, you have to use cut, a function in pandas:
<font color=Indigo>
我们把这些分成18到25，26到35，36到60，61和最后的bins。为了实现这一目的，你必须使用pandas的功能:

In [136]:
bins = [18, 25, 35, 60, 100]
cats = pd.cut(ages, bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

The object pandas returns is a special `Categorical` object. The output you see describes the bins computed by `pandas.cut`. You can treat it like an array of strings indicating the bin name; internally it contains a `categories` array specifying the distinct category names along with a labeling for the `ages` data in the `codes` attribute:
<font color=Indigo>
pandas返回的对象是一个特殊的Categorical对象。你看的输出描述了pandas.cut计算的bins。你可以把它当作一个字符串数组来表示这个箱子的名字；在内部，它包含一个Categorical数组，指定了不同类别的名称，以及codes属性中ages数据的标签:

In [137]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [138]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]]
              closed='right',
              dtype='interval[int64]')

In [139]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

Note that pd.value_counts(cats) are the bin counts for the result of pandas.cut.
<font color=Indigo>
请注意，pd.value_consts(cats)是pandas.cut的结果。

Consistent with mathematical notation for intervals, a parenthesis means that the side is open, while the square bracket means it is closed (inclusive). You can change which side is closed by passing right=False:
<font color=Indigo>
与区间的数学符号一致，圆括号表示边是开发的，而方括号表示它是闭合的(包含)。你可以通过传递right=False来改变哪一侧是闭合的。

In [140]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

You can also pass your own bin names by passing a list or array to the labels option:
<font color=Indigo>
您还可以通过将一个列表或数组传递给标签选项来指定bin的自定义名称:

In [141]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']

In [142]:
pd.cut(ages, bins, labels=group_names)

[Youth, Youth, Youth, YoungAdult, Youth, ..., YoungAdult, Senior, MiddleAged, MiddleAged, YoungAdult]
Length: 12
Categories (4, object): [Youth < YoungAdult < MiddleAged < Senior]

If you pass an integer number of bins to cut instead of explicit bin edges, it will compute equal-length bins based on the minimum and maximum values in the data. Consider the case of some uniformly distributed data chopped into fourths:
<font color=Indigo>
如果您传递一个整数的输出数据分段，而不是显式的边界，它将根据数据的最小值和最大值来计算等长度的容器。考虑一下将一些均匀分布数据分成四份:

In [143]:
data = np.random.rand(20)
pd.cut(data, 4, precision=2)

[(0.3, 0.49], (0.11, 0.3], (0.11, 0.3], (0.69, 0.88], (0.69, 0.88], ..., (0.3, 0.49], (0.69, 0.88], (0.3, 0.49], (0.3, 0.49], (0.11, 0.3]]
Length: 20
Categories (4, interval[float64]): [(0.11, 0.3] < (0.3, 0.49] < (0.49, 0.69] < (0.69, 0.88]]

The precision=2 option limits the decimal precision to two digits.
<font color=Indigo>
precision=2 的设置是将十进制精度限制为两位数

A closely related function, qcut, bins the data based on sample quantiles. Depending on the distribution of the data, using cut will not usually result in each bin having the same number of data points. Since qcut uses sample quantiles instead, by definition you will obtain roughly equal-size bins:
<font color=Indigo>
还有一个类似的函数qcut，它让bins的数量基于样本的数量。根据数据的分布情况，使用cut通常不会导致每个bins拥有相同数量的数据点。由于qcut使用的是样本数量，根据定义，你将得到大致相同大小的bins:

In [144]:
data = np.random.randn(1000) # Normally distributed
cats = pd.qcut(data, 4) # Cut into quartiles
cats

[(-0.00331, 0.681], (-0.701, -0.00331], (-0.00331, 0.681], (-3.32, -0.701], (-0.00331, 0.681], ..., (-3.32, -0.701], (0.681, 3.042], (0.681, 3.042], (-3.32, -0.701], (0.681, 3.042]]
Length: 1000
Categories (4, interval[float64]): [(-3.32, -0.701] < (-0.701, -0.00331] < (-0.00331, 0.681] < (0.681, 3.042]]

In [145]:
pd.value_counts(cats)

(0.681, 3.042]        250
(-0.00331, 0.681]     250
(-0.701, -0.00331]    250
(-3.32, -0.701]       250
dtype: int64

Similar to cut you can pass your own quantiles (numbers between 0 and 1, inclusive):
<font color=Indigo>
与cut类似，你可以传递自定义的数量(数字在0和1之间，包括1):

In [146]:
pd.qcut(data,[0, 0.1, 0.5, 0.9, 1.])

[(-0.00331, 1.303], (-1.257, -0.00331], (-0.00331, 1.303], (-3.32, -1.257], (-0.00331, 1.303], ..., (-1.257, -0.00331], (-0.00331, 1.303], (1.303, 3.042], (-3.32, -1.257], (1.303, 3.042]]
Length: 1000
Categories (4, interval[float64]): [(-3.32, -1.257] < (-1.257, -0.00331] < (-0.00331, 1.303] < (1.303, 3.042]]

We’ll return to cut and qcut later in the chapter during our discussion of aggregation and group operations, as these discretization functions are especially useful for quantile and group analysis.
<font color=Indigo>
在后面的章节讨论聚合和组操作时，我们将再次讨论cut和qcut，因为这些离散化功能对于分位数和组分析特别有用。

### Detecting and Filtering OutLiers
<font color=Indigo>
检测和过滤异常值

Filtering or transforming outliers is largely a matter of applying array operations. Consider a DataFrame with some normally distributed data:
<font color=Indigo>
过滤或转换异常值很大程度上是应用数组操作的事件。考虑一个带有一些正态分布数据的DataFrame:

In [147]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.020603     0.017956    -0.067361    -0.013511
std       0.998766     1.004860     0.978848     1.008499
min      -3.281364    -3.000969    -3.276221    -3.318743
25%      -0.652954    -0.687180    -0.683420    -0.675505
50%       0.005514     0.017229    -0.082166    -0.006944
75%       0.641777     0.706443     0.597889     0.684915
max       3.068458     3.655900     3.211061     3.358179

Suppose you wanted to find values in one of the columns exceeding 3 in absolute value:
<font color=Indigo>
假设您希望在一列中找到绝对值大于3的值:

In [148]:
col = data[2]
col[np.abs(col) > 3]

378   -3.112522
389   -3.046698
447   -3.276221
904    3.211061
Name: 2, dtype: float64

To select all rows having a value exceeding 3 or –3, you can use the `any` method on a boolean DataFrame:
<font color=Indigo>
要选择值超过3或-3的所有行，您可以使用布尔DataFrame上的any方法:

In [149]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
20   3.022926 -0.788756  1.626956  0.061115
47  -0.453601  3.077586  1.949381  0.622411
99  -3.056703 -1.479299 -0.303498  1.233774
142 -3.281364  0.515165  1.076038 -0.745703
165  1.238132 -0.547220 -0.309611 -3.221931
..        ...       ...       ...       ...
594 -0.771193 -0.807736 -0.927539  3.358179
666  1.736988 -3.000969 -0.435107  1.845834
752  0.430175 -0.077751 -0.303173 -3.278156
778 -3.033938  0.604609  0.000497 -0.528659
904  1.470758  0.453344  3.211061 -0.957744

[17 rows x 4 columns]

Values can be set based on these criteria. Here is code to cap values outside the interval –3 to 3:
<font color=Indigo>
可以根据这些标准来设置值。下面的代码是在区间-3到3的范围外设置值:

In [150]:
data[np.abs(data) > 3] = np.sign(data) * 3
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.020322     0.017182    -0.067137    -0.013051
std       0.997333     1.002332     0.976809     1.004816
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.652954    -0.687180    -0.683420    -0.675505
50%       0.005514     0.017229    -0.082166    -0.006944
75%       0.641777     0.706443     0.597889     0.684915
max       3.000000     3.000000     3.000000     3.000000

The statement np.sign(data) produces 1 and –1 values based on whether the values in data are positive or negative:
<font color=Indigo>
语句np.sign(data)根据数据的值的正负，设置1和-1:

In [151]:
np.sign(data).head()

     0    1    2    3
0 -1.0 -1.0 -1.0  1.0
1 -1.0 -1.0 -1.0  1.0
2 -1.0 -1.0  1.0  1.0
3 -1.0 -1.0  1.0 -1.0
4  1.0 -1.0 -1.0  1.0

### Permutation and Random Sampling
<font color=Indigo>
排列和随机抽样

Permuting (randomly reordering) a Series or the rows in a DataFrame is easy to do using the numpy.random.permutation function. Calling permutation with the length of the axis you want to permute produces an array of integers indicating the new ordering:
<font color=Indigo>
使用numpy.random.permutation函数在DataFrame中交换（随机重新排序）一个序列或行非常简单。用你想要的轴的长度来调用permutation，会产生一系列的整数，来表示新的排序结果

In [152]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [153]:
sampler = np.random.permutation(5)
sampler

array([3, 4, 2, 1, 0])

That array can then be used in iloc-based indexing or the equivalent take function:
<font color=Indigo>
然后，该数组可以被用于基于iloc索引的或等效的take函数:

In [154]:
df.take(sampler)

    0   1   2   3
3  12  13  14  15
4  16  17  18  19
2   8   9  10  11
1   4   5   6   7
0   0   1   2   3

To select a random subset without replacement, you can use the sample method on Series and DataFrame:
<font color=Indigo>
要选择一个没有置换的随机子集，您可以使用Series和DataFrame的sample方法:

In [155]:
df.sample(n=3)

    0   1   2   3
3  12  13  14  15
1   4   5   6   7
4  16  17  18  19

To generate a sample with replacement (to allow repeat choices), pass replace=True to sample:
<font color=Indigo>
为了生成一个置换样例(允许重复选择)，可以通过replace=True:

In [156]:
choices = pd.Series([5, 7, -1, 6, 4])
draws = choices.sample(n=10, replace=True)
draws

0    5
3    6
3    6
0    5
0    5
3    6
1    7
1    7
2   -1
1    7
dtype: int64

### Computing Indicator/Dummy Variables
<font color=Indigo>
计算指示器/虚拟变量

Another type of transformation for statistical modeling or machine learning applications is converting a categorical variable into a “dummy” or “indicator” matrix. If a column in a DataFrame has k distinct values, you would derive a matrix or Data‐ Frame with k columns containing all 1s and 0s. pandas has a get_dummies function for doing this, though devising one yourself is not difficult. Let’s return to an earlier example DataFrame:
<font color=Indigo>
另一种用于统计建模或机器学习应用程序的转化是将一个分类变量转换为一个“虚拟”或“指示器”矩阵。如果DataFrame中的一个列有k个不同的值，那么您将得到一个包含所有1和0的k列的矩阵或数据框架。pandas有一个get-dummies函数来做这个，尽管你自己设计一个也不难。让我们回到一个更早的例子DataFrame:

In [157]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})
df

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b

In [158]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In some cases, you may want to add a prefix to the columns in the indicator Data‐ Frame, which can then be merged with the other data. get_dummies has a prefix argument for doing this:
<font color=Indigo>
在某些情况下，您可能想要在指示器数据框架中添加一个前缀，然后可以与其他数据合并。get_dummies有这样做的前缀参数:

In [159]:
dummies = pd.get_dummies(df['key'], prefix='key')
df_with_dummy = df[['data1']].join(dummies)
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

If a row in a DataFrame belongs to multiple categories, things are a bit more complicated. Let’s look at the MovieLens 1M dataset, which is investigated in more detail in Chapter 14:
<font color=Indigo>
如果DataFrame中的一行有多个类别，那么事情就有点复杂了。让我们看一下包含100万数据集的MovieLens，它在第14章中会更详细地研究：

In [160]:
mnames = ['movie_id', 'title', 'genres']

In [161]:
movies = pd.read_table('D:/git_pydata/datasets/movielens/movies.dat', sep='::',
                        header=None, names=mnames, engine='python')
movies[:10]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

Adding indicator variables for each genre requires a little bit of wrangling. First, we extract the list of unique genres in the dataset:
<font color=Indigo>
我们为每种类型添加指示器变量。首先，我们提取数据集中惟一类型的列表:

In [162]:
all_genres = []
for x in movies.genres:
    all_genres.extend(x.split('|'))
genres = pd.unique(all_genres)
genres

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

One way to construct the indicator DataFrame is to start with a DataFrame of all zeros:
<font color=Indigo>
构造DataFrame指示器的一种方法是从一个全部为0的DataFrame开始:

In [163]:
zero_matrix = np.zeros((len(movies), len(genres)))
dummies = pd.DataFrame(zero_matrix, columns=genres)
dummies.head()

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Now, iterate through each movie and set entries in each row of dummies to 1. To do this, we use the dummies.columns to compute the column indices for each genre:
<font color=Indigo>
现在，遍历每个电影，并在每一行的dummies中设置条目1。为了做到这一点，我们使用dummies.columns，用于计算每种类型的列索引:

In [164]:
gen = movies.genres[0]
gen.split('|')

['Animation', "Children's", 'Comedy']

In [165]:
dummies.columns.get_indexer(gen.split('|'))

array([0, 1, 2], dtype=int32)

Then, we can use .iloc to set values based on these indices:
<font color=Indigo>
然后，我们可以使用.iloc以这些指数为基础设置值:

In [166]:
for i, gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i, indices] = 1

Then, as before, you can combine this with movies:
<font color=Indigo>
然后，就像以前一样，你可以把它和电影结合起来:

In [167]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))
movies_windic.iloc[0]

movie_id                                      1
title                          Toy Story (1995)
genres              Animation|Children's|Comedy
Genre_Animation                               1
Genre_Children's                              1
                               ...
Genre_War                                     0
Genre_Musical                                 0
Genre_Mystery                                 0
Genre_Film-Noir                               0
Genre_Western                                 0
Name: 0, Length: 21, dtype: object

__For much larger data, this method of constructing indicator variables with multiple membership is not especially speedy. It would be better to write a lower-level function that writes directly to a NumPy array, and then wrap the result in a DataFrame.__
<font color=Indigo>
对于更大的数据，这种构造具有多个成员的指示器变量的方法并不是特别快。最好是编写一个直接写入NumPy数组的低级函数，然后将结果封装到一个DataFrame中。

A useful recipe for statistical applications is to combine get_dummies with a discretization function like cut:
<font color=Indigo>
对于统计应用程序来说，一个有用的方法是将get_dummies和一个类似cut的离散化函数结合起来:

In [168]:
np.random.seed(12345)
values = np.random.rand(10)
values

array([ 0.92961609,  0.31637555,  0.18391881,  0.20456028,  0.56772503,
        0.5955447 ,  0.96451452,  0.6531771 ,  0.74890664,  0.65356987])

In [169]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

We set the random seed with numpy.random.seed to make the example deterministic.We will look again at pandas.get_dummies later in the book.
<font color=Indigo>
我们用numpy.random.seed设置随机种子，使范例具有确定性。在本书的后面，我们再来看pandas.get_dummies。

## String Manipulation
<font color=Indigo>
字符串操作

Python has long been a popular raw data manipulation language in part due to its ease of use for string and text processing. Most text operations are made simple with the string object’s built-in methods. For more complex pattern matching and text manipulations, regular expressions may be needed. pandas adds to the mix by enabling you to apply string and regular expressions concisely on whole arrays of data, additionally handling the annoyance of missing data.
<font color=Indigo>
Python一直以来都是受欢迎的原始数据处理语言，部分原因是它易于使用字符串和文本处理。大多数文本操作都是通过字符串对象的内置方法进行的。对于更复杂的模式匹配和文本操作，可能需要正则表达式。pandas的加入使你可以在整个数据数组中精确地应用字符串和正则表达式，同时处理烦人的缺失数据。

### String Object Methods
<font color=Indigo>
字符串对象的方法

In many string munging and scripting applications, built-in string methods are sufficient.As an example, a comma-separated string can be broken into pieces with split:
<font color=Indigo>
在许多字符串和脚本应用程序中，内置的字符串方法是足够的。例如，一个逗号分隔符，可以将字符串可以分成几部分:

In [170]:
val = 'a,b,  guido'
val.split(',')

['a', 'b', '  guido']

split is often combined with strip to trim whitespace (including line breaks):
<font color=Indigo>
split经常和strip一起使用，来去除空格（包括换行符）：

In [171]:
pieces = [x.strip() for x in val.split(',')]
pieces

['a', 'b', 'guido']

These substrings could be concatenated together with a two-colon delimiter using addition:
<font color=Indigo>
这些子字符串可以通过添加两个冒号分隔符连接在一起:

In [172]:
first, second, third = pieces
first + '::' + second + '::' + third

'a::b::guido'

But this isn’t a practical generic method. A faster and more Pythonic way is to pass a list or tuple to the join method on the string '::':
<font color=Indigo>
但这不是一个实际的通用方法。更快、更Pythonic的方法是将列表或元组传递给字符串'::':

In [173]:
'::'.join(pieces)

'a::b::guido'

Other methods are concerned with locating substrings. Using Python’s in keyword is the best way to detect a substring, though index and find can also be used:
<font color=Indigo>
其他方法涉及到定位子字符串。使用Python中的`in`关键字是检测子字符串的最好方法，尽管`index`和`find`也可以使用:

In [174]:
'guido' in val

True

In [175]:
val.index(',')

1

In [176]:
val.find(':')

-1

Note the difference between find and index is that index raises an exception if the string isn’t found (versus returning –1):
<font color=Indigo>
注意，find和index的区别在于，如果没有找到字符串find会返回-1，index会引发异常。

Relatedly, count returns the number of occurrences of a particular substring:
<font color=Indigo>
相应地，count返回特定子字符串出现的次数:

In [177]:
val.count(',')

2

replace will substitute occurrences of one pattern for another. It is commonly used to delete patterns, too, by passing an empty string:
<font color=Indigo>
replace将一个样式替换为另一个样式。它通常也被用来删除样式（通过传递一个空字符串）：

In [178]:
val.replace(',', '::')

'a::b::  guido'

In [179]:
val.replace(',', '')

'ab  guido'

See Table 7-3 for a listing of some of Python’s string methods.
<font color=Indigo>
见表 7-3 列出了Python的一些字符串方法。

Regular expressions can also be used with many of these operations, as you’ll see.
<font color=Indigo>
正则表达式也可以用于许多操作，如您所见。

Table 7-3. Python built-in string methods

Argument|Description
:-|:-
count | Return the number of non-overlapping occurrences of substring in the string.
endswith | Returns True if string ends with suffix.
startswith | Returns True if string starts with prefix.
join | Use string as delimiter for concatenating a sequence of other strings.
index | Return position of first character in substring if found in the string; raises ValueError if not found.
find | Return position of first character of first occurrence of substring in the string; like index, but returns –1 if not found.
rfind | Return position of first character of last occurrence of substring in the string; returns –1 if not found.
replace | Replace occurrences of string with another string.
strip,rstrip,lstrip | Trim whitespace, including newlines; equivalent to x.strip() (and rstrip, lstrip, respectively) for each element.
split | Break string into list of substrings using passed delimiter.
lower | Convert alphabet characters to lowercase.
upper | Convert alphabet characters to uppercase.
casefold | Convert characters to lowercase, and convert any region-specific variable character combinations to a common comparable form.
ljust,rjust | Left justify or right justify, respectively; pad opposite side of string with spaces (or some other fill character) to return a string with a minimum width.
|------------------------------------------------------------------------------------------------------------------------------------------------------------

<font color=Indigo>
表 7-3. Python内置的字符串的方法

实参|描述
:-|:-
count | 返回字符串中不重叠的子字符串的数量。
endswith | 如果字符串以后缀结尾，则返回True。
startswith | 如果字符串以前缀开始，返回True。
join | 将字符串作为分隔符用于连接其他字符串的序列。
index | 返回在字符串中找到的第一个字符的位置;如果没有发现，会引发ValueError。
find | 返回字符串中第一次出现子串的位置;与索引相似，但如果没有找到，则返回-1。
rfind | 返回字符串中最后出现的子串的位置;如果没有找到，返回-1。
replace | 用另一个字符串替换字符串。
strip,rstrip,lstrip | 对于每个元素修剪空白字符,包括换行符;相当于x.strip()(x.rstrip()，x.lstrip())。
split | 使用传递的分隔符将字符串分解为子字符串列表。
lower | 将字母字符转换为小写字母。
upper | 将字母字符转换为大写字母。
casefold | 将字符转换为小写字母；并将任何特定于寄存器的变量组合转换成一个通用的可比较形式。
ljust,rjust | 分别为左对齐或右对齐；用空格(或其他填充字符)对字符串的另一侧进行填充，以返回具有最小宽度的字符串。
|------------------------------------------------------------------------------------------------------------------------------------------------------------

### Regular Expressions
<font color=Indigo>
正则表达式

Regular expressions provide a flexible way to search or match (often more complex) string patterns in text. A single expression, commonly called a regex, is a string formed according to the regular expression language. Python’s built-in re module is responsible for applying regular expressions to strings; I’ll give a number of examples of its use here.
<font color=Indigo>
正则表达式提供了一种灵活的方式来搜索或匹配文本中的字符串(通常更复杂)。单个表达式，通常称为正则表达式，是根据正则表达式语言形成的字符串。Python内置的re模块负责将正则表达式应用于字符串;在这里我将给出一些例子。

__The art of writing regular expressions could be a chapter of its own and thus is outside the book’s scope. There are many excellent tutorials and references available on the internet and in other books.__
<font color=Indigo>
写正则表达式的内容可能自成一章，因此超出了书的范围。在互联网和其他书籍中，有许多优秀的教程和参考资料。

The re module functions fall into three categories: pattern matching, substitution, and splitting. Naturally these are all related; a regex describes a pattern to locate in the text, which can then be used for many purposes. Let’s look at a simple example:
<font color=Indigo>
re模块的功能分为三类:模式匹配、替换和分割。当然这些都是相关的;正则表达式描述了在文本中定位的模式，该模式可用于许多用途。让我们来看一个简单的例子:

suppose we wanted to split a string with a variable number of whitespace characters (tabs, spaces, and newlines). The regex describing one or more whitespace characters is \s+:
<font color=Indigo>
假设我们想要用一个可变的空格字符(制表符、空格和换行符)来分割一个字符串。描述一个或多个空格字符的正则表达式是s+:

In [180]:
import re

In [181]:
text = 'foo   bar\t baz  \tqux'

In [182]:
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

When you call `re.split('\s+', text)`, the regular expression is first compiled, and then its `split` method is called on the passed text. You can compile the regex yourself with `re.compile`, forming a reusable `regex` object:
<font color=Indigo>
当调用`re.split('\s+', text)`时，正则表达式首先被编译，然后它的`split`方法被调用，作用于传进来的文本上。您可以使用`re.compile`编译正则表达式，形成一个可重用的`regex`对象:

In [183]:
regex = re.compile('\s+')

In [184]:
regex.split(text)

['foo', 'bar', 'baz', 'qux']

If, instead, you wanted to get a list of all patterns matching the regex, you can use the findall method:
<font color=Indigo>
相反，如果您想要获得匹配正则表达式的所有模式的列表，那么可以使用findall方法

In [185]:
regex.findall(text)

['   ', '\t ', '  \t']

To avoid unwanted escaping with \ in a regular expression, use raw string literals like `r'C:\x'` instead of the equivalent `'C:\\x'`.
<font color=Indigo>
为了避免在正则表达式中出现不必要的转义，使用像`r'C:\x'`这样的原始字符串，而不是等价的`'C:\\x'`。

__Creating a regex object with `re.compile` is highly recommended if you intend to apply the same expression to many strings; doing so will save CPU cycles.__
<font color=Indigo>
如果打算对许多字符串应用相同的表达式，则强烈建议使用`re.compile`创建一个`regex`对象。这样做可以节省CPU开销。

`match` and `search` are closely related to `findall`. While findall returns all matches in a string, search returns only the first match. More rigidly, `match` only matches at the beginning of the string. As a less trivial example, let’s consider a block of text and a regular expression capable of identifying most email addresses:
<font color=Indigo>
`match` 和 `search`与`findall`密切相关。当findall在一个字符串中返回所有匹配结果时，搜索只返回第一个匹配项。更严格地说，`match`只匹配字符串开头的字符串项。让我们考虑一个文本块和一个能够识别大多数电子邮件地址的正则表达式:

In [186]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""

In [187]:
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [188]:
# re.IGNORECASE makes the regex case-insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)

Using `findall` on the text produces a list of the email addresses:
<font color=Indigo>
在文本中使用`findall`生成一个电子邮件地址列表:

In [189]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

`search` returns a special match object for the first email address in the text. For the preceding regex, the match object can only tell us the start and end position of the pattern in the string:
<font color=Indigo>
`search`返回文本中第一个电子邮件地址的特殊匹配对象。对于前面的正则表达式，匹配对象只能告诉我们字符串中部分的开始和结束位置:

In [190]:
m = regex.search(text)
m

In [191]:
text[m.start(): m.end()]

'dave@google.com'

`regex.match` returns None, as it only will match if the pattern occurs at the start of the string:
<font color=Indigo>
`regex.match`返回None，因为只有在字符串的开始出现的时候，模式才会匹配。

In [192]:
print(regex.match(text))

None

Relatedly, `sub` will return a new string with occurrences of the pattern replaced by the a new string:
<font color=Indigo>
相应地，`sub`将返回一个新的字符串，原字符串将被传如的字符串替换为新字符串:

In [193]:
print(regex.sub('REDACTED', text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

Suppose you wanted to find email addresses and simultaneously segment each address into its three components: username, domain name, and domain suffix. To do this, put parentheses around the parts of the pattern to segment:
<font color=Indigo>
假设您想要查找电子邮件地址，并同时将每个地址分成三个组件:用户名、域名和域名后缀。要做到这一点，需要在模式的各个部分上加上括号:

In [194]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'

In [195]:
regex = re.compile(pattern, flags=re.IGNORECASE)

A match object produced by this modified regex returns a tuple of the pattern components with its `groups` method:
<font color=Indigo>
这个修改后的正则表达式产生的匹配对象,返回模式组件的一个元组，它的`groups`方法是:

In [196]:
m = regex.match('wesm@bright.net')

In [197]:
m.groups()

('wesm', 'bright', 'net')

findall returns a list of tuples when the pattern has groups:
<font color=Indigo>
当模式存在时，findall返回一个元组列表。

In [198]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

`sub` also has access to groups in each match using special symbols like `\1` and `\2`. The symbol `\1` corresponds to the first matched group, `\2` corresponds to the second, and so forth:
<font color=Indigo>
`sub`也可以使用像`\1`和`\2`这样的特殊符号来访问每一组。符号`\1`对应于第一个匹配的组，`\2`对应于第二个，以此类推:

In [199]:
print(regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text))

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: yahoo, Suffix: com

There is much more to regular expressions in Python, most of which is outside the book’s scope. Table 7-4 provides a brief summary.
<font color=Indigo>
在Python中有更多的正则表达式，其中大多数都超出了本书的范围。表7-4提供了一个简短的摘要。

Table 7-4. Regular expression methods

Argument|Description
:-|:-
findall | Return all non-overlapping matching patterns in a string as a list
finditer | Like findall, but returns an iterator
match | Match pattern at start of string and optionally segment pattern components into groups; if the pattern matches, returns a match object, and otherwise None
search | Scan string for match to pattern; returning a match object if so; unlike match, the match can be anywhere in the string as opposed to only at the beginning
split | Break string into pieces at each occurrence of pattern
sub, subn | Replace all (sub) or first n occurrences (subn) of pattern in string with replacement expression; use symbols \1, \2, ... to refer to match group elements in the replacement string
|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

表 7-4. 正则表达式的方法

实参|描述
:-|:-
findall | 将字符串中的所有非重叠匹配模式作为列表返回
finditer | 和findall一样，但是返回一个迭代器
match | 在字符串开始时匹配模式，并可选地将模式组件分成组;如果模式匹配，则返回一个匹配对象，否则将返回None
search | 扫描字符串匹配模式;如果有，返回一个匹配对象;与match不同的是，匹配可以是字符串中的任何位置，而不是在开始的时候
split | 在每次出现模式时将字符串分解为各个部分
sub, subn | 在字符串中替换所有(子)或第n次出现的模式(子n);使用符号1、2、……在替换字符串中引用按组匹配元素
|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### Vectorized String Functions in pandas
<font color=Indigo>
pandas的矢量化字符串函数

Cleaning up a messy dataset for analysis often requires a lot of string munging and regularization. To complicate matters, a column containing strings will sometimes have missing data:
<font color=Indigo>
分析数据时，清理一个混乱的数据集通常需要大量的字符串处理和规范化。更复杂的是，包含字符串的列有时会缺少数据:

In [200]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}

In [201]:
data = pd.Series(data)
data

Dave     dave@google.com
Rob        rob@gmail.com
Steve    steve@gmail.com
Wes                  NaN
dtype: object

In [202]:
data.isnull()

Dave     False
Rob      False
Steve    False
Wes       True
dtype: bool

You can apply string and regular expression methods can be applied (passing a `lambda` or other function) to each value using `data.map`, but it will fail on the NA (null) values. To cope with this, Series has array-oriented methods for string operations that skip NA values. These are accessed through Series’s `str` attribute; for example, we could check whether each email address has `'gmail'` in it with `str.contains`:
<font color=Indigo>
可以使用`data.map`对每个值应用字符串和正则表达式方法(将lambda或其他函数传递给每个值)。映射，但是它将在NA(null)值上失效。为了解决这个问题，Series有一个面向数组的方法，用于跳过这些NA值。通过Series的str属性访问这些数据;例如，我们可以使用`str.contains`检查每个电子邮件地址是否有“gmail”。

In [203]:
data.str.contains('gmail')

Dave     False
Rob       True
Steve     True
Wes        NaN
dtype: object

Regular expressions can be used, too, along with any `re` options like `IGNORECASE`:
<font color=Indigo>
正则表达式也可以使用，以及任何`re`参数，类似于 `IGNORECASE`:

In [204]:
pattern

'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'

In [205]:
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Rob        [(rob, gmail, com)]
Steve    [(steve, gmail, com)]
Wes                        NaN
dtype: object

There are a couple of ways to do vectorized element retrieval. Either use `str.get` or `index` into the `str` attribute:
<font color=Indigo>
有两种方法可以进行矢量检索。可以使用`str.get`或`index`访问`str`属性:

In [206]:
matches = data.str.match(pattern, flags=re.IGNORECASE)
matches

Dave     True
Rob      True
Steve    True
Wes       NaN
dtype: object

To access elements in the embedded lists, we can pass an index to either of these functions:
<font color=Indigo>
要访问嵌入列表中的元素，我们可以将一个索引传递给以下两个函数:

In [207]:
matches.str.get(1)

Dave    NaN
Rob     NaN
Steve   NaN
Wes     NaN
dtype: float64

In [208]:
matches.str[0]

Dave    NaN
Rob     NaN
Steve   NaN
Wes     NaN
dtype: float64

You can similarly slice strings using this syntax:
<font color=Indigo>
您也可以使用以下语法对字符串进行类似的切片:

In [209]:
data.str[:5]

Dave     dave@
Rob      rob@g
Steve    steve
Wes        NaN
dtype: object

See Table 7-5 for more pandas string methods.
<font color=Indigo>
参见表7-5，以获得更多的pandas字符串方法。

Table 7-5. Partial listing of vectorized string methods

Method|Description
:-|:-
cat | Concatenate strings element-wise with optional delimiter
contains | Return boolean array if each string contains pattern/regex
count | Count occurrences of pattern
extract | Use a regular expression with groups to extract one or more strings from a Series of strings; the result will be a DataFrame with one column per group
endswith | Equivalent to x.endswith(pattern) for each element
startswith | Equivalent to x.startswith(pattern) for each element
findall | Compute list of all occurrences of pattern/regex for each string
get | Index into each element (retrieve i-th element)
isalnum | Equivalent to built-in str.alnum
isalpha | Equivalent to built-in str.isalpha
isdecimal | Equivalent to built-in str.isdecimal
isdigit | Equivalent to built-in str.isdigit
islower | Equivalent to built-in str.islower
isnumeric | Equivalent to built-in str.isnumeric
isupper | Equivalent to built-in str.isupper
join | Join strings in each element of the Series with passed separator
len | Compute length of each string
lower, upper | Convert cases; equivalent to x.lower() or x.upper() for each element
match | Use re.match with the passed regular expression on each element, returning matched groups as list
pad | Add whitespace to left, right, or both sides of strings
center | Equivalent to pad(side='both')
repeat | Duplicate values (e.g., s.str.repeat(3) is equivalent to x * 3 for each string)
replace | Replace occurrences of pattern/regex with some other string
slice | Slice each string in the Series
split | Split strings on delimiter or regular expression
strip | Trim whitespace from both sides, including newlines
rstrip | Trim whitespace on right side
lstrip | Trim whitespace on left side
|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------

表 7-5. 部分矢量化方法的列表

方法|描述
:-|:-
cat | 使用可选的分隔符连接字符串元素
contains | 如果每个字符串包含pattern/regex，那么返回布尔数组
count | 对模式计数
extract | 使用一个正则表达式来从Series中提取一个或多个字符串;结果将是一个DataFrame，每个组有一个列
endswith | 对应每个元素的x.endswith(模式)
startswith | 对应每个元素的x.startswith(模式)
findall | 计算每个字符串的pattern/regex的所有事件列表
get | 对每个元素进行索引(检索i-th元素)
isalnum | 相当于内置str.alnum
isalpha | 相当于内置str.isalpha
isdecimal | 相当于内置str.isdecimal
isdigit | 相当于内置str.isdigit
islower | 相当于内置str.islower
isnumeric | 相当于内置str.isnumeric
isupper | 相当于内置str.isupper
join | 在这个系列的每个元素中加入字符串
len | 每个字符串的计算长度
lower, upper | 转换大小写;相当于对每个元素应用x.lower() or x.upper()
match | 通过传递正则表达式，在每个元素上使用re.match，返回匹配的组作为列表
pad | 将空白添加到左、右或字符串的两端
center | 相当于 pad(side='both')
repeat | 重复值(例如，s.str.repeat(3)相当于每个字符串的`x * 3`)
replace | 用其他字符串替换pattern/regex
slice | 在Series中对每个字符串进行切片
split | 在通过delimiter或regula拆分字符串
strip | 修剪空格，包括换行
rstrip | 修剪右侧的空格
lstrip | 修剪左侧的空格
|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Conclusion
<font color=Indigo>
结论

Effective data preparation can significantly improve productive by enabling you to spend more time analyzing data and less time getting it ready for analysis. We have explored a number of tools in this chapter, but the coverage here is by no means comprehensive.In the next chapter, we will explore pandas’s joining and grouping functionality.
<font color=Indigo>
有效的数据准备工作可以显著地提高工作效率，使您能够使你花费更多的时间用于分析数据，准备数据的工作将花费更少的时间。我们在这一章已经探讨了许多工具，但是这里的覆盖并不全面。在下一章中，我们将探讨pandas的joining和grouping功能。

# Data Wrangling:Join,Combine,and Reshape
<font color=Indigo>
数据规整化：连接，合并和重塑

In many applications, data may be spread across a number of files or databases or be arranged in a form that is not easy to analyze. This chapter focuses on tools to help combine, join, and rearrange data.
<font color=Indigo>
在许多应用程序中，数据可能分布在许多文件或数据库中，或者以不易分析的形式进行排列。本章重点介绍了帮助组合、连接和重新排列数据的工具。

First, I introduce the concept of hierarchical indexing in pandas, which is used extensively in some of these operations. I then dig into the particular data manipulations. You can see various applied usages of these tools in Chapter 14.
<font color=Indigo>
首先，我介绍了pandas的hierarchical indexing的概念，这在某些操作中被广泛使用。然后，我将深入研究特定的数据操作。在第14章中，您可以看到这些工具的各种应用用法。

## Hierarchical Indexing
<font color=Indigo>

Hierarchical indexing is an important feature of pandas that enables you to have multiple(two or more) index levels on an axis. Somewhat abstractly, it provides a way for you to work with higher dimensional data in a lower dimensional form. Let’s start with a simple example; create a Series with a list of lists (or arrays) as the index:
<font color=Indigo>
Hierarchical indexing是pandas的一个重要特性，它使您能够在一个轴上拥有多个(两个或多个)索引级别。抽象地说，它为您提供了一种以更高维度形式处理低维数据的方法。让我们从一个简单的例子开始;创建一个带有表中表(或数组)index的Series:

In [210]:
data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data

a  1    1.007189
   2   -1.296221
   3    0.274992
b  1    0.228913
   3    1.352917
c  1    0.886429
   2   -2.001637
d  2   -0.371843
   3    1.669025
dtype: float64

What you’re seeing is a prettified view of a Series with a `MultiIndex` as its index. The“gaps” in the index display mean “use the label directly above”:
<font color=Indigo>
你所看到的是一个美化视图，一个以MultiIndex为索引的Series。索引显示中的“缺口”意味着“直接使用上面的标签”:

In [211]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 2, 0, 1, 1, 2]])

With a hierarchically indexed object, so-called partial indexing is possible, enabling you to concisely select subsets of the data:
<font color=Indigo>
使用一个层次化的索引对象，可以使用所谓的局部索引，从而使您能够精确地选择数据的子集:

In [212]:
data['b']

1    0.228913
3    1.352917
dtype: float64

In [213]:
data['b':'c']

b  1    0.228913
   3    1.352917
c  1    0.886429
   2   -2.001637
dtype: float64

In [214]:
data.loc[['b', 'd']]

b  1    0.228913
   3    1.352917
d  2   -0.371843
   3    1.669025
dtype: float64

Selection is even possible from an “inner” level:
<font color=Indigo>
甚至可以从内部的级别来选择：

In [215]:
data.loc[:, 2]

a   -1.296221
c   -2.001637
d   -0.371843
dtype: float64

Hierarchical indexing plays an important role in reshaping data and group-based operations like forming a pivot table. For example, you could rearrange the data into a DataFrame using its `unstack` method:
<font color=Indigo>
Hierarchical indexing在重构数据和基于组的操作方面扮演着重要的角色，像建立一个数据透视表这样的操作。例如，您可以使用DataFrame的`unstack`方法将其数据重新排列:

In [216]:
data.unstack()

          1         2         3
a  1.007189 -1.296221  0.274992
b  0.228913       NaN  1.352917
c  0.886429 -2.001637       NaN
d       NaN -0.371843  1.669025

The inverse operation of `unstack` is `stack`:
<font color=Indigo>
`unstack`的反向操作是`stack`

In [217]:
data.unstack().stack()

a  1    1.007189
   2   -1.296221
   3    0.274992
b  1    0.228913
   3    1.352917
c  1    0.886429
   2   -2.001637
d  2   -0.371843
   3    1.669025
dtype: float64

`stack` and `unstack` will be explored in more detail later in this chapter.
<font color=Indigo>
`stack`和`unstack`将在本章后面更详细地探讨。

With a DataFrame, either axis can have a hierarchical index:
<font color=Indigo>
关于DataFrame，两个轴都可以有一个hierarchical index:

In [218]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=[['Ohio', 'Ohio', 'Colorado'],
                              ['Green', 'Red', 'Green']])

In [219]:
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

The hierarchical levels can have names (as strings or any Python objects). If so, these will show up in the console output:
<font color=Indigo>
分层级别可以拥有名称(字符串或任何Python对象)。这些名称将出现在控制台输出中:

In [220]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

Be careful to distinguish the index names 'state' and 'color' from the row labels.
<font color=Indigo>
要注意区分索引名称的“state”和“color”与行标签的差别。

With partial column indexing you can similarly select groups of columns:
<font color=Indigo>
对于部分列索引，您可以用类似的方法选择一组列:

In [221]:
frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

A MultiIndex can be created by itself and then reused; the columns in the preceding DataFrame with level names could be created like this:
<font color=Indigo>
一个MultiIndex可以自己创建后再使用;前面的DataFrame中的列可以这样创建:

In [222]:
pd.MultiIndex.from_arrays([['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']],
                        names=['state', 'color'])

MultiIndex(levels=[['Colorado', 'Ohio'], ['Green', 'Red']],
           labels=[[1, 1, 0], [0, 1, 0]],
           names=['state', 'color'])

### Reordering and Sorting Levels
<font color=Indigo>
重新排序和级别排序

At times you will need to rearrange the order of the levels on an axis or sort the data by the values in one specific level. The `swaplevel` takes two level numbers or names and returns a new object with the levels interchanged (but the data is otherwise unaltered):
<font color=Indigo>
有时，您需要重新排列某个轴上的level的顺序，或者根据某个特定level的值对数据进行排序。`swaplevel`接受两个level数字或level名称，并返回一个新对象，该对象的级别是相互交换的(但是数据是不改变的):

In [223]:
frame.swaplevel('key1', 'key2')

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

sort_index, on the other hand, sorts the data using only the values in a single level. When swapping levels, it’s not uncommon to also use sort_index so that the result is lexicographically sorted by the indicated level:
<font color=Indigo>
另一方面，`sort_index`只使用单个level的值来对数据进行排序。在交换level时，使用`sort_index`是很常见的，因此结果是根据指定的`level`按照字母顺序排序的:

In [224]:
frame.sort_index(level=1)

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

In [225]:
frame.swaplevel(0, 1).sort_index(level=0)

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
     b        6   7        8
2    a        3   4        5
     b        9  10       11

Data selection performance is much better on hierarchically indexed objects if the index is lexicographically sorted starting with the outermost level—that is, the result of calling sort_index(level=0) or sort_index().
<font color=Indigo>
如果索引是按照字母顺序排序从最外层开始排序的，那么数据选择的性能就会好得多，这是调用`sort_index(level=0)`或`sort_index()`的结果。

### Summary Statistics by Level
<font color=Indigo>
逐级汇总统计

Many descriptive and summary statistics on DataFrame and Series have a level option in which you can specify the level you want to aggregate by on a particular axis. Consider the above DataFrame; we can aggregate by level on either the rows or columns like so:
<font color=Indigo>
关于DataFrame和Series的许多描述性和汇总统计信息都有一个level的选项，在这个选项中，您可以指定想要在某个特定轴上指定聚合的level。考虑上述DataFrame;我们可以按照这样的行或列来聚合:

In [226]:
frame.sum(level='key2')

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16

In [227]:
frame.sum(level='color', axis=1)

color      Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

Under the hood, this utilizes pandas’s groupby machinery, which will be discussed in more detail later in the book.
<font color=Indigo>
高级选项，是利用pandas的groupby机制，这本书将在后面的章节中更详细地讨论。

### Indexing with a DataFrame's columns
<font color=Indigo>
使用DataFrame的columns进行索引

It’s not unusual to want to use one or more columns from a DataFrame as the row index; alternatively, you may wish to move the row index into the DataFrame’s columns. Here’s an example DataFrame:
<font color=Indigo>
想要从DataFrame中使用一个或多个列作为行索引是很常见的；或者，您可能希望将行索引移动到DataFrame的列中。这里有一个例子DataFrame:

In [228]:
frame = pd.DataFrame({'a': range(7), 
                      'b': range(7, 0, -1),
                      'c': ['one', 'one', 'one', 'two', 'two', 'two', 'two'],
                      'd': [0, 1, 2, 0, 1, 2, 3]})
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

DataFrame’s set_index function will create a new DataFrame using one or more of its columns as the index:
<font color=Indigo>
DataFrame的set_index函数将使用一个或多个列作为索引:创建一个新的DataFrame。

In [229]:
frame2 = frame.set_index(['c', 'd'])
frame2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

By default the columns are removed from the DataFrame, though you can leave them in:
<font color=Indigo>
默认情况下，这些列从DataFrame中删除，尽管您可以将它们留在原地:

In [230]:
frame.set_index(['c', 'd'], drop=False)

       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3

reset_index, on the other hand, does the opposite of set_index; the hierarchical index levels are moved into the columns:
<font color=Indigo>
另一方面，reset_index与set_index是相反的;hierarchical index levels被移动到列中:

In [231]:
frame2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1

## Combining and Merging Datasets
<font color=Indigo>
数据集的组合和合并

Data contained in pandas objects can be combined together in a number of ways:
<font color=Indigo>
pandas对象中包含的数据可以通过多种方式组合在一起:

- pandas.merge connects rows in DataFrames based on one or more keys. This will be familiar to users of SQL or other relational databases, as it implements database join operations.
- pandas.concat concatenates or “stacks” together objects along an axis.
- The combine_first instance method enables splicing together overlapping data to fill in missing values in one object with values from another.
<font color=Indigo>

<font color=Indigo>
- pandas.merge基于一个或多个键连接DataFrames中的行。这对于SQL或其他关系数据库的用户来说是很熟悉的，因为它实现了数据库连接操作。
- pandas.concat沿着一个轴连接对象
- combine_first实例方法支持将重叠数据拼接在一起，以在一个对象中填充另一个对象的值。

I will address each of these and give a number of examples. They’ll be utilized in examples throughout the rest of the book.
<font color=Indigo>
我将一一介绍其中的每一个，并给出一些例子。在本书的其余部分中，它们将被用到。

### Database-Style DataFrame Joins
<font color=Indigo>

Merge or join operations combine datasets by linking rows using one or more keys. These operations are central to relational databases (e.g., SQL-based). The merge function in pandas is the main entry point for using these algorithms on your data.
<font color=Indigo>
合并或连接操作通过使用一个或多个键链接行来组合数据集。这些操作是关系数据库的核心(例如，基于sql的)。pandas的merge功能是在你的数据上使用这些算法的主要切入点。

Let’s start with a simple example:
<font color=Indigo>
让我们从一个简单的例子开始:

In [232]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

In [233]:
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],
                    'data2': range(3)})
df2

   data2 key
0      0   a
1      1   b
2      2   d

This is an example of a many-to-one join; the data in df1 has multiple rows labeled a and b, whereas df2 has only one row for each value in the key column. Calling merge with these objects we obtain:
<font color=Indigo>
这是一个多对一连接的示例;df1中的数据有多个行，列标记为a和b，而df2在键列中的每个值只有一行。再这些对象上调用merge我们将得到:

In [234]:
pd.merge(df1, df2)

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

Note that I didn’t specify which column to join on. If that information is not specified, merge uses the overlapping column names as the keys. It’s a good practice to specify explicitly, though:
<font color=Indigo>
注意，我没有指定要join哪个列。如果没有指定该信息，merge将使用重叠的列名作为键。明确地指出是一种很好的做法:

In [235]:
pd.merge(df1, df2, on='key')

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

If the column names are different in each object, you can specify them separately:
<font color=Indigo>
如果每个对象的列名不同，您可以分别指定它们:

In [236]:
df3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})
df3

   data1 lkey
0      0    b
1      1    b
2      2    a
3      3    c
4      4    a
5      5    a
6      6    b

In [237]:
df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'],
                    'data2': range(3)})
df4

   data2 rkey
0      0    a
1      1    b
2      2    d

In [238]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey')

   data1 lkey  data2 rkey
0      0    b      1    b
1      1    b      1    b
2      6    b      1    b
3      2    a      0    a
4      4    a      0    a
5      5    a      0    a

You may notice that the 'c' and 'd' values and associated data are missing from the result. By default merge does an 'inner' join; the keys in the result are the intersection, or the common set found in both tables. Other possible options are 'left', 'right', and 'outer'. The outer join takes the union of the keys, combining the effect of applying both left and right joins:
<font color=Indigo>
您可能会注意到，结果中缺少值“c”和“d”以及相关数据。默认情况下，merge会执行“inner”连接；结果中的键是交集，或者是在两个表中找到的公共集合。其他可选项是“left”、“right”和“outer”。outer连接使用了键的并集，结合了左和右连接的效果:

In [239]:
pd.merge(df1, df2, how='outer')

   data1 key  data2
0    0.0   b    1.0
1    1.0   b    1.0
2    6.0   b    1.0
3    2.0   a    0.0
4    4.0   a    0.0
5    5.0   a    0.0
6    3.0   c    NaN
7    NaN   d    2.0

See Table 8-1 for a summary of the options for how.
<font color=Indigo>
参见表8-1，以了解如何选择设置。

Table 8-1. Different join types with how argument

Option|Behavior
:-|:-
'inner' | Use only the key combinations observed in both tables
'left' | Use all key combinations found in the left table
'right' | Use all key combinations found in the right table
'outer' | Use all key combinations observed in both tables together
-------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------

表 8-1. 不同的连接类型和参数

Option|Behavior
:-|:-
'inner' | 只使用两个表中公共的键组合
'left' | 使用左表中找到的所有键组合
'right' | 使用右表中找到的所有键组合
'outer' | 使用两个表中找到的所有关键组合
-------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Many-to-many merges have well-defined, though not necessarily intuitive, behavior. Here’s an example:
<font color=Indigo>
多对多的合并有明确的定义，尽管不一定是直观的行为。这里有一个例子:

In [240]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                    'data1': range(6)})
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b

In [241]:
df2 = pd.DataFrame({'key': ['a', 'b', 'a', 'b', 'd'],
                    'data2': range(5)})
df2

   data2 key
0      0   a
1      1   b
2      2   a
3      3   b
4      4   d

In [242]:
pd.merge(df1, df2, on='key', how='left')

    data1 key  data2
0       0   b    1.0
1       0   b    3.0
2       1   b    1.0
3       1   b    3.0
4       2   a    0.0
..    ...  ..    ...
6       3   c    NaN
7       4   a    0.0
8       4   a    2.0
9       5   b    1.0
10      5   b    3.0

[11 rows x 3 columns]

Many-to-many joins form the Cartesian product of the rows. Since there were three 'b' rows in the left DataFrame and two in the right one, there are six 'b' rows in the result. The join method only affects the distinct key values appearing in the result:
<font color=Indigo>
多对多连接构成了行的笛卡尔积。由于左DataFrame中有3个“b”行，而右侧有两个行，因此结果中有6个“b”行。join方法只影响在结果中出现的不同的键值:

In [243]:
pd.merge(df1, df2, how='inner')

   data1 key  data2
0      0   b      1
1      0   b      3
2      1   b      1
3      1   b      3
4      5   b      1
5      5   b      3
6      2   a      0
7      2   a      2
8      4   a      0
9      4   a      2

To merge with multiple keys, pass a list of column names:
<font color=Indigo>
要合并多个键，可以通过一个列名称列表:

In [244]:
left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],
                     'key2': ['one', 'two', 'one'],
                     'lval': [1, 2, 3]})
left

  key1 key2  lval
0  foo  one     1
1  foo  two     2
2  bar  one     3

In [245]:
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                      'key2': ['one', 'one', 'one', 'two'],
                      'rval': [4, 5, 6, 7]})
right

  key1 key2  rval
0  foo  one     4
1  foo  one     5
2  bar  one     6
3  bar  two     7

In [246]:
pd.merge(left, right, on=['key1', 'key2'], how='outer')

  key1 key2  lval  rval
0  foo  one   1.0   4.0
1  foo  one   1.0   5.0
2  foo  two   2.0   NaN
3  bar  one   3.0   6.0
4  bar  two   NaN   7.0

To determine which key combinations will appear in the result depending on the choice of merge method, think of the multiple keys as forming an array of tuples to be used as a single join key (even though it’s not actually implemented that way).
<font color=Indigo>
要确定在结果中会出现哪些关键组合，取决于合并方法的选择，可以将多个键看作是一个数组的元组，作为一个单独的连接键使用(尽管实际上并不是这样实现的)。

__When you’re joining columns-on-columns, the indexes on the passed DataFrame objects are discarded.__
<font color=Indigo>
当您合并列到列时，传递的DataFrame对象上的索引会被丢弃。

A last issue to consider in merge operations is the treatment of overlapping column names. While you can address the overlap manually (see the earlier section on renaming axis labels), merge has a suffixes option for specifying strings to append to overlapping names in the left and right DataFrame objects:
<font color=Indigo>
在合并操作中要考虑的最后一个问题是对重叠列名的处理。虽然您可以手动处理重叠部分(请参阅前面关于重命名axis标签的部分)，但是merge有一个suffixes选项，用于指定在左边和右边的DataFrame对象中附加到重叠字符串上的名称。

In [247]:
pd.merge(left, right, on='key1')

  key1 key2_x  lval key2_y  rval
0  foo    one     1    one     4
1  foo    one     1    one     5
2  foo    two     2    one     4
3  foo    two     2    one     5
4  bar    one     3    one     6
5  bar    one     3    two     7

In [248]:
pd.merge(left, right, on='key1', suffixes=('_left', '_right'))

  key1 key2_left  lval key2_right  rval
0  foo       one     1        one     4
1  foo       one     1        one     5
2  foo       two     2        one     4
3  foo       two     2        one     5
4  bar       one     3        one     6
5  bar       one     3        two     7

See Table 8-2 for an argument reference on merge. Joining using the DataFrame’s row index is the subject of the next section.
<font color=Indigo>
有关merge的参数引用，请参见表8-2。使用DataFrame的行索引是下一节的主题。

Table 8-2. merge function arguments

Argument|Description
:-|:-
left | DataFrame to be merged on the left side.
right | DataFrame to be merged on the right side.
how | One of 'inner', 'outer', 'left', or 'right'; defaults to 'inner'.
on | Column names to join on. Must be found in both DataFrame objects. If not specified and no other join keys given, will use the intersection of the column names in left and right as the join keys.
left_on | Columns in left DataFrame to use as join keys.
right_on | Analogous to left_on for left DataFrame.
left_index | Use row index in left as its join key (or keys, if a MultiIndex).
right_index | Analogous to left_index.
sort | Sort merged data lexicographically by join keys; True by default (disable to get better performance in some cases on large datasets).
suffixes | Tuple of string values to append to column names in case of overlap; defaults to ('_x', '_y') (e.g., if 'data' in both DataFrame objects, would appear as 'data_x' and 'data_y' in result).
copy | If False, avoid copying data into resulting data structure in some exceptional cases; by default always copies.
indicator | Adds a special column `_merge` that indicates the source of each row; values will be 'left_only','right_only', or 'both' based on the origin of the joined data in each row.
-------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Table 8-2. merge函数的参数

实参数|描述
:-|:-
left | DataFrame 合并左边的值.
right | DataFrame 合并右边的值.
how | 'inner', 'outer', 'left', or 'right'；默认为 'inner'.
on | 要加入的列名。必须在DataFrame对象中能够找到。如果没有指定该参数，也没有指定其他的连接键，那么将使用left和right的列名作为连接键。
left_on | 将left Dataframe中的列作为join keys使用.
right_on | 与left_on的DataFrame相似。
left_index | 使用左边的行索引作为它的连接键(或者多索引的键)。
right_index | 类似于left_index.
sort | 通过连接键来对数据进行排序；默认为True(在大数据集的情况下可以获得更好的性能)。
suffixes | 如果列名重叠，将元祖字符串附加到列名中;默认为(`_x`，`_y`)(例如，如果`data`列名在所有的DataFrame对象中，结果会显示为'data_x'和'data_y')。
copy | 如果为False, 在某些特殊情况下避免将数据复制到结果的数据结构中; 默认总是复制.
indicator | 添加一个特殊的列 `_merge` 标明每一行的数据源；基于每一行的连接数据源，其值包含 'left_only','right_only', 或 'both'三种。
-------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### Merging on Index
<font color=Indigo>
索引上的合并

In some cases, the merge key(s) in a DataFrame will be found in its index. In this case, you can pass left_index=True or right_index=True (or both) to indicate that the index should be used as the merge key:
<font color=Indigo>
有时候，DataFrame中的连接键位于其索引中。在这种情况下，你可以传入left_index=True或right_index=True(或两个都传)以说明索引应该被用作连接键：

In [249]:
left1 = pd.DataFrame({'key': ['a', 'b', 'a', 'a', 'b', 'c'],
                      'value': range(6)})
left1

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5

In [250]:
right1 = pd.DataFrame({'group_val': [3.5, 7]}, index=['a', 'b'])
right1

   group_val
a        3.5
b        7.0

In [251]:
pd.merge(left1, right1, left_on='key', right_index=True)

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0

Since the default merge method is to intersect the join keys, you can instead form the union of them with an outer join:
<font color=Indigo>
由于默认的merge方法是求取连接键的交集，因此你可以通过outer join的方式得到他们的并集。

In [252]:
pd.merge(left1, right1, left_on='key', right_index=True, how='outer')

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0
5   c      5        NaN

With hierarchically indexed data, things are more complicated, as joining on index is implicitly a multiple-key merge:
<font color=Indigo>
对于层次化索引的数据，事情将变得更加复杂，因为加入索引是隐式的多键合并:

In [253]:
lefth = pd.DataFrame({'key1': ['Ohio', 'Ohio', 'Ohio',
....: 'Nevada', 'Nevada'],
....: 'key2': [2000, 2001, 2002, 2001, 2002],
....: 'data': np.arange(5.)})
lefth

   data    key1  key2
0   0.0    Ohio  2000
1   1.0    Ohio  2001
2   2.0    Ohio  2002
3   3.0  Nevada  2001
4   4.0  Nevada  2002

In [254]:
righth = pd.DataFrame(np.arange(12).reshape((6, 2)),
....: index=[['Nevada', 'Nevada', 'Ohio', 'Ohio',
....: 'Ohio', 'Ohio'],
....: [2001, 2000, 2000, 2000, 2001, 2002]],
....: columns=['event1', 'event2'])
righth

             event1  event2
Nevada 2001       0       1
       2000       2       3
Ohio   2000       4       5
       2000       6       7
       2001       8       9
       2002      10      11

In this case, you have to indicate multiple columns to merge on as a list (note the handling of duplicate index values with how='outer'):
<font color=Indigo>
在这种情况下，你必须以列表的形式指明用作和并键的多个列（注意使用how='outer'对重复索引值的处理以）：

In [255]:
pd.merge(lefth, righth, left_on=['key1', 'key2'], right_index=True)

   data    key1  key2  event1  event2
0   0.0    Ohio  2000       4       5
0   0.0    Ohio  2000       6       7
1   1.0    Ohio  2001       8       9
2   2.0    Ohio  2002      10      11
3   3.0  Nevada  2001       0       1

In [256]:
pd.merge(lefth,righth, left_on=['key1', 'key2'], right_index=True, how='outer')

   data    key1  key2  event1  event2
0   0.0    Ohio  2000     4.0     5.0
0   0.0    Ohio  2000     6.0     7.0
1   1.0    Ohio  2001     8.0     9.0
2   2.0    Ohio  2002    10.0    11.0
3   3.0  Nevada  2001     0.0     1.0
4   4.0  Nevada  2002     NaN     NaN
4   NaN  Nevada  2000     2.0     3.0

Using the indexes of both sides of the merge is also possible:
<font color=Indigo>
同时使用合并双方的索引也没问题：

In [257]:
left2 = pd.DataFrame([[1., 2.], [3., 4.], [5., 6.]],
....: index=['a', 'c', 'e'],
....: columns=['Ohio', 'Nevada'])
left2

   Ohio  Nevada
a   1.0     2.0
c   3.0     4.0
e   5.0     6.0

In [258]:
right2 = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [13, 14]],
....: index=['b', 'c', 'd', 'e'],
....: columns=['Missouri', 'Alabama'])
right2

   Missouri  Alabama
b       7.0      8.0
c       9.0     10.0
d      11.0     12.0
e      13.0     14.0

In [259]:
pd.merge(left2, right2, how='outer', left_index=True, right_index=True)

   Ohio  Nevada  Missouri  Alabama
a   1.0     2.0       NaN      NaN
b   NaN     NaN       7.0      8.0
c   3.0     4.0       9.0     10.0
d   NaN     NaN      11.0     12.0
e   5.0     6.0      13.0     14.0

DataFrame has a convenient join instance for merging by index. It can also be used to combine together many DataFrame objects having the same or similar indexes but non-overlapping columns. In the prior example, we could have written:
<font color=Indigo>
DataFrame还有一个join实例方法，它可以更为方便地实现按索引合并。它还可以用于合并多个带有相同或相似索引的DataFrame对象，而不管他们之间有没有重叠的列。在前面的例子中，我们可以编写:

In [260]:
left2.join(right2, how='outer')

   Ohio  Nevada  Missouri  Alabama
a   1.0     2.0       NaN      NaN
b   NaN     NaN       7.0      8.0
c   3.0     4.0       9.0     10.0
d   NaN     NaN      11.0     12.0
e   5.0     6.0      13.0     14.0

In part for legacy reasons (i.e., much earlier versions of pandas), DataFrame’s join method performs a left join on the join keys, exactly preserving the left frame’s row index. It also supports joining the index of the passed DataFrame on one of the columns of the calling DataFrame:
<font color=Indigo>
由于一些历史原因(早期版本的pandas)，DataFrame的join方法是在连接键上执行左连接，完全保留了左侧框架的行索引。它还支持参数DataFrame的索引跟调用者DataFrame的某个列之间的连接:

In [261]:
left1.join(right1, on='key')

  key  value  group_val
0   a      0        3.5
1   b      1        7.0
2   a      2        3.5
3   a      3        3.5
4   b      4        7.0
5   c      5        NaN

Lastly, for simple index-on-index merges, you can pass a list of DataFrames to join as an alternative to using the more general concat function described in the next section:
<font color=Indigo>
最后，对于简单的索引合并，你还可以向join传入一组DataFrames，后面我们会介绍更为通用的concat函数，它也能够实现此功能:

In [263]:
another = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [16., 17.]],
....: index=['a', 'c', 'e', 'f'],
....: columns=['New York', 'Oregon'])
another

   New York  Oregon
a       7.0     8.0
c       9.0    10.0
e      11.0    12.0
f      16.0    17.0

In [264]:
left2.join([right2, another])

   Ohio  Nevada  Missouri  Alabama  New York  Oregon
a   1.0     2.0       NaN      NaN       7.0     8.0
c   3.0     4.0       9.0     10.0       9.0    10.0
e   5.0     6.0      13.0     14.0      11.0    12.0

In [265]:
left2.join([right2, another], how='outer')

   Ohio  Nevada  Missouri  Alabama  New York  Oregon
a   1.0     2.0       NaN      NaN       7.0     8.0
b   NaN     NaN       7.0      8.0       NaN     NaN
c   3.0     4.0       9.0     10.0       9.0    10.0
d   NaN     NaN      11.0     12.0       NaN     NaN
e   5.0     6.0      13.0     14.0      11.0    12.0
f   NaN     NaN       NaN      NaN      16.0    17.0

### Concatenating Along an Axis
<font color=Indigo>
轴向连接

Another kind of data combination operation is referred to interchangeably as concatenation, binding, or stacking. NumPy’s concatenate function can do this with NumPy arrays:
<font color=Indigo>
另一种数据合并运算也被称作连接（concatenation）、绑定（binding）或堆叠（stacking）。NumPy有一个用于合并原始NumPy数组的concatenation函数：

In [268]:
arr = np.arange(12).reshape((3, 4))
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [269]:
np.concatenate([arr, arr], axis=1)

array([[ 0,  1,  2,  3,  0,  1,  2,  3],
       [ 4,  5,  6,  7,  4,  5,  6,  7],
       [ 8,  9, 10, 11,  8,  9, 10, 11]])

In the context of pandas objects such as Series and DataFrame, having labeled axes enable you to further generalize array concatenation. In particular, you have a number of additional things to think about:
<font color=Indigo>
对于pandas对象（如Series和DataFrame），有了标记的轴，就可以进一步扩展数组连接，具体来说，你还需要考虑以下事项：

- If the objects are indexed differently on the other axes, should we combine the distinct elements in these axes or use only the shared values (the intersection)?
- Do the concatenated chunks of data need to be identifiable in the resulting object?
- Does the “concatenation axis” contain data that needs to be preserved? In many cases, the default integer labels in a DataFrame are best discarded during concatenation.

<font color=Indigo>
- 如果各对象在其他轴上的索引不同，那么我们应该将这些轴上的不同元素组合在一起，还是只使用共享值(交集)?
- 是否需要在结果对象中标识连接的数据块?
- “连接轴”包含需要保存的数据吗？在许多情况下，DataFrame中的默认整数标签在连接过程中最好被丢弃。

The concat function in pandas provides a consistent way to address each of these concerns. I’ll give a number of examples to illustrate how it works. Suppose we have three Series with no index overlap:
<font color=Indigo>
pandas的concat函数提供了一种能够解决这些问题的可靠方式。我将给出一些例子来说明它是如何工作的。假设我们有三个没有重叠索引的Series。

In [270]:
s1 = pd.Series([0, 1], index=['a', 'b'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = pd.Series([5, 6], index=['f', 'g'])

Calling concat with these objects in a list glues together the values and indexes:
<font color=Indigo>
对这些对象调用concat可以将值和索引堆叠在一起:

In [271]:
pd.concat([s1, s2, s3])

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

By default concat works along axis=0, producing another Series. If you pass axis=1, the result will instead be a DataFrame (axis=1 is the columns):
<font color=Indigo>
默认情况下，concat是在axis=0上工作，最终产生一个新的Series。如果传入axis=1，结果将会变成一个DataFrame(axis=1是列):

In [272]:
pd.concat([s1, s2, s3], axis=1)

     0    1    2
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In this case there is no overlap on the other axis, which as you can see is the sorted union (the 'outer' join) of the indexes. You can instead intersect them by passing join='inner':
<font color=Indigo>
在这种情况下，另一条轴上没有重叠，正如您看到的，索引的排序是并集(“外连接”)。你可以通过传入join='inner'来得到他们的交集相交。

In [274]:
s4 = pd.concat([s1 * 5, s3])
s4

a    0
b    5
f    5
g    6
dtype: int64

In [275]:
pd.concat([s1, s4], axis=1)

     0  1
a  0.0  0
b  1.0  5
f  NaN  5
g  NaN  6

In [276]:
pd.concat([s1, s4], axis=1, join='inner')

   0  1
a  0  0
b  1  5

In this last example, the 'f' and 'g' labels disappeared because of the join='inner' option.
<font color=Indigo>
在最后一个例子中，“f”和“g”标签消失了，因为使用了join='inner'选项。

You can even specify the axes to be used on the other axes with join_axes:
<font color=Indigo>
你甚至可以通过join_axes指定要在其他轴上使用的索引:

In [277]:
pd.concat([s1, s4], axis=1, join_axes=[['a', 'c', 'b', 'e']])

     0    1
a  0.0  0.0
c  NaN  NaN
b  1.0  5.0
e  NaN  NaN

A potential issue is that the concatenated pieces are not identifiable in the result. Suppose instead you wanted to create a hierarchical index on the concatenation axis. To do this, use the keys argument:
<font color=Indigo>
不过有个潜在的问题，参与连接的片段在结果中区分不开。如果你想要在连接轴上创建一个层次化索引，请使用keys参数:

In [279]:
result = pd.concat([s1, s1, s3], keys=['one', 'two', 'three'])
result

one    a    0
       b    1
two    a    0
       b    1
three  f    5
       g    6
dtype: int64

In [280]:
result.unstack()

         a    b    f    g
one    0.0  1.0  NaN  NaN
two    0.0  1.0  NaN  NaN
three  NaN  NaN  5.0  6.0

In the case of combining Series along axis=1, the keys become the DataFrame column headers:
<font color=Indigo>
如果将Series沿着axis=1合并，则keys变成了DataFrame的column herders

In [281]:
pd.concat([s1, s2, s3], axis=1, keys=['one', 'two', 'three'])

   one  two  three
a  0.0  NaN    NaN
b  1.0  NaN    NaN
c  NaN  2.0    NaN
d  NaN  3.0    NaN
e  NaN  4.0    NaN
f  NaN  NaN    5.0
g  NaN  NaN    6.0

The same logic extends to DataFrame objects:
<font color=Indigo>
同样的逻辑扩展到DataFrame对象也是一样的:

In [282]:
df1 = pd.DataFrame(np.arange(6).reshape(3, 2), index=['a', 'b', 'c'],
....: columns=['one', 'two'])
df1

   one  two
a    0    1
b    2    3
c    4    5

In [283]:
df2 = pd.DataFrame(5 + np.arange(4).reshape(2, 2), index=['a', 'c'],
....: columns=['three', 'four'])
df2

   three  four
a      5     6
c      7     8

In [284]:
pd.concat([df1, df2], axis=1, keys=['level1', 'level2'])

  level1     level2
     one two  three four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0

If you pass a dict of objects instead of a list, the dict’s keys will be used for the keys option:
<font color=Indigo>
如果你传递的不是列表而是一个字典，则字典的keys就会被当作keys选项的值:

In [285]:
pd.concat({'level1': df1, 'level2': df2}, axis=1)

  level1     level2
     one two  three four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0

There are additional arguments governing how the hierarchical index is created (see Table 8-3). For example, we can name the created axis levels with the names argument:
<font color=Indigo>
还有一些关于如何创建层次化索引的附加参数(参见表8-3)。例如，我们可以用names参数来命名所创建的axis级别:

In [286]:
pd.concat([df1, df2], axis=1, keys=['level1', 'level2'], names=['upper', 'lower'])

upper level1     level2
lower    one two  three four
a          0   1    5.0  6.0
b          2   3    NaN  NaN
c          4   5    7.0  8.0

A last consideration concerns DataFrames in which the row index does not contain any relevant data:
<font color=Indigo>
最后一个需要考虑的问题是，生成跟当前分析无关的DataFrame行索引（也就是说那些行索引是无意义的）:

In [287]:
df1 = pd.DataFrame(np.random.randn(3, 4), columns=['a', 'b', 'c', 'd'])
df1

          a         b         c         d
0 -0.438570 -0.539741  0.476985  3.248944
1 -1.021228 -0.577087  0.124121  0.302614
2  0.523772  0.000940  1.343810 -0.713544

In [288]:
df2 = pd.DataFrame(np.random.randn(2, 3), columns=['b', 'd', 'a'])
df2

          b         d         a
0 -0.831154 -2.370232 -1.860761
1 -0.860757  0.560145 -1.265934

In this case, you can pass ignore_index=True:
<font color=Indigo>
在这个例子中，你可以传递ignore_index=True:

In [291]:
pd.concat([df1, df2], ignore_index=True)

          a         b         c         d
0 -0.438570 -0.539741  0.476985  3.248944
1 -1.021228 -0.577087  0.124121  0.302614
2  0.523772  0.000940  1.343810 -0.713544
3 -1.860761 -0.831154       NaN -2.370232
4 -1.265934 -0.860757       NaN  0.560145

Table 8-3. concat function arguments

Argument|Description
:-|:-
objs | List or dict of pandas objects to be concatenated; this is the only required argument
axis | Axis to concatenate along; defaults to 0 (along rows)
join | Either 'inner' or 'outer' ('outer' by default); whether to intersection (inner) or union (outer) together indexes along the other axes
join_axes | Specific indexes to use for the other n–1 axes instead of performing union/intersection logic
keys | Values to associate with objects being concatenated, forming a hierarchical index along the concatenation axis; can either be a list or array of arbitrary values, an array of tuples, or a list  of arrays (if multiple-level arrays passed in levels)
levels | Specific indexes to use as hierarchical index level or levels if keys passed
names | Names for created hierarchical levels if keys and/or levels passed
verify_integrity | Check new axis in concatenated object for duplicates and raise exception if so; by default (False) allows duplicates
ignore_index | Do not preserve indexes along concatenation axis, instead producing a new range(total_length) index
-------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------

表 8-3. concat function arguments

参数|描述
:-|:-
objs | 参与连接的pandas对象的列表或字典。唯一必须的参数
axis | 指明连接的轴向，默认为0
join | "inner"、"outer"其中之一，默认为"outer"。指明其他轴向上的索引是按交集（inner）还是并集（outer）进行合并
join_axes | 指明用于其他n-1条轴的索引，不执行并集、交集运算
keys | 与连接对象有关的值，用于形成连接轴向上的层次化索引。可以是任意值的列表或数组、元祖数组、数组列表（如果将levels设置成多级数组的话）
levels | 指定用作层次化索引各级别上的索引，如果设置了keys的话（就是外层级别的索引）
names | 用于创建分层级别额名称，如果设置了keys和（或）levels的话
verify_integrity | 检查结果对象新轴上的重复情况，如果发现则引发异常。默认（False）允许重复。
ignore_index | 不保留连接轴上的索引，产生一组新索引range(total_length)
-------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------

### Combining Data with Overlap
<font color=Indigo>
合并重叠数据

There is another data combination situation that can’t be expressed as either a merge or concatenation operation. You may have two datasets whose indexes overlap in full or part. As a motivating example, consider NumPy’s where function, which performs the array-oriented equivalent of an if-else expression:
<font color=Indigo>
还有另一种数据组合的情况，不能用简单的合并（merge）或连接（concatenation）操作来表示。比如说，你可能有索引全部或部分重叠两个数据集。给这个例子增加一点启发性，我们使用NumPy的where函数，它用于表达一种矢量化的if-else:

In [292]:
a = pd.Series([np.nan, 2.5, np.nan, 3.5, 4.5, np.nan],
.....: index=['f', 'e', 'd', 'c', 'b', 'a'])
a

f    NaN
e    2.5
d    NaN
c    3.5
b    4.5
a    NaN
dtype: float64

In [295]:
b = pd.Series(np.arange(len(a), dtype=np.float64),
.....: index=['f', 'e', 'd', 'c', 'b', 'a'])
b[-1] = np.nan
b

f    0.0
e    1.0
d    2.0
c    3.0
b    4.0
a    NaN
dtype: float64

In [296]:
np.where(pd.isnull(a), b, a)

array([ 0. ,  2.5,  2. ,  3.5,  4.5,  nan])

Series has a combine_first method, which performs the equivalent of this operation along with pandas’s usual data alignment logic:
<font color=Indigo>
Series有一个combine_first方法，实现的也是一样的功能，而且会进行数据对其：

In [297]:
b[:-2].combine_first(a[2:])

a    NaN
b    4.5
c    3.0
d    2.0
e    1.0
f    0.0
dtype: float64

With DataFrames, combine_first does the same thing column by column, so you can think of it as
“patching” missing data in the calling object with data from the object you pass:
<font color=Indigo>
对于DataFrame，combine_first自然也会在列上做同样的事情，因此你可以将其看作：用参数对象中的数据为调用者对象的缺失数据“打补丁”：

In [298]:
df1 = pd.DataFrame({'a': [1., np.nan, 5., np.nan],
.....: 'b': [np.nan, 2., np.nan, 6.],
.....: 'c': range(2, 18, 4)})
df1

     a    b   c
0  1.0  NaN   2
1  NaN  2.0   6
2  5.0  NaN  10
3  NaN  6.0  14

In [299]:
df2 = pd.DataFrame({'a': [5., 4., np.nan, 3., 7.],
.....: 'b': [np.nan, 3., 4., 6., 8.]})
df2

     a    b
0  5.0  NaN
1  4.0  3.0
2  NaN  4.0
3  3.0  6.0
4  7.0  8.0

In [300]:
df1.combine_first(df2)

     a    b     c
0  1.0  NaN   2.0
1  4.0  2.0   6.0
2  5.0  4.0  10.0
3  3.0  6.0  14.0
4  7.0  8.0   NaN

## Reshaping and Pivoting
<font color=Indigo>
重塑和轴向旋转

There are a number of basic operations for rearranging tabular data. These are alternatingly referred to as reshape or pivot operations.
<font color=Indigo>
有许多用于重新排列表格形数据的基础运算。这些函数也称作重塑（reshape）或轴向旋转（pivot）运算。

### Reshaping with Hierarchical Indexing
<font color=Indigo>
重塑层次化索引