In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [3]:
df = DataFrame({'animal': 'cat dog cat fish dog cat cat'.split(),
                'size': list('SSMMMLL'),
                'weight': [8, 10, 11, 1,20, 12, 12],
                'adult': [False] * 5 + [True] * 2}) ; df

   adult animal size  weight
0  False    cat    S       8
1  False    dog    S      10
2  False    cat    M      11
3  False   fish    M       1
4  False    dog    M      20
5   True    cat    L      12
6   True    cat    L      12

In [6]:
df.groupby('animal').apply(lambda subf: subf['size'][subf['weight'].idxmax])

animal
cat     L
dog     M
fish    M
dtype: object

In [7]:
gb = df.groupby(['animal']); gb

In [8]:
gb.get_group('cat')

   adult size  weight
0  False    S       8
2  False    M      11
5   True    L      12
6   True    L      12

In [10]:
def grow_up(x):
    avg_weight =  sum(x[x['size'] == 'S'].weight * 1.5)
    avg_weight += sum(x[x['size'] == 'M'].weight * 1.25)
    avg_weight += sum(x[x['size'] == 'L'].weight)
    avg_weight /= len(x)
    return Series(['L', avg_weight, True], index=['size', 'weight', 'adult'])

In [11]:
expected_df = gb.apply(grow_up); expected_df

       size   weight  adult
animal
cat       L  12.4375   True
dog       L  20.0000   True
fish      L   1.2500   True

In [13]:
grow_up(df)

size         L
weight      13
adult     True
dtype: object

---

In [14]:
s = Series([i / 100.0 for i in range(1, 11)]); s

0    0.01
1    0.02
2    0.03
3    0.04
4    0.05
5    0.06
6    0.07
7    0.08
8    0.09
9    0.10
dtype: float64

In [21]:
from functools import reduce

In [31]:
def cum_ret(x, y):
    return x * (1 + y)

def red(x):
    return reduce(cum_ret, x, 1.0)

In [32]:
s.expanding().apply(red)

0    1.010000
1    1.030200
2    1.061106
3    1.103550
4    1.158728
5    1.228251
6    1.314229
7    1.419367
8    1.547110
9    1.701821
dtype: float64

In [37]:
s.expanding()

Expanding [min_periods=1,center=False,axis=0]

In [36]:
help(pd.DataFrame.expanding)

Help on function expanding in module pandas.core.generic:

expanding(self, min_periods=1, freq=None, center=False, axis=0)
    Provides expanding transformations.

    .. versionadded:: 0.18.0

    Parameters
    ----------
    min_periods : int, default None
        Minimum number of observations in window required to have a value
        (otherwise result is NA).
    freq : string or DateOffset object, optional (default None) (DEPRECATED)
        Frequency to conform the data to before computing the statistic.
        Specified as a frequency string or DateOffset object.
    center : boolean, default False
        Set the labels at the center of the window.
    axis : int or string, default 0

    Returns
    -------
    a Window sub-classed for the particular operation

    Examples
    --------

    >>> df = DataFrame({'B': [0, 1, 2, np.nan, 4]})
         B
    0  0.0
    1  1.0
    2  2.0
    3  NaN
    4  4.0

    >>> df.expanding(2).sum()
         B
    0  NaN
    1  1.0
    2  3.0
    3  3.0
    4  7.0

    Notes
    -----
    By default, the result is set to the right edge of the window. This can be
    changed to the center of the window by setting ``center=True``.

    The `freq` keyword is used to conform time series data to a specified
    frequency by resampling the data. This is done with the default parameters
    of :meth:`~pandas.Series.resample` (i.e. using the `mean`).

In [33]:
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.