In [3]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [7]:
df = DataFrame(np.random.randn(6, 1), index = pd.date_range('2013-08-01', periods=6, freq='B'), columns=list('A')); df

                   A
2013-08-01 -0.287598
2013-08-02  1.189082
2013-08-05 -0.550374
2013-08-06 -1.169063
2013-08-07  0.088791
2013-08-08 -1.037039

In [11]:
df.loc[df.index[3], 'A'] = np.nan; df

                   A
2013-08-01 -0.287598
2013-08-02  1.189082
2013-08-05 -0.550374
2013-08-06       NaN
2013-08-07  0.088791
2013-08-08 -1.037039

In [12]:
df.reindex(df.index[::-1]).ffill()

                   A
2013-08-08 -1.037039
2013-08-07  0.088791
2013-08-06  0.088791
2013-08-05 -0.550374
2013-08-02  1.189082
2013-08-01 -0.287598