# MultiLindexing

In [22]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

In [23]:
df = DataFrame({'row': [0, 1, 2],
                'One_X': [1.1] * 3,
                'One_Y': [1.2] * 3,
                'Two_X': [1.11] * 3,
                'Two_Y': [1.22] * 3}) ; df

   One_X  One_Y  Two_X  Two_Y  row
0    1.1    1.2   1.11   1.22    0
1    1.1    1.2   1.11   1.22    1
2    1.1    1.2   1.11   1.22    2

In [24]:
df = df.set_index('row') ;df

     One_X  One_Y  Two_X  Two_Y
row
0      1.1    1.2   1.11   1.22
1      1.1    1.2   1.11   1.22
2      1.1    1.2   1.11   1.22

In [35]:
df.columns = pd.MultiIndex.from_tuples([tuple(c.split('_')) for c in df.columns]); df

     One        Two
       X    Y     X     Y
row
0    1.1  1.2  1.11  1.22
1    1.1  1.2  1.11  1.22
2    1.1  1.2  1.11  1.22

In [42]:
df_st = df.stack(level=0) ; df_st

            X     Y
row
0   One  1.10  1.20
    Two  1.11  1.22
1   One  1.10  1.20
    Two  1.11  1.22
2   One  1.10  1.20
    Two  1.11  1.22

In [70]:
df = df_st.reset_index(1) ; df

    level_1     X     Y
row
0       One  1.10  1.20
0       Two  1.11  1.22
1       One  1.10  1.20
1       Two  1.11  1.22
2       One  1.10  1.20
2       Two  1.11  1.22

In [56]:
df.columns = ['Sample', 'All_x', 'All_Y'] ; df

    Sample  All_x  All_Y
row
0      One   1.10   1.20
0      Two   1.11   1.22
1      One   1.10   1.20
1      Two   1.11   1.22
2      One   1.10   1.20
2      Two   1.11   1.22

## Arithmetic

In [66]:
[(x,y) for x in ['a', 'b', 'c'] for y in ['o', 'i']]

[('a', 'o'), ('a', 'i'), ('b', 'o'), ('b', 'i'), ('c', 'o'), ('c', 'i')]

In [64]:
cols = pd.MultiIndex.from_tuples([(x,y) for x in ['A', 'B', 'C'] for y in ['O', 'I']]); cols

MultiIndex(levels=[['A', 'B', 'C'], ['I', 'O']],
           labels=[[0, 0, 1, 1, 2, 2], [1, 0, 1, 0, 1, 0]])

In [63]:
df = pd.DataFrame(np.random.randn(2, 6), index=['n', 'm'], columns=cols); df

          A                   B                   C
          O         I         O         I         O         I
n -1.113864  0.020528  0.477275  1.005008  1.284153 -0.777077
m -0.147808  1.225667  1.092070 -0.863341 -1.313119 -0.844697

In [67]:
df = df.div(df['C'], level=1) ; df

          A                   B              C
          O         I         O         I    O    I
n -0.867392 -0.026417  0.371665 -1.293317  1.0  1.0
m  0.112563 -1.451013 -0.831661  1.022072  1.0  1.0

## Slicing

## Sorting

## Levels

## panelnd

---

## pandas.DataFrame.set_index

In [28]:
help(pd.DataFrame.set_index)

Help on function set_index in module pandas.core.frame:

set_index(self, keys, drop=True, append=False, inplace=False, verify_integrity=False)
    Set the DataFrame index (row labels) using one or more existing
    columns. By default yields a new object.

    Parameters
    ----------
    keys : column label or list of column labels / arrays
    drop : boolean, default True
        Delete columns to be used as the new index
    append : boolean, default False
        Whether to append columns to existing index
    inplace : boolean, default False
        Modify the DataFrame in place (do not create a new object)
    verify_integrity : boolean, default False
        Check the new index for duplicates. Otherwise defer the check until
        necessary. Setting to False will improve the performance of this
        method

    Examples
    --------
    >>> indexed_df = df.set_index(['A', 'B'])
    >>> indexed_df2 = df.set_index(['A', [0, 1, 2, 0, 1, 2]])
    >>> indexed_df3 = df.set_index([[0, 1, 2, 0, 1, 2]])

    Returns
    -------
    dataframe : DataFrame

## pandas.MultiIndex.from_tuples

In [29]:
help(pd.MultiIndex.from_tuples)

Help on method from_tuples in module pandas.core.indexes.multi:

from_tuples(tuples, sortorder=None, names=None) method of builtins.type instance
    Convert list of tuples to MultiIndex

    Parameters
    ----------
    tuples : list / sequence of tuple-likes
        Each tuple is the index of one row/column.
    sortorder : int or None
        Level of sortedness (must be lexicographically sorted by that
        level)

    Returns
    -------
    index : MultiIndex

    Examples
    --------
    >>> tuples = [(1, u'red'), (1, u'blue'),
                  (2, u'red'), (2, u'blue')]
    >>> MultiIndex.from_tuples(tuples, names=('number', 'color'))

    See Also
    --------
    MultiIndex.from_arrays : Convert list of arrays to MultiIndex
    MultiIndex.from_product : Make a MultiIndex from cartesian product
                              of iterables

## str.split

In [30]:
help(str.split)

Help on method_descriptor:

split(...)
    S.split(sep=None, maxsplit=-1) -> list of strings

    Return a list of the words in S, using sep as the
    delimiter string.  If maxsplit is given, at most maxsplit
    splits are done. If sep is not specified or is None, any
    whitespace string is a separator and empty strings are
    removed from the result.

## pandas.DataFrame.stack

In [37]:
help(pd.DataFrame.stack)

Help on function stack in module pandas.core.frame:

stack(self, level=-1, dropna=True)
    Pivot a level of the (possibly hierarchical) column labels, returning a
    DataFrame (or Series in the case of an object with a single level of
    column labels) having a hierarchical index with a new inner-most level
    of row labels.
    The level involved will automatically get sorted.

    Parameters
    ----------
    level : int, string, or list of these, default last level
        Level(s) to stack, can pass level name
    dropna : boolean, default True
        Whether to drop rows in the resulting Frame/Series with no valid
        values

    Examples
    ----------
    >>> s
         a   b
    one  1.  2.
    two  3.  4.

    >>> s.stack()
    one a    1
        b    2
    two a    3
        b    4

    Returns
    -------
    stacked : DataFrame or Series

## pandas.DataFrame.reset_index

In [49]:
help(pd.DataFrame.reset_index)

Help on function reset_index in module pandas.core.frame:

reset_index(self, level=None, drop=False, inplace=False, col_level=0, col_fill='')
    For DataFrame with multi-level index, return new DataFrame with
    labeling information in the columns under the index names, defaulting
    to 'level_0', 'level_1', etc. if any are None. For a standard index,
    the index name will be used (if set), otherwise a default 'index' or
    'level_0' (if 'index' is already taken) will be used.

    Parameters
    ----------
    level : int, str, tuple, or list, default None
        Only remove the given levels from the index. Removes all levels by
        default
    drop : boolean, default False
        Do not try to insert index into dataframe columns. This resets
        the index to the default integer index.
    inplace : boolean, default False
        Modify the DataFrame in place (do not create a new object)
    col_level : int or str, default 0
        If the columns have multiple levels, determines which level the
        labels are inserted into. By default it is inserted into the first
        level.
    col_fill : object, default ''
        If the columns have multiple levels, determines how the other
        levels are named. If None then the index name is repeated.

    Returns
    -------
    resetted : DataFrame

##  pandas.DataFrame.div

In [68]:
help(pd.DataFrame.div)

Help on function truediv in module pandas.core.ops:

truediv(self, other, axis='columns', level=None, fill_value=None)
    Floating division of dataframe and other, element-wise (binary operator `truediv`).

    Equivalent to ``dataframe / other``, but with support to substitute a fill_value for
    missing data in one of the inputs.

    Parameters
    ----------
    other : Series, DataFrame, or constant
    axis : {0, 1, 'index', 'columns'}
        For Series input, axis to match Series index on
    fill_value : None or float value, default None
        Fill missing (NaN) values with this value. If both DataFrame
        locations are missing, the result will be missing
    level : int or name
        Broadcast across a level, matching Index values on the
        passed MultiIndex level

    Notes
    -----
    Mismatched indices will be unioned together

    Returns
    -------
    result : DataFrame

    See also
    --------
    DataFrame.rtruediv