# Selection

## DataFrames

In [1]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

In [2]:
df = DataFrame({'AAA': [4, 5, 6, 7], 'BBB': [10, 20, 30, 40], 'CCC': [100, 50, -30, -50]}) ; df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

If 1, 2 are in index, return bool array

In [3]:
df.index.isin([1, 2])

array([False,  True,  True, False], dtype=bool)

aggregation bool series, use bool array and df colunns AAA is <= 6

In [33]:
(df.index.isin([1, 2])) & (df.AAA <= 6)

0    False
1     True
2     True
3    False
Name: AAA, dtype: bool

selection row index is 0, 2, 4 and columns AAA >= 6__

In [34]:
df.loc[(df.index.isin([0, 2, 4])) & (df.AAA >=6)]

   AAA  BBB  CCC
2    6   30  -30

create dict "data", {'AAA': [4, 5, 6, 7], 'BBB': [10, 20, 30, 40], 'CCC': [100, 50, -30, -50]}

In [35]:
data = {'AAA': [4, 5, 6, 7], 'BBB': [10, 20 ,30 ,40], 'CCC': [100, 50, -30, -50]}

create DataFrame "df_d", data is "dict", index is 'foo', 'bar', 'boo', 'kar'

In [36]:
df_d = DataFrame(data = data, index = ['foo', 'bar', 'boo', 'kar']); df_d

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

inverse selection row, index is 'foo', 'boo' and columns AAA <= 6

In [41]:
df_d.loc[(df_d.index.isin(['foo', 'boo'])) & (df_d.AAA <= 6)]

     AAA  BBB  CCC
foo    4   10  100
boo    6   30  -30

selection row, position of df is 0~3

In [43]:
df_d.iloc[0:3]

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30

selection row, index of df is 'bar'~'kar'

In [48]:
df_d.loc['bar':'kar']

     AAA  BBB  CCC
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

selection row , position of df2 is 1~3

In [44]:
df.iloc[1:3]

   AAA  BBB  CCC
1    5   20   50
2    6   30  -30

selection row , index of df2 is 1~3

In [45]:
df.loc[1:3]

   AAA  BBB  CCC
1    5   20   50
2    6   30  -30
3    7   40  -50

## Panels

In [6]:
rng = pd.date_range('1/1/2013', periods=100, freq='D')
data = np.random.rand(100, 4)
cols = ['A', 'B', 'C', 'D']

In [7]:
df1 = pd.DataFrame(data, rng, cols)
df2 = pd.DataFrame(data, rng, cols)
df3 = pd.DataFrame(data, rng, cols)

In [8]:
pf = pd.Panel({'df1': df1, 'df2': df2, 'df3': df3}); pf

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 100 (major_axis) x 4 (minor_axis)
Items axis: df1 to df3
Major_axis axis: 2013-01-01 00:00:00 to 2013-04-10 00:00:00
Minor_axis axis: A to D

### New Columns

In [9]:
df4 = pd.DataFrame({'AAA': [1,2,1,3], 'BBB': [1,1,2,2], 'CCC': [2,1,3,1]}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [10]:
source_cols = df4.columns; source_cols

Index(['AAA', 'BBB', 'CCC'], dtype='object')

In [11]:
new_cols = [str(x) + '_cat' for x in source_cols]; new_cols

['AAA_cat', 'BBB_cat', 'CCC_cat']

In [12]:
categories = {1: 'Alpha', 2: 'Beta', 3: 'Charlie'}

In [13]:
categories.get(2)

'Beta'

In [14]:
df4[source_cols]

   AAA  BBB  CCC
0    1    1    2
1    2    1    1
2    1    2    3
3    3    2    1

In [15]:
df4[new_cols] = df4.applymap(categories.get); df4

   AAA  BBB  CCC  AAA_cat BBB_cat  CCC_cat
0    1    1    2    Alpha   Alpha     Beta
1    2    1    1     Beta   Alpha    Alpha
2    1    2    3    Alpha    Beta  Charlie
3    3    2    1  Charlie    Beta    Alpha

In [16]:
df5 = pd.DataFrame({'AAA': [1,1,1,2,2,2,3,3], 'BBB': [2,1,3,4,5,1,2,3]}); df5

   AAA  BBB
0    1    2
1    1    1
2    1    3
3    2    4
4    2    5
5    2    1
6    3    2
7    3    3

In [17]:
df5.loc[df.groupby('AAA')['BBB'].idxmin()]

   AAA  BBB
0    1    2
1    1    1
2    1    3
3    2    4

In [18]:
df5.sort_values(by='BBB').groupby('AAA', as_index=False).first()

   AAA  BBB
0    1    1
1    2    1
2    3    2

---

# pandas.Index.isin

In [19]:
help(df.index.isin)

Help on method isin in module pandas.core.indexes.base:

isin(values, level=None) method of pandas.core.indexes.range.RangeIndex instance
    Compute boolean array of whether each index value is found in the
    passed set of values.

    Parameters
    ----------
    values : set or list-like
        Sought values.

        .. versionadded:: 0.18.1

        Support for values as a set

    level : str or int, optional
        Name or position of the index level to use (if the index is a
        MultiIndex).

    Notes
    -----
    If `level` is specified:

    - if it is the name of one *and only one* index level, use that level;
    - otherwise it should be a number indicating level position.

    Returns
    -------
    is_contained : ndarray (boolean dtype)

In [20]:
df6 = pd.DataFrame({'R1': [1, 1, 3, 5],  'R2': [0, 1, 2, 5], 'R3': [1, 5, 4, 1]}, index=['one', 'two', 'three', 'four']); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [21]:
df.isin([1])

     AAA    BBB    CCC
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [22]:
df6.loc['one'].isin([1])

R1     True
R2    False
R3     True
Name: one, dtype: bool

In [23]:
df6.index.isin(['one'])

array([ True, False, False, False], dtype=bool)

In [24]:
df6.R1.isin([2])

one      False
two      False
three    False
four     False
Name: R1, dtype: bool

---

## pandas.date_range

In [25]:
help(pd.date_range)

Help on function date_range in module pandas.core.indexes.datetimes:

date_range(start=None, end=None, periods=None, freq='D', tz=None, normalize=False, name=None, closed=None, **kwargs)
    Return a fixed frequency datetime index, with day (calendar) as the default
    frequency

    Parameters
    ----------
    start : string or datetime-like, default None
        Left bound for generating dates
    end : string or datetime-like, default None
        Right bound for generating dates
    periods : integer or None, default None
        If None, must specify start and end
    freq : string or DateOffset, default 'D' (calendar daily)
        Frequency strings can have multiples, e.g. '5H'
    tz : string or None
        Time zone name for returning localized DatetimeIndex, for example
        Asia/Hong_Kong
    normalize : bool, default False
        Normalize start/end dates to midnight before generating date range
    name : str, default None
        Name of the resulting index
    closed : string or None, default None
        Make the interval closed with respect to the given frequency to
        the 'left', 'right', or both sides (None)

    Notes
    -----
    2 of start, end, or periods must be specified

    To learn more about the frequency strings, please see `this link
    <http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases>`__.

    Returns
    -------
    rng : DatetimeIndex

In [26]:
pd7.date_range('2017-11-12', periods=3, freq='1D')

NameError: name 'pd7' is not defined

---

# dict.get

In [ ]:
help(dict.get)

In [ ]:
categories.get(1)

---

# pandas.DataFrame.applymap()

In [ ]:
help(pd.DataFrame.applymap)

applymap() 是 __element-wise__ 的,作用于每个 __DataFrame__ 的 __每个数据__

In [ ]:
df6.applymap(categories.get)

---

# pandas.DataFrame.sort_values

In [ ]:
help(pd.DataFrame.sort_values)

---

# pandas.DataFrame.groupby

In [ ]:
help(pd.DataFrame.groupby)

---

# pandas.core.groupby.GroupBy.first

In [ ]:
help(pd.core.groupby.GroupBy.first)

---

# pandas.core.groupby.DataFrameGroupBy.idxmin

In [ ]:
help(pd.core.groupby.DataFrameGroupBy.idxmin)